<div class="row">
  <div class="col-md-12">
    <h2>Cup Directions to Headquarters and Hotel Info</h2>
    <br/>
    <h4>Headquarters</h4>
    <div>RSL Indoor Facility</div>
    <div>2800 N. 230 E. North Logan, Utah</div>
    <br/>
    <h4>Hotel Info:</h4>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Days Inn</h3>
      </div>
      <div class="panel-body">
        <p>435-752-9141</p>
        <div>447 North Main Street, Logan, UT</div>
        <div><a href="mailTo:daysinnlogan@hotmail.com">daysinnlogan@hotmail.com</a></div>
        <div><a href="http://www.daysinn.com/hotels/utah/logan/days-inn-and-suites-logan/rooms-rates?srcDestination=&partner_id=&srcBrand=&campaign_code=&propId=DI31618&checkout_date=07/13/2013&modify=false&children=0&useWRPoints=false&ratePlan=BAR&teens=2&affiliate_id=&brand_code=BH%2cDI%2cRA%2cBU%2cHJ%2cKG%2cMT%2cSE%2cTL%2cWG%2cWY%2cPX%2cWT%2cWP%2cPN&iata=&adults=2&checkin_date=07/10/2013&rooms=1">http://www.daysinn.com</a></div>
        <ul>
          <li>Rooms: 2 Queen beds or 1 King bed</li>
          <li>Internet: Free Wireless</li>
          <li>Roll away bed: Not Available</li>
          <li>Continental Breakfast: Yes - 6:00-10:00am</li>
          <li>Swimming Pool: Indoor Pool and Jacuzzi</li>
          <li>Other: 70 High Definition Channels</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Comfort Inn</h3>
      </div>
      <div class="panel-body">
        <p>435-787-2060</p>
        <div>2002 South Hwy 89/91, Logan, UT</div>
        <div><a href="http://www.comfortinn.com/hotel-logan-utah-UT129/Hotel-Services?&sarea=&sname=Logan&slon=-111.861504&slat=41.695683&schain=CI&scountry=&sstate=&type=&sradius=&sstate_country=&scity=&&sarea=&sname=Logan&slon=-111.861504&slat=41.695683&schain=CI&scountry=&sstate=&type=&sradius=&sstate_country=&scity=">http://www.comfortinn.com</a></div>
        <ul>
          <li>Standard Room: 2 Queen beds</li>
          <li>No "Extra Person" Fee for 3rd and 4th Person</li>
          <li></li>
          <li>Continental Breakfast: ?</li>
          <li>Swimming Pool: ?</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Crystal Inn</h3>
      </div>
      <div class="panel-body">
        <p>435-752-0707</p>
        <div>853 South Highway 89/91, Logan, UT</div>
        <ul>
          <li>Standard Room: 2 Queen beds or 1 King bed with pullout</li>
          <li>No "Extra Person" Fee for 3rd and 4th Person</li>
          <li>Internet: Free Wireless</li>
          <li>Roll away bed: ?</li>
          <li>Continental Breakfast: Yes (Hot breakfast, lite dinner 5:00pm-7:00pm)</li>
          <li>Swimming Pool: Yes</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Best Western - Weston Inn</h3>
      </div>
      <div class="panel-body">
        <p>435-752-5700</p>
        <div>250 North Main Street, Logan, UT</div>
        <div><a href="http://www.westoninn.com/">http://www.westoninn.com/</a></div>
        <ul>
          <li>Rooms: 2 Queen beds or 1 King bed</li>
          <li>Internet: Free Wireless</li>
          <li>Roll away bed: Not Available</li>
          <li>Continental Breakfast: Yes</li>
          <li>Swimming Pool: Indoor Pool and Jacuzzi</li>
          <li>Other: High Def TVs in Every Room</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Best Western - Baugh Motel</h3>
      </div>
      <div class="panel-body">
        <p>435-752-5220</p>
        <div>153 South Main Street, Logan, UT</div>
        <div><a href="http://www.bestwesternbaugh.com/">http://www.bestwesternbaugh.com/</a></div>
        <ul>
          <li>Rooms: ?</li>
          <li>Internet: ?</li>
          <li>Roll away bed: ?</li>
          <li>Continental Breakfast: ?</li>
          <li>Swimming Pool: ?</li>
          <li>Other: Room availability is limited</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Hampton Inn</h3>
      </div>
      <div class="panel-body">
        <p>435-713-4567</p>
        <div>1665 North Main Street, Logan, UT</div>
        <div><a href="http://hamptoninn3.hilton.com/en/hotels/utah/hampton-inn-logan-LGUUTHX/index.html">http://hamptoninn3.hilton.com/</a></div>
        <ul>
          <li>Rooms: 2 Queen</li>
          <li>No Fee for the 3rd and 4th persons</li>
          <li>Internet: Free Wireless</li>
          <li>Roll away bed: ?</li>
          <li>Continental Breakfast: ?</li>
          <li>Swimming Pool: ?</li>
          <li>Other: ?</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Holiday Inn Express</h3>
      </div>
      <div class="panel-body">
        <p>435-752-3444</p>
        <div>2235 North Main Street, Logan, UT</div>
        <ul>
          <li>Rooms: 2 Queens or 1 King</li>
          <li>Internet: Free Wireless</li>
          <li>Roll away bed: ?</li>
          <li>Continental Breakfast: ?</li>
          <li>Swimming Pool: ?</li>
          <li>Other: ?</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">USU Housing</h3>
      </div>
      <div class="panel-body">
        <p>435-797-3118</p>
        <div>1665 North Main Street, Logan, UT</div>
        <div><a href="http://www.usu.edu/housing/summerhousing/summer-lodging.cfm">Click Here to visit USU's Summer Lodging website</a></div>
        <ul>
          <li>Shared Room</li>
          <li>Private Room</li>
          <li>Apartment (6 beds)</li>
        </ul>
        <p>To reserve a room a Coach or Team Manager will need to either call or log on to USU housing under summer lodging
          and fill out a reservation form and pay as a team (make sure you fill out your group as Cache Valley Cup not a
          team name).</p>
        <p>If you have questions or concerns call Lezlie Klegg at (435)787-3118 or email her at <a href="mailTo:lezlie.klegg@usu.edu">lezlie.klegg@usu.edu</a>lezlie.klegg@usu.edu</p>
      </div>
    </div>
  </div>
</div>
<hr>