 <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>Contact Us</h2>
                <br/>
                <h3>Northen Utah United Youth Soccer</h3>
                <div><strong>472 East Center Street</strong></div>
                <div><strong>Smithfield, Utah 84335</strong></div>
                <br/>
                <div><strong>Phone: </strong>(435)753-8202</div>
                <div><strong>E-mail: </strong><a href="mailto:contact.us@northernutahunited.com">contact.us@northernutahunited.com</a></div>
                <br/>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Board of Directors</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Brad Ward - President</li>
                            <li>Russ Ottley - Vice President</li>
                            <li>Dale Buchanan - Competition Director</li>
                            <li>Terri Baker - Executive Director</li>
                            <li>Josh Hansen</li>
                            <li>Lisa Godfrey - Director of Operations</li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Executive Committee</h3>
                    </div>
                    <div class="panel-body">
                        <h4>Northern Utah United</h4>
                        <ul>
                            <li>Brad Ward, President</li>
                            <li>Russ Ottley, Vice President</li>
                            <li>Jason Reese</li>
                            <li>Kirt Sadler</li>
                            <li>Doug Coggins</li>
                            <li>Lyle Bair</li>
                            <li>Devin Davis</li>
                            <li>Cassie Baker, Secretary</li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Field Representatives - Competition</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2"><strong>Brigham/Perry</strong></div>
                            <div class="col-sm-2">Sheri Ricks</div>
                            <div class="col-sm-2"><a href="mailto:sricks04@yahoo.com">sricks04@yahoo.com</a></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><strong>Cedar Ridge</strong></div>
                            <div class="col-sm-2">Morey Maughn</div>
                            <div class="col-sm-2"><a href="mailto:fr.cedarridge@northernutahunited.com">fr.cedarridge@northernutahunited.com</a></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><strong>Cub River</strong></div>
                            <div class="col-sm-2">Terri Baker</div>
                            <div class="col-sm-2"><a href="mailto:fr.cubriver@northernutahunited.com">fr.cubriver@northernutahunited.com</a></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><strong>Logan &amp; Blackhawk</strong></div>
                            <div class="col-sm-2">Katie Hollingsworth</div>
                            <div class="col-sm-2"><a href="mailto:fr.logan@northernutahunited.com">fr.logan@northernutahunited.com</a></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><strong>North Logan</strong></div>
                            <div class="col-sm-2">Sharon Cox</div>
                            <div class="col-sm-2"><a href="mailto:sharoncox@live.com">sharoncox@live.com</a></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"><strong>Tremonton</strong></div>
                            <div class="col-sm-2">Lori Stokes</div>
                            <div class="col-sm-2"><a href="mailto:kelsee94@frontier.com">kelsee94@frontier.com</a></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a routerLink="../registration"><h3 class="panel-title">Field Representatives - See Recreation Page</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
