<div class="container">
  <div class="row page-head">
    <div class="col-lg-12">
      <h1 class="page-header">UYSA State Competition
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="../home">Home</a>
        </li>
        <li class="active">UYSA State Competition</li>
      </ol>
    </div>
  </div>
  
  <div class="col-lg-12">
    <app-uysa-side-bar></app-uysa-side-bar>
  </div>
</div>
<div class="col-lg-12">
    <h1 class="">Tryout Info</h1>
    <table class="padding-bottom-large">
      <tr>
        <th class="col-lg-2">Level of Play</th>
        <th class="col-lg-1">Team Age</th>
        <th class="col-lg-1">Gender</th>
        <th class="col-lg-1">Team Name</th>
        <th class="col-lg-2">Times of Tryouts</th>
        <th class="col-lg-2">Location</th>
        <th class="col-lg-1">Team Website</th>
        <th class="col-lg-2">Additional Info</th>
      </tr>
      <tr *ngFor="let response of usyaGoogleFormResponses">
        <td>{{response.WhatlevelofPlay}}</td>
        <td>{{response.WhatistheteamAge}}</td>
        <td>{{response.WhatistheGenderoftheteam}}</td>
        <td>{{response.NameofTeam}}</td>
        <td>{{response.DateandTimesofTryouts}}</td>
        <td>{{response.LocationincludingAddressofTryouts}}</td>
        <td>{{response.LinktoTeamWebsite}}</td>
        <td>{{response.Additionalinformation}}</td>
      </tr>
    </table>
    
</div>
