<div class="container">
    <div class="row page-head mat-typography">
        <div class="col-lg-12">
            <h1 class="page-header">Boys High School Challenger League
            </h1>
            <ol class="breadcrumb">
                <li><a routerLink="../home">Home</a>
                </li>
                <li class="active">Boys High School Challenger League</li>
            </ol>
        </div>
    </div>
    <div class="container pad-top-md">
        <h2>Spring Boys High School Challenger League</h2>
        <div class="col-lg-12 pad-top-md">
            <div class="row">
                <p>
                    At Northern Utah United we believe it is important that all youth have a place to play in our
                    community. For many years we have had the challenge of providing a local experience for players not
                    participating in their High School program. These players that want to play during their High School
                    season have had to create provisional teams that travel all over the state for games. We think that
                    there is a better solution, one that allows players to compete in our community while representing
                    their high schools.
                </p>
                <p>
                    Northern Utah United is offering players U14-U18 an opportunity to play in a 7vs7 League where each
                    high school will have an upper-classmen team (U17-19, players born: 2002-2004) and a lower-classmen
                    team (U14-U16, players born: 2005-2007). Playing small sided games (7v7 or 9v9) locally will not
                    only benefit the kids, but the high school programs as well; as it provides more potential touches
                    per player, which is not only more fun for players, but also creates better development of skills.
                </p>
                <p>
                    If a particular High School has enough players to form two teams at either age group that will be
                    accommodated.
                </p>
                <p>
                    Each team will be able to select their own home field and have the option to identify the Real Salt
                    Lake Indoor Center as their home field. We want this to be both convenient and exciting for those
                    that are participating.
                </p>
                <p>
                    These teams will have no official affiliation with their respected high schools, but their jersey
                    will carry the mascots name. All of the Coaches from the following high schools are aware of this
                    program and support it: Preston HS, Box Elder HS, Bear River HS, Sky View HS, Green Canyon HS,
                    Ridgeline HS, and Mountain Crest HS. Each team’s coach and players will be able to decide how
                    dedicated they are to training while NUU will provide the league for them to play in.
                </p>
                <p>
                    Each team will need to have a coach, who will be required to take some online coaching courses and
                    legally mandatory safety courses.
                </p>
                <mat-card>
                    $100 Per Player: The cost will cover field fees, league fees, insurance and a soccer shirt for game
                    days. Fees can be paid over two installments of $50 each. Registration fees do not cover the cost of
                    Referee fees. Teams will have to be prepared to collect and pay referee fees in the amount of $55
                    per game through VENMO.
                </mat-card>
                <br/>
                <p>
                    If a player is already registered for a club team that is competing during the high school season,
                    they may still participate in this league, with the permission of their club coach. We hope to have
                    a 7-10 game season. The games will depend on how many teams we sign up.
                </p>
                <p>
                    Players on the under-classmen team will be able to play up with the upper-classmen if wanted/needed.
                </p>
                <p>
                    Please register for the team that best represents your high school so we can group all of the people
                    in your area together.
                </p>
                <p>
                    You can register for one of the following teams right away. <a
                        href="http://uysa.affinitysoccer.com/eventmanager/public/event.asp?calid=12507907"
                        target="_blank">To Register, have the players go to USYA's website</a>
                </p>
                <p>
                    We anticipate starting around the 1st of April. The deadline to register will be Monday, March 15th.
                </p>
                <p>
                    <a href="/documents/HSChallengerLeagueFlyer.pdf">Registration and Program Flyer HERE</a>
                </p>
                <p>
                    If you have questions, feel free to reach out to Terri Baker at: <a
                        href="mailto:nuuterri@gmail.com">nuuterri@gmail.com</a> or Jeff Ginn at: <a
                        href="mailto:nuuginn@gmail.com">nuuginn@gmail.com</a>
                </p>
            </div>
        </div>
    </div>
</div>