<div class="container">
  <div class="row page-head">
    <div class="col-lg-12">
      <h1 class="page-header">Academy Soccer
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="../home">Home</a>
        </li>
        <li class="active">Academy Soccer</li>
      </ol>
    </div>
  </div>
  <div class="container pad-top-md">
    <h2>NUU U7/U8 Academy Program and Challenger Academy Gaming League</h2>
    <div class="col-lg-12 pad-top-md">
      <div class="col-sm-6">
        <br/>
        <a href="http://uysa-nuuacademy.sportsaffinity.com" class="list-group-item list-group-item-secondary">Academy Registration</a>
        <br/>
      </div>
      <div class="col-sm-6">
        <br/>
        <a href="/documents/AcademyProgram.pdf" class="list-group-item list-group-item-secondary">Academy Description PDF</a>
        <br/>
      </div>
      <h4 class="pad-top-md">Purpose</h4>
      <p>To facilitate a program for U7/U8 Boys and Girls who are looking for more competition and a greater challenge than
        can be provided through recreational programs. Currently, this program is restricted to players born in 2010 and
        2011 only.</p>
      <h4>Format</h4>
      <p>Organized according to the recommendations made by US Youth Soccer Association, US Soccer Federation, and the Utah
        Youth Soccer Association, and for the best player development, this program will be small sided, with 4 players on
        the field at a time, and NO keeper. Team size should be between 4 - 6 players to guarantee that all players will
        receive plenty of game time. This format promotes players to have as many touches on the ball as possible, while
        learning both defensive and offensive tactics and skills</p>
      <p>Games will be three 15 minute periods, to allow for adequate instruction between periods, and field of play will be
        25' x 35' with 4'x6' goals, again, according to USYS, USSF, and UYSA best practices for player development. </p>
      <h4>Registration/Tryouts</h4>
      <p>Teams may register as a whole for the Academy program. Teams may form through tryouts or by invitation, depending on
        the coach and or team, but tryouts may not begin until the Monday preceding Memorial day. Online Registration may
        begin on May 30th . Team Registration must be submitted by Friday, May 23rd.</p>
      <h4>Academy Gaming League</h4>
      <p>Games will be organized through the NUU Challenger league, with a recommended 8 games per season, Fall and Spring.
        Teams will stay together from the Fall when they form through May of the following year. No referee will be provided,
        and coaches will be instrumental in calling fouls and instructing on the field during play. Teams any UYSA member
        organization may join the NUU Challenger Academy gaming league.
      </p>
      <p>Space is limited to 5 teams of each U7 Boys, U8 Boys, U7 Girls, and U8 Girls, with additional teams being placed on
        a waiting list, and added if our resources will permit. Teams will be added to the gaming league in the order in
        which their team’s registration is completed.</p>
      <p>Emphasis will be placed on participation, and not winning. Though Stats and scores will be kept, no awards will be
        given, as this is a developmental academy program and not a competition gaming league.
      </p>
      <p>The Challenger league will continue to allow U8 teams in it’s regular non-academy program for this 2017/18 season,
        then will re-evaluate. <strong>We highly recommend the Academy program for U8's, over
        the regular Challenger program</strong> which plays 7v7 with a keeper, as it is a much better format for player development.
        Additionally, U8 teams registering for the regular Challenger program may be combined with the U9's.</p>
      <h4>NUU's Academy Program</h4>
      <p>Players may also register individually through NUU, and will be grouped together in teams, if there is room in the
        gaming league for additional teams. Individuals may register any time, as long as space is available.</p>
      <p>NUU teams/ players will receive Practice t-shirts as well as regular year-round training sessions by our Academy Director,
        Toni Doney, who holds a national D coaching license and has had more than 15 years experience as a youth soccer coach
        and academy director. Training will include individual skill development, tactical training, and some goal keeper
        specialized training in preparation for U9 and older formats.</p>
    </div>
  </div>
</div>