<div class="col-lg-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">Downloads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Coaches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Parents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Soccer Gear</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Fundraising</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">News and Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Referees</a>
      </li>
    </ul>
  </div>
