<h2>Teach Principles, Not Aspects</h2>
<div>By: ISC Coach Travis Clements</div>
<div>June 8th, 2011</div>
<p>As a coach and trainer, there are only so many hours in a day, and only so many hours we have with our kids to teach them
  how to play soccer. If we want to maximize our time and get the most out of the sessions we have, those sessions need to
  be age appropriate and centered around universal concepts, which I will call “Principles” of the game.</p>
<p>When we see the professional game on a Saturday, what are we impressed with? As adults, we are naturally drawn to the tactics
  of the game, the formation used, attacking patterns, spacing and spectacular feats of skill and athleticism. We also have
  an appreciation of team chemistry, the melding of complimentary players and the unity of the squad. It’s a fallacy to project
  these aspects of the professional game into youth soccer if we hope to develop players into what we see and admire on the
  weekend. If we spend our time on these aspects of the game, our players will never get there. Why? They will never develop
  the foundation of skill and understanding of the game needed to play it at a high level.</p>
<p>Unfortunately the novice coach, as well as the coach who’s focused on immediate team success, invariably chooses to spend
  their time addressing “aspects” of the game. Aspects of the game are concepts or features of play that are not always true.
  The most common of these aspects is positional play. Information taught to a player to help them play a certain position,
  like Goalkeeper or Wing, is not very useful if they aren’t playing that position. Youth players need the efficiency of
  being trained principles that are *always* useful, saving specialized topics for when the basics are mastered. Common examples
  of narrow, inefficient training topics include the popular “Through ball.” At youth levels it is more accurately described
  as a “kick into space” because the players lack the technique and tactical understanding to make it otherwise. Some choose
  to spend all their time with set plays, restarts, and creating patterns of play in the mold of typical “American” sports.
  These methods don’t advance the development of players in a positive or efficient way. Some are worse than teaching nothing
  at all! Consider on defense, teaching players to kick the ball out of bounds to be “safe.” It conditions players to not
  read the game, to not trust their ability on the ball and confirms a lack of faith in them from coaches, parents, and teammates
  alike! They are denied the chance to execute technical skills under pressure. Those players become mindless robots, predictable
  and unable to think quickly or solve problems on the fly. They lack creativity, imagination and flair. How ironic that
  those traits so valued at the elite level are being systematically trained out of our players in youth soccer! </p>
<p>It’s easy to stand at a distance and be critical, point fingers and detail shortcomings. What is the solution? If we are
  holding the kids back by spending so much time teaching aspects of the game, what do we do to fix it?</p>
<p>In youth soccer the players must first be taught the founding principles of play. This takes years. Shortcuts taken during
  this stage of training will haunt the players for the rest of their playing career. Just like we teach addition and subtraction
  before taking on multiplication and division, (let alone fractions and variables!) we need to lay a foundation of basics
  before expanding and specializing. Technical skill is universal to the game and is only acquired, refined and mastered
  through constant contact with the ball. If we want our players to have ball skills and to be comfortable and calm on the
  ball, we must teach possession and dribbling before we teach passing. Good decision-making is a universal skill that is
  only acquired, refined and mastered by players when they are placed in situations that require it. They must be allowed
  to play without fear of failure, a master of their own environment, where the competition of the game and their internal
  motivation to win drives them to find ways to achieve success. A player who is expected to listen and obey during play
  is not learning to make decisions or solve problems.</p>
<p>Teaching players to play in positions is not necessarily bad. The correct teaching of positional play needs to begin at its
  most basic elements, its principles, with every player exposed to every position. It begins with attacking and defending
  individually, and then expands to include a teammate, then eventually teammates. It’s not about Forwards, Midfielders and
  Defenders. Good positional play is derived through players addressing questions posed by the game, not in relation to a
  painted line or an area on the field. Players need to be trained in ways that help them recognize space, pressure and support,
  regardless of their assigned position. Don’t teach them to play a position; teach them to play soccer! </p>
<p>Time spent standing in lines or practicing set plays from restarts is time forever lost that could have been spent with a
  ball at the players feet in small-sided games that inherently teach the kids how to play. Why practice crossing the ball,
  or corner kicks, when most of the players lack the technical ability to have success finishing those plays? That type of
  training is so stagnant, short-sighted and inefficient! Lost touches translate into undeveloped technical skill. The absence
  of playing while training denies players’ time spent making decisions on and off the ball. Soccer is a dynamic, fluid game,
  so it stands to reason that it is best taught utilizing activities and games that replicate the game environment, focused
  on the topic for that session. A well-devised small-sided game in practice will inherently teach the players correct principles
  of how to play in a full-sided game.</p>
<p>Short term successes don’t justify the cost of lost opportunity. We must have the maturity to set aside our egos and adult
  competitiveness to benefit the kids. The topics needing attention by our youth are seemingly endless: Dribbling, Passing,
  Moves, Movement, Receiving, Juggling, Support, First Touch, Communication, Winning 50/50 balls, Striking the ball, Heading,
  Balance and Agility… </p>
<p>Teaching soccer through the principles of the game is a slower, deeper approach that requires patience and a long-term perspective
  of player development. The principles are taught best by the game itself, with guidance from the coach or trainer. It requires
  commitment and humility to have the patience to allow the game to grow from within the kids through their own experience.
  It demands that coaches remain a student of the game as well as of the craft of coaching. Kids need to develop in a system
  that is firmly committed to the individual's progress, NOT expected to learn to play a system and sacrifice themselves
  and their development for the sake of the team.</p>
<div>Travis L. Clements</div>
<div>USSF D,Y</div>