<h2 class="titleMargin"><img src="/images/CacheValleyMiniCup.gif" class="image-small" alt="Cache Valley Mini Cup"> Cache Valley
  Mini Cup Tournament</h2>
<p>Sponsered by:</p>
<img src="/images/yogurtland.jpg" alt="Yogurtland">
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="https://uysa-cvmc2019.sportsaffinity.com" target="_blank">
      <div class="post-content">
        <h3 class="mini-cup">Register</h3>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a routerLink="miniCupSchedules">
      <div class="post-content">
        <h3 class="mini-cup">Schedules</h3>
      </div>
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="/documents/2014-Kohls-Rules.pdf" target="_blank">
      <div class="post-content">
        <h3 class="mini-cup">Tournament Rules</h3>
      </div>
    </a>
  </div>
</div>
<div class="col-lg-12">
  <router-outlet></router-outlet>
</div>
<ul>
  <li><strong>When: </strong>May 18th, 2019</li>
  <li><strong>Registration Deadline: </strong>May 10th</li>
  <li><strong>Age: </strong>U5-U18 Recreation Players Only</li>
  <li><strong>Location: </strong>Mt. Logan Middle School - <a href="https://www.google.com/maps/place/Mount+Logan+Middle+School/@41.748084,-111.831021,17z/data=%213m1%214b1%214m2%213m1%211s0x87547ddc2f9eefb7:0x141fc63e525a682d" target="_blank">875 N. 200 E. Logan, Utah</a></li>
  <li><strong>Registration Fee: </strong>UYSA affiliated teams (SCSL, NUU, Etc.): $80 per team.  Unaffiliated rec teams: $135 per team</li>
  <li><strong>Roster Size: </strong>4-8 players</li>
  <li><strong>Contact: </strong>Jana Carling</li>
  <!-- <li><strong>Phone: </strong>(435)881-2906</li> -->
  <li><strong>E-mail: </strong><a href="mailto:janalgc@gmail.com">janalgc@gmail.com</a></li>
  <li><strong>Please Note: </strong>The difference in fees for UYSA affiliated teams and Non-UYSA
    affiliated teams is to pay insurance and sanctioning fees to our governing body,
    insuring that all players participating in this fun tournament are covered in case of
    injury or accident</li>
</ul>
<hr>

<h4>We Want the Recreational Player to Feel Special and Have Fun Too!</h4>
<p>The Cache Valley Mini Cup provides recreational youth soccer players an opportunity to experience a consistent and high quality
  tournament just like their counterparts in the competition programs, in a fun, family-like atmosphere.</p>
<p>The tournament is designed to encourage and honor the recreational player by allowing the player to compete for both team
  and personal goals. This tournament is structured so that, regardless of ability, all players can realistically strive
  for the goal of being a champion.</p>
<p>Any Recreational teams U6 - U18 organized during the June 2018-May 2019 seasonal year are invited to come and participate and showcase
  their talent. This recreation tournament is open to all recreational teams registered through UYSA - statewide. Recommended
  teams size is 6 - 8 players (larger teams may be divided into two teams and registered separately).</p>
<p>It is our philosophy that all players should receive equal opportunities and benefits within their level of play. Further,
  all players have the right to participate, in competitions where they can be honored as winners.</p>

<hr>

<h4>What happened th the Kohl's American Cup?</h4>
<p>The American cup is a national program sponsored by US Youth Soccer Association and Kohl’s Department stores. Each year,
  organizations around the country apply to have the American Cup experience come to their community. For the past 18 years,
  we have applied to host an American Cup, and been selected. This year, we were not selected. According to US Youth Soccer,
  they wanted to reach out to organizations other states that have never had the opportunity to host an American Cup.</p>
<p>So, we have decided that in the years that we are not chosen to host an American Cup, we will still hold a recreational tournament
  anyway. In order to be consistent, we will use the same rules and policies, but the tournament will be called the Cache
  Valley Mini Cup – Recreational Tournament.</p>