<!-- Page Heading/Breadcrumbs -->
<div class="container">
  <div class="row page-head">
    <div class="col-lg-12">
      <h1 class="page-header">About
        <small>Northern Utah United</small>
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="../home">Home</a>
        </li>
        <li class="active">About</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <!-- Intro Content -->
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="/images/CVC 2008 246.jpg" alt="">
    </div>
    <div class="col-md-6">
      <h2>Youth Soccer at it&#39;s finest</h2>
      <p>Because the sport is fun even with a beginner's skill level, Northern Utah has embraced Soccer in record numbers. Even
        better it's a game you can play and enjoy for the rest of your life! With this lifelong enjoyment as a focal point
        Northern Utah United (NUU) has become a leader in promoting, developing and governing youth soccer in Northern Utah;
        providing quality educational and developmental opportunities for players and coaches alike.</p>
      <p>Everybody likes to win, but developing successful players and youth is what it is all about. We are a soccer organization
        with happy, healthy kids as our passion and priority. Every decision, every rule and every program has "what's good
        for the kids" as its basis. Every girl and boy stepping on a soccer field for the first time needs to have fun.</p>
      <p>With over 20 years of experience organizing youth soccer at all levels of play in Cache and Box Elder counties we have
        dedicated ourselves to providing the best possible youth soccer programs with our UYSA Sanctioned Recreation and
        Competitive Soccer or Challenger Leagues each with age appropriate small-sided to full size 11 v 11 games.</p>
      <p>As a non-profit organization, we are excited for the future of soccer in our community. We make every stride to share
        the same mission statement that our national governing body does. “US Youth Soccer is non-profit and educational
        organization whose mission is to foster the physical, mental and emotional growth and development of America's youth
        through the sport of soccer at all levels of age and competition.”</p>
    </div>
  </div>
  <!-- /.row -->

  <!-- Team Members -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Our Team</h2>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h3>John Smith<br>
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h3>John Smith<br>
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h3>John Smith<br>
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h3>John Smith<br>
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h3>John Smith<br>
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <img class="img-responsive" src="http://placehold.it/750x450" alt="">
        <div class="caption">
          <h3>John Smith<br>
            <small>Job Title</small>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Our Customers -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Affiliated Teams</h2>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
    </div>
  </div>
</div>
<!-- /.row -->