<!-- Page Heading/Breadcrumbs -->
<div class="container">
  <div class="row page-head">
    <div class="col-lg-12">
      <h1 class="page-header">About
        <small>Northern Utah United</small>
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="../home">Home</a>
        </li>
        <li class="active">About</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <!-- Intro Content -->
  <!-- <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="/images/CVC 2008 246.jpg" alt="">
    </div>
    <div class="col-md-6">
      <h2>Youth Soccer at it&#39;s finest</h2>
      <p>Because the sport is fun even with a beginner's skill level, Northern Utah has embraced Soccer in record numbers. Even
        better it's a game you can play and enjoy for the rest of your life! With this lifelong enjoyment as a focal point
        Northern Utah United (NUU) has become a leader in promoting, developing and governing youth soccer in Northern Utah;
        providing quality educational and developmental opportunities for players and coaches alike.</p>
      <p>Everybody likes to win, but developing successful players and youth is what it is all about. We are a soccer organization
        with happy, healthy kids as our passion and priority. Every decision, every rule and every program has "what's good
        for the kids" as its basis. Every girl and boy stepping on a soccer field for the first time needs to have fun.</p>
      <p>With over 20 years of experience organizing youth soccer at all levels of play in Cache and Box Elder counties we have
        dedicated ourselves to providing the best possible youth soccer programs with our UYSA Sanctioned Recreation and
        Competitive Soccer or Challenger Leagues each with age appropriate small-sided to full size 11 v 11 games.</p>
    </div>
    <div class="col-md-12">
      <p>As a non-profit organization, we are excited for the future of soccer in our community. We make every stride to share
        the same mission statement that our national governing body does. “US Youth Soccer is non-profit and educational
        organization whose mission is to foster the physical, mental and emotional growth and development of America's youth
        through the sport of soccer at all levels of age and competition.”</p>
    </div>
  </div> -->
  <!-- /.row -->

  <!-- Team Members -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Northern Utah United Board of Directors</h2>
    </div>
    <div class="col-md-6 text-center">
      <div class="thumbnail">
        <a href="mailto:bradnuu@gmail.com">
          <img class="img-responsive our-team" src="/images/BradWard.jpg" alt="">
          <div class="caption">
            <h3>Brad Ward<br>
              <small>President</small>
            </h3>
            <!--<ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>-->
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <div class="thumbnail">
        <a href="mailto:russfan24@hotmail.com">
          <img class="img-responsive our-team" src="/images/RussOttley.jpg" alt="">
          <div class="caption">
            <h3>Russ Ottley<br>
              <small>Vice President</small>
            </h3>
            <!--<ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>-->
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <a href="mailto:jreese@allredjackson.com">
          <img class="img-responsive our-team" src="/images/Jason.jpg" alt="">
          <div class="caption">
            <h3>Jason Reese<br>
              <small>Board Member</small>
            </h3>
            <!--<ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>-->
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <a href="mailto:kdksadler@gmail.com">
          <img class="img-responsive our-team" src="/images/KirtSadler.jpg" alt="">
          <div class="caption">
            <h3>Kirt Sadler<br>
              <small>Board Member</small>
            </h3>
            <!--<ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>-->
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <a href="mailto:cogginsdr@hotmail.com">
          <img class="img-responsive our-team" src="/images/DougCoggins.jpg" alt="">
          <div class="caption">
            <h3>Doug Coggins<br>
              <small>Board Member</small>
            </h3>
            <!--<ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>-->
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <a href="mailto:lyle.bair1@gmail.com">
          <img class="img-responsive our-team" src="/images/LyleBair.jpg" alt="">
          <div class="caption">
            <h3>Lyle Bair<br>
              <small>Board Member</small>
            </h3>
            <!--<ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>-->
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <a href="mailto:devin@cachesoccerclub.com">
          <img class="img-responsive our-team" src="/images/DevinDavis.jpg" alt="">
          <div class="caption">
            <h3>Devin Davis<br>
              <small>Board Member</small>
            </h3>
            <!--<ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>-->
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="thumbnail">
        <a href="mailto:cassietb88@gmail.com">
          <img class="img-responsive our-team" src="/images/cassie.jpg" alt="">
          <div class="caption">
            <h3>Cassie Baker<br>
              <small>Secretary</small>
            </h3>
            <!--<ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>-->
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Staff</h2>
    </div>
    <div class="col-md-3 text-center">
      <div class="thumbnail">
        <a href="mailto:terribaker1@live.com">
          <img class="img-responsive our-team" src="/images/TerriBaker.jpg" alt="">
          <div class="caption">
            <h3>Terri Baker<br>
              <small>Executive Director</small>
            </h3>
            <!--<ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>-->
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="thumbnail">
        <a href="mailto:nuuginn@gmail.com">
          <img class="img-responsive our-team" src="/images/JeffGinn.jpg" alt="">
          <div class="caption">
            <h3>Jeff Ginn<br>
              <small>Director of Coaching</small>
            </h3>
            <!--<ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
              </li>
            </ul>-->
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="thumbnail">
        <a href="mailto:janalgc@gmail.com">
          <img class="img-responsive our-team" src="/images/JanaCarling.jpg" alt="">
          <div class="caption">
            <h3>Jana Carling<br>
              <small>Rec Coordinator</small>
            </h3>
            <!--<ul class="list-inline">
            <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
            </li>
          </ul>-->
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="thumbnail">
        <a href="mailto:ks5k@earthlink.net">
          <img class="img-responsive our-team" src="/images/KrisHamby.jpg" alt="">
          <div class="caption">
            <h3>Kris Hamby<br>
              <small>Ref Assignor</small>
            </h3>
            <!--<ul class="list-inline">
              <li><a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
              </li>
            </ul>-->
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row pad-top-lg">
    <div class="col-sm-3"><a href="/documents/NUUBylaws2019 .pdf" target="_blank"
        class="list-group-item list-group-item-secondary center">2019 Bylaws</a></div>
  </div>
  <div class="col-sm-12">
    <h2 class="page-header">Board of Directors Meetings / Agendas / Minutes</h2>
  </div>
  <div class="col-sm-12">
    <h3>2019</h3>
    <div class="col-sm-12 pad-bottom-md">
      <div class="col-sm-3">February 5th</div>
      <div class="col-sm-5">Executive Session - no data to download</div>
    </div>
    <div class="col-sm-12 pad-bottom-md">
      <div class="col-sm-3 meeting-date">February 28th AGM</div>
      <div class="col-sm-2"><a href="/documents/Feb282019AGMAgenda.pdf" target="_blank"
          class="list-group-item list-group-item-secondary center">Agenda</a></div>
      <div class="col-sm-2"><a href="/documents/AGMMinutes2019.pdf" target="_blank"
          class="list-group-item list-group-item-secondary center">Minutes</a></div>
    </div>
    <div class="col-sm-12 pad-bottom-md">
      <div class="col-sm-3 meeting-date">March 21st AGM</div>
      <div class="col-sm-2"><a href="/documents/Agenda_March_21.pdf" target="_blank"
          class="list-group-item list-group-item-secondary center">Agenda</a></div>
    </div>
    <div class="col-sm-12 pad-bottom-md">
      <div class="col-sm-3 meeting-date">May 16th AGM</div>
      <div class="col-sm-2"><a href="/documents/Agenda_May_16_2019.pdf" target="_blank"
          class="list-group-item list-group-item-secondary center">Agenda</a></div>
    </div>
    <div class="col-sm-12 pad-bottom-md">
      <div class="col-sm-3 meeting-date">June 20th AGM</div>
      <div class="col-sm-2"><a href="/documents/Agenda_June_20th.pdf" target="_blank"
          class="list-group-item list-group-item-secondary center">Agenda</a></div>
    </div>
  </div>
  <div class="col-sm-12">
    <h3 class="">Archived</h3>
    <div class="col-sm-12">
      <div class="col-sm-3">
        <button type="button" (click)="setYear(2018)" class="btn btn-primary" data-toggle="modal" data-target="#modal">
          2018
        </button>
      </div>
      <div class="col-sm-3">
        <button type="button" (click)="setYear(2017)" class="btn btn-primary" data-toggle="modal" data-target="#modal">
          2017
        </button>
      </div>
      <div class="col-sm-3">
        <button type="button" (click)="setYear(2016)" class="btn btn-primary" data-toggle="modal" data-target="#modal">
          2016
        </button>
      </div>
    </div>
  </div>

  <!-- Our Customers -->
  <div class="col-lg-12">
    <h2 class="page-header">NUU Affiliated Groups and Independent Teams</h2>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <div><strong><a href="http://www.aggiesfc.com" target="_blank">Aggies FC</a></strong></div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <div><strong><a href="https://www.facebook.com/groups/1578754495699230/" target="_blank">Logan Lynx</a></strong>
    </div>
  </div>
  <div class="col-md-2 col-sm-4 col-xs-6">
    <div><strong><a href="http://www.FC-idaho.com" target="_blank">FC Idaho</a></strong></div>
  </div>
  <!--<div class="col-md-2 col-sm-4 col-xs-6">
      <div>a</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <img class="img-responsive customer-img" src="http://placehold.it/500x300" alt="">
    </div>-->
</div>
<!-- /.row -->

<!-- Modal -->
<div class="modal" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{modalYear}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="modalYear === 2018">
          <div class="col-sm-12 pad-bottom-md">
            <div class="col-sm-4 meeting-date">February 6th</div>
            <div class="col-sm-4"><a href="/documents/AgendaFeb6th.pdf" target="_blank"
                class="list-group-item list-group-item-secondary center">Agenda</a></div>
            <div class="col-sm-4"><a href="/documents/February62018minutes.pdf" target="_blank"
                class="list-group-item list-group-item-secondary center">Minutes</a></div>
          </div>
          <div class="col-sm-12 pad-bottom-md">
            <div class="col-sm-4 meeting-date">March 13th</div>
            <div class="col-sm-4 meeting-date">No Agenda</div>
            <div class="col-sm-4"><a href="/documents/March132018minutes.pdf" target="_blank"
                class="list-group-item list-group-item-secondary center">Minutes</a></div>
          </div>
          <div class="col-sm-12 pad-bottom-md">
            <div class="col-sm-4 meeting-date">April 10th</div>
            <div class="col-sm-4"><a href="/documents/AGMApril102018.pdf" target="_blank"
                class="list-group-item list-group-item-secondary center">Agenda</a></div>
            <div class="col-sm-4"><a href="/documents/April232018minutes.pdf" target="_blank"
                class="list-group-item list-group-item-secondary center">Minutes</a></div>
          </div>
          <div class="col-sm-12 pad-bottom-md">
            <div class="col-sm-4 meeting-date">August 22nd</div>
            <div class="col-sm-4 meeting-date">No Agenda</div>
            <div class="col-sm-4"><a href="/documents/BODMeetingAugust22.pdf" target="_blank"
                class="list-group-item list-group-item-secondary center">Minutes</a></div>
          </div>
        </div>
        <div *ngIf="modalYear !== 2018">
          <div>No Data at this time</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>