<mat-toolbar>
  <div class="toolbar-list">
    <div class="toolbar-option">&copy;Northern Utah United</div>
    <div class="toolbar-option">
      <a routerLink="faq" class="no-link">FAQ</a>
    </div>
    <div class="toolbar-option">
      <a href="/documents/NUUandCVSLBylaws.pdf" class="no-link">Legal</a>
    </div>
    <div class="toolbar-option">
      <a routerLink="contact" class="no-link">Contact</a>
    </div>
    <div class="toolbar-option">
      <a href="http://utahyouthsoccer.net" target="_blank" class="no-link">UYSA</a>
    </div>
    <div class="toolbar-option">
      <a href="https://www.facebook.com/NorthernUtahUnited/" class="no-link"><mat-icon>facebook</mat-icon></a>
    </div>
  </div>
</mat-toolbar>