
.actions {
    display: flex;
    justify-content: space-between;
}

.cvc-link {
    cursor: pointer;
}

/* @media (max-width: 740px) {
    .image-container {
        display: flex;
        justify-content: center;
    }
    .popup-image {
        height: 200px;
    }
} */