.image-small {
    height: 100px;
    width: 100px;
    padding-bottom: 40px;
}

a { 
    text-decoration: none;
}

.image-small-stretch {
    height: 100px;
    width: 300px;
    padding-bottom: 40px;
}