<div class="col-sm-12">
  <h2 class="titleMargin">NUU Coaching Resources</h2>
  <div>
    <h3>Online Links and Forms</h3>
  </div>
  <p>For coaching licensing and education information go to <a
      href="http://www.utahyouthsoccer.net/coaching_education/coaching_education/" target="_blank">Utah Youth Soccer
      Coaching Education</a></p>
      <div class="col-lg-9">
        <div class="list-group">
          <a href="https://sites.google.com/view/nuu-coaches-portal/home" target="_blank"
            class="list-group-item">
            <h4 class="list-group-item-heading">Coaches Portal (Under Construction)</h4>
          </a>
        </div>
      </div>
  <p>Affinity Sports</p>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://www.usi.edu/sports/webphotos/Soccer_Field/Strassweg3.jpg" alt="">
        <div class="caption">
          <h3 style="padding-bottom: 26px">How Do I Club Pass?</h3>
          <p><a href="http://www.utahyouthsoccer.net/programs/howtoclubpass.aspx" target="_blank"
              class="btn btn-primary" role="button">Click Here To Find Out</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://www.usi.edu/sports/webphotos/Soccer_Field/Strassweg3.jpg" alt="">
        <div class="caption">
          <h3>How Do I Print A Game Day Roster?</h3>
          <p><a href="http://www.utahyouthsoccer.net/programs/printrostery.aspx" target="_blank" class="btn btn-primary"
              role="button">Click Here to Find Out</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <hr>
  </div>
  <div class="col-sm-12">
    <h3>Training Tools</h3>
  </div>
  <div class="col-lg-9">
    <div class="list-group">
      <a href="https://docs.google.com/forms/d/1VLrqJigzpZOj5VUfAZeR27KQUZcwFdfsFzlgeNWfkjA/viewform" target="_blank"
        class="list-group-item">
        <h4 class="list-group-item-heading">Coaches Sideline Education Tutorial</h4>
      </a>
      <a href="http://www.cdc.gov/concussion/HeadsUp/Training/index.html" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">CDC Heads Up Concussion Training</h4>
        <p class="list-group-item-text">It is now state law for all coaches and team managers to take this course.</p>
      </a>
      <a href="/documents/2019CoachingEducationSeries.pdf" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">2019 Coaching Education Series</h4>
      </a>
    </div>
  </div>
  <div class="col-sm-12">
    <h3>Downloads</h3>
  </div>
  <div class="col-lg-9">
    <div class="list-group">
      <a href="/documents/Full_US_Soccer_Coaching_Curriculum.pdf" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">U.S. Soccer Curriculum</h4>
        <p class="list-group-item-text">123 Page Coaching Manual</p>
      </a>
      <a href="/documents/CoachingFromTheGame_Allen.pdf" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Coaching from the Game</h4>
        <p class="list-group-item-text">Using coaching toos to facility learning the priciples of play.</p>
      </a>
      <a href="/documents/TEAM_ANALYSIS__Chesler.pdf" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Analysis of Team play</h4>
        <p class="list-group-item-text">Tools and Techniques</p>
      </a>
      <a href="/documents/MatchManagement_Snow.pdf" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">Match Management</h4>
        <p class="list-group-item-text">Game day approach</p>
      </a>
      <a href="/documents/US_Youth_Soccer_Player_Development_Model.pdf" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">US Youth Soccer Player Development Model</h4>
        <p class="list-group-item-text">A player-centered Curriculum</p>
      </a>
      <a href="/documents/2012_coaching_manual_for_web.pdf" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">The Official US Youth Soccer Coaching Manual</h4>
        <p class="list-group-item-text">Tools and Techniques</p>
      </a>
      <a href="/documents/How_to_Write_a_Training_Session_Plan.pdf" target="_blank" class="list-group-item">
        <h4 class="list-group-item-heading">How to Write a Training Session Plan</h4>
      </a>
    </div>
  </div>
  <div>
    <div class="col-sm-12">
      <h3>Articles</h3>
      <!--same as downloads, use jquery to make these look fancy and nice-->
    </div>
    <div class="col-lg-9">
      <div class="list-group">
        <a href="http://bit.ly/12gKqmE" target="_blank" class="list-group-item">
          <h4 class="list-group-item-heading">Legendary Coaching Mentor Horst Wein on Improving Youth Soccer Development
            in America</h4>
          <p class="list-group-item-text">As an outspoken advocate of a more child-centered approach to soccer, Wein has
            spoken widely of “game intelligence”
            and the need for major changes in youth soccer. “It is not sufficient to teach your players well,” he has
            said,
            “it’s essential for future successes to prepare them better than others.”</p>
        </a>
        <a href="http://bit.ly/12gHxlK" target="_blank" class="list-group-item">
          <h4 class="list-group-item-heading">The Importance of Adversity in Growth and Development</h4>
          <p class="list-group-item-text">The development path to excellence in anything is filled with moments of great
            reward; but challenge, disappointment,
            and frustration are also frequent companions on the road. While that sounds demotivating, and perhaps an
            article
            about growth and development shouldn’t be so blunt, this truth cannot be hidden or ignored. Ignoring reality
            doesn’t
            make it different, and naivety almost always impairs anyone’s ability to navigate complex situations.</p>
        </a>
        <a href="http://www.soccerclassroom.com/coaching-blog/position-less-soccer/" target="_blank"
          class="list-group-item">
          <h4 class="list-group-item-heading">Position-less Soccer</h4>
          <p class="list-group-item-text">Take a second and close your eyes and visualize the title of this article.
            What do you see? For a lot of you, you
            see a bunch of kids running around like chickens with their heads cut-off. There is probably no control and
            it’s
            chaotic. To me, I see something completely different. I see smooth, controlled movement with positive
            exchanges
            between teammates. I see players covering more space within the field and working harder when possession is
            lost.
            I see, total football. If you think I’m crazy, keep reading.</p>
        </a>
        <a href="http://www.soccernation.com/soccer-coach-john-napier-on-things-my-mother-never-told-me-cms-3751"
          target="_blank" class="list-group-item">
          <h4 class="list-group-item-heading">Things My Mother Never Said to Me as a Soccer Player </h4>
          <p class="list-group-item-text">Things My Mother Never Said to Me as a Soccer Player ~ By: John Napier ~ Do We
            as Parents Really Know What Is Best
            for Our Children? In today’s modern sports world, where the parents of young athletes determine what is
            “best”
            for their children (even though it is not always the best choice for them), it is refreshing to come across
            articles
            like the one below. Too many times – in all sports – the team coach or club has been in situations where
            they are
            not able to function without parent interference and a lot of...</p>
        </a>
        <a href="http://northernutahunited.com/articles/nuu-articles/5-tips-to-being-a-better-coach-in-2013.html"
          target="_blank" class="list-group-item">
          <h4 class="list-group-item-heading">5 Tips to Being a Better Coach in 2013</h4>
          <p class="list-group-item-text">New Year’s is a time for personal reflection and setting goals for the
            upcoming year. As many folks aim for improvements
            through means of setting New Year’s “resolutions”, you can as well by striving to become a better soccer
            coach.
            Perhaps your soccer team wasn’t as competitive as you had hoped for, or maybe they simply didn’t seem to
            have as
            much fun playing the game. Whatever the reasons, here are five ways that you can become a better soccer
            coach in
            2013...</p>
        </a>
        <a href="http://www.soccernation.com/mental-toughness-in-youth-soccer-preparing-our-players-better-cms-3712"
          target="_blank" class="list-group-item">
          <h4 class="list-group-item-heading">Mental Toughness in Youth Soccer: Preparing our Players Better</h4>
          <p class="list-group-item-text">By: Dr. Dina Gentile ~ As coaches we aim to train our players to be able to
            develop mastery of soccer’s most used
            skills. When our players are faced with challenges or adversity how they cope and continue to play on may be
            an
            important aspect we need to focus on at our practices. Ideally, we want our players to be prepared to deal
            with
            a bad call from an official, a physical play from an opponent, or a missed opportunity in front of the goal.
          </p>
        </a>
        <a href="http://www.soccernation.com/dr-gentile-on-teaching-mental-toughness-cms-3718" target="_blank"
          class="list-group-item">
          <h4 class="list-group-item-heading">Dr. Gentile on Teaching Mental Toughness</h4>
          <p class="list-group-item-text">By: Dr. Dina Gentile: Now that we know the importance of cultivating mental
            toughness in our practices, the next
            progression is to incorporate activities that work into our sessions so our players can respond positively
            when
            facing adversity. As with any skill, we need to “teach” mental toughness and also embrace mistake making at
            our
            practices so our players can improve and conquer their fears of failure. Ask any elite player what made them
            work
            harder at practice, and they will tell you...</p>
        </a>
        <a href="http://www.soccernation.com/soccer-coach-stan-baker-on-youth-player-development-cms-3721"
          target="_blank" class="list-group-item">
          <h4 class="list-group-item-heading">Soccer Coach Stan Baker on What's Important For Youth Player Development
          </h4>
          <p class="list-group-item-text">By: Diane Scavuzzo: Stan Baker talks about warming up the spirit of youth
            soccer players and remembering the joy
            in player development. What’s Baker’s focus? Increasing a players’ ability to make intelligent decisions,
            not just
            improve their technique. Soccer starts in the head (perception and decision making), flows through the
            heart, (passion
            for the game) and ends in the feet (the execution or technique). We have placed so much emphasis on the feet
            that
            we have forgotten where it all needs to start.</p>
        </a>
        <a href="http://www.socceramerica.com/article/49721/girls-vs-boys-should-they-be-coached-differently.html"
          target="_blank" class="list-group-item">
          <h4 class="list-group-item-heading">Girls vs. Boys: Should they be coached differently? (Part 1)</h4>
          <p class="list-group-item-text">By Mike Woitalla ~ The first time I heard the question, it took me by
            surprise. “Coach Mike, can I have a Kleenex?”
            the young girl asked. I had a well-stocked first-aid kit, but it never occurred to me to keep Kleenex on
            hand.
            I’d never used one on the soccer field as a player and had never seen a male of any age require a tissue to
            blow
            his nose on a sports field. Apparently, though, the snot rocket is not a popular method among the other
            gender.
          </p>
        </a>
        <a href="http://www.socceramerica.com/article/49810/girls-vs-boys-its-about-how-the-individual-tic.html"
          target="_blank" class="list-group-item">
          <h4 class="list-group-item-heading">Girls vs. Boys: 'It's about how the individual ticks' (Part 2)</h4>
          <p class="list-group-item-text">Interview by Mike Woitalla ~ Considering different approaches to teaching
            based on the students' gender has become
            a hot topic in the educational world, so we’ve been asking experienced American coaches if it’s also an
            issue to
            consider in youth soccer. In Part 2 of our series we speak with Minnesota coach Julie Eibensteiner, who has
            coached
            both genders at the youth and college level for more than a decade. She's currently the goalkeeping coach at
            Woodbury
            SC and head coach of U14 & U16 teams. She’s been a Region 2 ODP staff coach for both boys and girls.</p>
        </a>
        <a href="http://www.socceramerica.com/article/49845/girls-vs-boys-a-difference-in-social-dynamics.html"
          target="_blank" class="list-group-item">
          <h4 class="list-group-item-heading">Girls vs. Boys: A Difference in Social Dynamics? (Part 3)</h4>
          <p class="list-group-item-text">By Mike Woitalla ~ The YouthSoccerInsider continues its series on the
            differences between coaching boys and girls.
            A common response we’ve gotten from coaches – especially male coaches -- is that girls place a greater
            importance
            on their relationships with teammates than boys do. “One of the most interesting things I've noticed over
            the years
            is the difference in the social dynamics of the two genders,” says Wes Hart, a former MLS player who is the
            Director
            of Coaching at Colorado Rush and has worked with the club’s U.S. Development Academy (boys) and ECNL (girls)
            teams.</p>
        </a>
        <a href="http://www.socceramerica.com/article/49967/girls-vs-boys-should-coaches-communicate-differe.html"
          target="_blank" class="list-group-item">
          <h4 class="list-group-item-heading">Girls vs. Boys: Should Coaches Communicate Differently? (Part 4)</h4>
          <p class="list-group-item-text">By Mike Woitalla ~ A few years ago, I asked a man with plenty of experience,
            and a fair amount of success, coaching
            both genders about whether he takes a different approach. He didn't want his quotes attributed, but after
            answering
            “Yes!” provided an example. If he felt a male player needed to correct something about his game, he’d simply
            point
            out the player’s flaws and tell him how to improve. With a female player, he’d first...</p>
        </a>
        <a href="http://lowerislandsoccer.com/Video/OffsideInteractive.swf" target="_blank" class="list-group-item">
          <h4 class="list-group-item-heading">Offside Rule Video</h4>
          <p class="list-group-item-text">This video explains the offside rule that everyone will understand!</p>
        </a>
        <a href="http://northernutahunited.com/articles/nuu-articles/effective_youth_soccer_practice.html"
          target="_blank" class="list-group-item">
          <h4 class="list-group-item-heading">Signs of an Effective Youth Soccer Practice</h4>
          <p class="list-group-item-text">By: Dr. Dina Gentile Volunteer coaches are the backbone of youth soccer.
            Without the time commitment of youth soccer
            coaches, our programs would cease to exist. Coaches need assistance, they need practice plan ideas, and they
            need
            support. Coaches also need...</p>
        </a>
      </div>
    </div>
  </div>
</div>