<h2>REAL SALT LAKE UNVEILS PLANS FOR HERRIMAN-BASED TRAINING COMPLEX</h2>
<h5>Late April Groundbreaking for World-Class $50 Million Facility, to Open Fall 2017; RSL, Real Monarchs, RSL Academy Setup
  to Call 42-Acre Herriman City Plot Home; "This Defines Professionalization of Soccer in America" says RSL GM Craig Waibel</h5>
<p>SANDY, Utah (Saturday, April 9, 2016) - Real Salt Lake Owner Dell Loy Hansen and Herriman City Mayor Carmen Freeman jointly
  unveiled plans to break ground in late April on a $50 million soccer Training Complex, including a STEM school, earlier
  today in a pre-game briefing at Rio Tinto Stadium.</p>
<p>"As an organization, we believe that building this gathering place from ground up, developing local talent, and training
  that talent to an elite level, will lead to stronger connection and ultimate success," said Hansen, who joined the club's
  ownership ranks in late 2009 and assumed sole possession of the club in January, 2013. "'AsOne' is not just a motto - it
  is reflective of our purpose, as we provide whatever resources are necessary to field the best teams and people throughout
  our Academy to Monarchs to RSL and everything in-between."</p>
<p>"As an organization, we believe that building this gathering place from ground up, developing local talent, and training
  that talent to an elite level, will lead to stronger connection and ultimate success," said Hansen, who joined the club's
  ownership ranks in late 2009 and assumed sole possession of the club in January, 2013. "'AsOne' is not just a motto - it
  is reflective of our purpose, as we provide whatever resources are necessary to field the best teams and people throughout
  our Academy to Monarchs to RSL and everything in-between."
</p>
<p>Located on a 42-acre plot in Herriman City, in the Southwest corner of the Salt Lake Metro Area, just 20 minutes west of
  Rio Tinto Stadium, the complex will house the daily training activities for Major League Soccer's Real Salt Lake, the United
  Soccer League's Real Monarchs, as well as extensions of the club's Arizona-based U-18 and U-16 USSFDA Academy setups. Potential
  future additions include an RSL Women's Professional Team, and other youth development age groups.
</p>
<p>"Every city looks for an iconic landmark that will identify it regionally and internationally," said Herriman City Mayor
  Carmen Freeman. "From a job creation standpoint, the stimulation of economic growth, with great benefits for our residents,
  to have such a unique opportunity of an incredibly inclusive nature is enormous. Herriman City offers something unique
  of its own, a wonderful location consistent with our belief in providing an iconic setting for a world-class venue in this
  sector of the valley."
</p>
<p>In conjunction with the primary RSL complex, Hansen has created the non-profit "RSL Youth Academy Foundation" which will
  create "regional training centers" across Utah and potentially Arizona, with the first three locations slated to be North
  Logan, Ogden and West Valley City, with Orem, St. George planned for Phase II. These $2 million indoor/outdoor facilities
  - each of which includes multiple classrooms - implement an RSL-designed curriculum to the more than 60,000 players, coaches
  and referees in need of specialized training (ages 14 and younger), providing an entry point for elite development in the
  sport, potential academy aspirations and an adjunct level of training regimens designed to complement the already excellent
  club/recreational system in Utah.
</p>
<p>"Our collective passion about building this community is at the core of everything we do, with my job being to guide the
  group and lead us in how we connect to the community of nearly 10 million people across Utah and Arizona," continued Hansen.
  "I'm Salt Lake, I'm Utah, this is what I care about, and this is what the RSL values reflect, the club rooted civically
  in the community with everyone invited as a point of unification."
</p>
<p>"We embrace this sense of community through so many facets: our Foundation, the Utah and Arizona Academies, as an RSL fan,
  as a Monarchs fan, as we grow and connect with youth teams. The fun part of our program is there are numerous places to
  connect, with no one excluded, with literally everyone having a place in the RSL Family."
</p>
<p>In Herriman, the Training Complex Amenities include a total of eight (8) fields, with one for Herriman City public use and
  a total of seven (7) regulation-size soccer fields (75 yards wide by 120 yards long). Four of the fields will be natural
  grass and outdoor, with the remaining three fields utilizing state-of-the-art artificial surface. Two of the artificial
  fields will be housed in a 208,000 sq-ft. structure, the largest pre-engineered freespan building in North America. Atop
  this building will be a solar panel array from Auric Solar, roughly half the size of its Rio Tinto Stadium installation.
</p>
<p>"This defines professionalization of soccer in America," said Craig Waibel, Real Salt Lake General Manager. "This is commitment
  from an owner to build an organization - not build a building, not build a field and call it an organization - this is
  commitment beyond what we've seen to this point. This is creating a definition for our organization that's going to exist
  and identifying what defines us for years to come."
</p>
<p>In addition to the items mentioned above, RSL's Herriman Training Complex will also sit adjacent to a 250-student STEM (science,
  technology, engineering, and math) charter school developed by Utah State University, with 77,000 square feet of classrooms
  and a 90-acre campus. Intended to serve as the "Harvard of Soccer," the charter school will host approximately 50 students
  from out of state, with these students boarded on-site in a satellite structure. Adjacent to that structure will be facilities
  to house visiting Real Monarchs' opponents, visiting academy teams, and potentially international teams traveling to train
  in America.
</p>
<p>"Herriman is led by great people to work with," said Rio Tinto Stadium General Manager Craig Martin, the project leader from
  RSL. "Mayor Freeman and the City Manager Gordon Haight - among many, many others - have been very forward-thinking and
  aggressive in attracting the RSL/Monarchs and Academy infrastructure on a fast track. All the Herriman principals have
  been cooperative and flexible, which is why we are able to break ground by the end of the month, and will be open for business
  in July 2017."
</p>
<p>The facility will incorporate food and beverage operations allowing for daily meals for multiple team tenants, as well as
  meals for all charter school students. The facility will employ approximately 50 full-time staff members (coaches, school
  staff, food and beverage staff, cleaning, maintenance, and grounds crew). Part-time staff will number approximately 20.
</p>
<p>"A number of months ago, we knew this was an opportunity being actively sought by other communities," said Herriman City
  Councilor Coralee Moser. "We had land available, with views that are amazing; the Mountain View Corridor provides access
  - from day one, we were excited to make this a reality, and we are thrilled to partner with Mr. Hansen to make our city
  the home for this once-in-a-lifetime opportunity.
</p>
<p>"We have a passion for how our residents live, work and play, and this Complex and the adjacent STEM school will provide
  amazing value for our residents," continues Moser. "We are excited about Dell Loy's vision for the facility, the prospect
  of both local and international visitors, as well as the ability to expand the campus as the community embraces the overall
  vision and increasing desire for education, entertainment and recreational value."
</p>
<p>Groundbreaking expected to commence late April, 2016, with the Facility opening in August, 2017, for that year's Academy
  classes, and fully operational in advance of the 2018 MLS / USL campaigns.
</p>
<p>"This complex will serve as the crown jewel of Herriman City, with our residents experiencing huge benefits on all fronts,"
  said Nicole Martin, Herriman City Councilor. "It is rare yet incredible that a successful entity such as RSL shares our
  City's vision for creating a family-friendly, world-class destination, and now we become essentially a 'soccer-topia' to
  hone athletic and academic skills for decades to come."
</p>
<p>Last Saturday, April 2, RSL and the Monarchs saw a combined 11 current or former Academy players included in the pair of
  18-man Claret-and-Cobalt rosters for RSL's 2-1 win at Kansas City and the Monarchs' 3-3 draw with LA Galaxy II, a testament
  to the quality of the club's nascent developmental program.
</p>
<p>"We already have a great Academy environment in Casa Grande, but the distance hasn't allowed us to do things that other clubs
  are able to do," said RSL Vice-President of Soccer Administration Rob Zarkos. "The Herriman Complex gives us an integrated
  team environment, which will allow us to do a better job with our young players, having all the teams in one venue with
  staggered times, as well as extend our academy presence to dovetail with the Arizona location."
</p>
<p>Adjacent to the facility, plans are underway for a residential and commercial mix of real estate development, with projections
  for more than 400 new homes and over 600 apartment units, as well as 32 acres of retail and mixed-use zoning.
</p>
<p>"From a Herriman City perspective, this Complex will serve as a centerpiece for city-wide commercial and residential development,"
  said Jared Henderson, Herriman City Councilor. "As our city is connected via a major transportation corridor, we connect
  Salt Lake valley with Utah County; the residential component, along with restaurants, hotels, etc. will provide so much
  for our residents - recreational amenities, jobs, and more - will jumpstart development, provide an impetus as we look
  forward."
</p>
<p>"We've been excited about this from day one, and we've seen that Mr. Hansen and RSL don't go small, they goes big and do
  things the right way," said Craig Tischner, Herriman City Councilor. "In all of Mr. Hansen's businesses, he invests with
  both short-term and long-term benefit in mind, and this will exponentially stimulate economic growth and the standing and
  reputation for Herriman City, now a worldwide destination through soccer and more."
</p>