<h2>Choosing the Right Soccer Program for Your Player</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recreation vs. Competition...Independent Program vs. Club Program</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
      <p>Youth Soccer is growing in the US exponentially! We, Northern Utah United / Infinity SC, are proud to be a part of
        that enthusiastic growth. The sport of soccer has become so popular because of the many aspects of the game that
        benefit every type of player. There is a place in youth soccer for any player - for kids that are competitive, laid
        back, naturally athletic, and those that are slower to develop their athletic skills. It can be played throughout
        a person’s life, with few players or many players, and on a multitude of different surfaces - sand, turf, asphalt,
        etc. It contributes to a fit lifestyle, promotes camaraderie and team work, and also helps players develop individual
        goals and work toward them. Soccer helps kids develop good life-skills. It is a game for all.</p>
    </div>
    <div class="col-md-6">
      <img src="/images/youth-players.jpg" alt="">
    </div>
    <div class="col-sm-12">
      <p>However, given the extensive nature of soccer and the multitude of options, it can be a bit confusing for parents to
        determine the right soccer program for their child. This document was written to help parents explore the different
        local youth soccer options so that they can choose the right program for their specific goals. We hope once you read
        through our list of products that you will be able to select the right product for your child.</p>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Recreational &amp; Academy Soccer (Ages 4 &amp; older)</h3>
  </div>
  <div class="panel-body">
    <p>Recreational soccer is our most fundamental beginning program. The goal of our recreational program is to provide a program
      that will teach young players the fundamentals of soccer, while providing an environment that is fun, low pressure,
      and non-competitive. Teams are coached by volunteer parent coaches, and are formed randomly combining children that
      live within a close proximity. Our recreational philosophy is in compliance with all recommendations made by FIFA,
      USSF, US Youth Soccer, and the Utah Youth Soccer Association (UYSA). Our policy is that all players be guaranteed a
      minimum of ½ of each game, and that all players have the opportunity to play at all positions, regardless of skill
      or experience. This program’s main focus is participation, learning soccer skills, and having fun. During the season,
      we schedule two sessions a week. Additionally, most teams will also schedule practices.</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">U5/6 - U7/8 Players</h3>
  </div>
  <div class="panel-body">
    <p>The midweek scheduled session (Tuesday, Wednesday, or Thursday) is a training session, where two teams are scheduled
      together and play soccer-centered games and drills with an eye toward learning the basics. Both coaches work cooperatively
      for the first 30 minutes to run these sessions, based on training information that they are given. The last 15 minutes
      of the session is a practice scrimmage between the two teams, allowing them to put into practice what they have learned.
      The coaches act as referees and manage the time and substitutions. The second session each week is on Saturday. These
      sessions are scheduled as games, with youth referees assigned to officiate the U8 games (the U6 games allow the coaches
      on the field, so the coaches act as referees, managing the time and substitutions).</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">U10 &amp; Older Players</h3>
  </div>
  <div class="panel-body">
    <p>These players also have two games a week: One during the week (Tuesday, Wednesday, or Thursday) and one on Saturday.
      Both sessions are scheduled games with a full three-man youth referee crew officiating. Teams are coached by volunteer
      parent coaches who are given training materials that are specifically designed for the age and skill level of their
      teams. This outdoor recreational soccer programs take place twice a year. The Fall season takes place in September
      and October, with registration taking place in June and July. The Spring season takes place in April and May, with
      registration taking place in January and February. Players may register for both seasons or for one season individually.
      Uniforms are available at Al’s Sporting Goods in Logan. The uniform is a reversible Navy and White and maybe used for
      multiple years, or passed down to younger siblings. The cost is about $20.</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Competition Soccer (Ages 8 &amp; older) | Challenger League vs. State Competition</h3>
  </div>
  <div class="panel-body">
    <p>If your player is U9 (in Third grade) or older, and you notice that he/she has a real aptitude for soccer and/or a desire
      to play at a higher level than Recreational soccer, or that they want to compete with other teams for a championship,
      then you should probably look into a having them tryout for a competition team. There are two different Competition
      programs available: The Challenger League &amp; the UYSA State Competition Program. Teams form through tryouts, usually
      in June, for the next year. Coaches choose their own teams, and teams compete against other competition teams for standings.
      The amount of play time a player receives and what position a player plays is up to the coach, and is usually based
      on skill, commitment, and player development. Teams typically begin advertising their tryout information at the end
      of May. Tryout information can be found here on our website in the local pages of the newspaper under community events.</p>
    <p>Coaches that coach competition soccer, must take a certification class to gain their “E” license certificate, more experienced
      coaches may hold even higher levels of certification, such as a “D”, “C”, “B” or “A” coaching license. There are a
      few different competitive league options: </p>
    <h5>The Challenger League</h5>
    <p>competition program that primary competes just within Cache and Box Elder Counties. We have one (1) to two (2) divisions
      each from U9 Boys and Girls, up through U14 Boys and Girls, and sometime also High School divisions (U15-U18). The
      Challenger League has a Fall and a Spring season each year.</p>
    <h5>The UYSA State Competition League</h5>
    <p>state wide competition program. The State Comp league has multiple divisions for each age group from U9 - U18 boys and
      Girls. (The U9 and U10 State program is specifically known as the X-League.) Teams that compete in the State competition
      program may travel anywhere, but most younger teams will only have to travel throughout Northern Utah. Higher ranking
      teams, and the older teams will likely have to travel throughout the state. The State Competition program also has
      a Fall and a spring season each year.</p>
    <h3>League Comparisons:</h3>
    <table>
      <tr>
        <th>Challenger League</th>
        <th>UYSA State Competition</th>
      </tr>
      <tr>
        <td>Better Competition than the lower UYSA State divisions</td>
        <td>Better competition in the higher divisions</td>
      </tr>
      <tr>
        <td>Uses USSF Certified Referees</td>
        <td>Uses USSF Certified Referees</td>
      </tr>
      <tr>
        <td>Requires Certified Coaches</td>
        <td>Requires Certified Coaches</td>
      </tr>
      <tr>
        <td>Administrated and scheduled locally</td>
        <td>Administrated by the UYSA State Office in Sandy, UT</td>
      </tr>
      <tr>
        <td>Affiliated and in compliance with recommendations by UYSA, USYSA, USSF &amp; FIFA</td>
        <td>Affiliated and in compliance with recommendations by UYSA, USYSA, USSF &amp; FIFA</td>
      </tr>
      <tr>
        <td>U9 - U11 plays 8v8 <br/>U12 &amp; Older plays 11v11</td>
        <td>U9 plays 6v6 / U10-U11 plays 8v8<br/>U12 &amp; Older plays 11v11</td>
      </tr>
      <tr>
        <td>Teams may compete in any tournaments in the state except for State Cup</td>
        <td>Registered teams may compete in State Cup and all other tournaments</td>
      </tr>
      <tr>
        <td>Less Expensive and Less Travel</td>
        <td>Exposure to more teams outside Cache Valley, Box Elder, and Bear River</td>
      </tr>
    </table>
    <p>Generally speaking, we recommend that newly formed competition teams begin in the Challenger league, and compete locally
      until they need more competition.</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Team Affiliation - Independent Team Soccer vs. Club Soccer</h3>
  </div>
  <div class="panel-body">
    <p>Teams may not register directly with a league, such as the Challenger League or the UYSA State Competition League. Teams
      must register through a member organization which is affiliated through the Utah Youth Soccer Association (UYSA), in
      order to participate in either league There are several local member organizations within Cache County and Box Elder
      county and many affiliated teams throughout Cache, Box Elder, and Southern Idaho. We hope that you will chose to either
      register your team (as a coach) through one of our programs (Northern Utah United Independents - or Infinity Soccer
      Club) - OR - that you will register your player (as a parent) through one of our associated teams.</p>
    <p>The trick is to find the right team, and the right situation, that best fits with your goals, philosophy, and your family’s
      logistics. There are two types of Teams - Independent Teams and Club Teams.</p>
    <h5>Independent Teams</h5>
    <p>Organized under the Northern Utah United side of our organization - are typically coached by a parent-coach and a few
      assistants. Most of these Independent coaches have determined their own strategy and training philosophy based on their
      own personal experience and personally attained coaching education. They may work and train with other teams and/or
      coaches, but are not obligated to. They may also share a name with other teams, but usually have their own autonomy
      to coach, train, and field players as they see fit. They are part of a member organization (such as Northern Utah United),
      but are loosely bound to it as through registration and general administrative principles, but operate without specific
      demands as to how their team should be trained or organized.</p>
    <h5>Club Soccer</h5>
    <p>Organized under the Infinity SC side of our organization - provides a more cooperative approach to soccer. Cooperatively,
      all Infinity SC teams operate under the same training philosophy that all of our coaches are trained with and held
      to. This provides a more consistent level of training than typically provided by independent teams. Infinity Soccer
      Club players also have access to training opportunities outside of the club from high level trainers brought in from
      the Salt Lake area. Clubs typically hold one a mass tryout for each age group, and then sort players according to skill
      level and need. However, roster continuity is considered as well. Club soccer also has the added advantage of fluid
      movement of players between teams, as players progress or develop or as they need more playing time. Infinity Club
      Soccer provides ongoing coaches’ training for our coaching staff, and specialized director training for our players,
      in addition to the training done by each individual coach.</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Conclusion</h3>
  </div>
  <div class="panel-body">
    <p>So, does this mean one is better than the other? It depends on what your goals are for your player. Generally speaking:
      Club teams require a greater commitment, have higher level training and playing opportunities, but can be more expensive.
      Generally speaking: Independent teams train closer to home, are often less expensive, and have fewer roster changes.
      Of course, those are generalities. There are certainly exceptions to these generalities.</p>
      <p>Both options provide healthy competition. There are both Independent and Club teams in the highest divisions of State Competition, and both Independent teams and Club teams that are still in the developmental stages fighting their way from the bottom of the Challenger league. Additionally, both Independent teams and Club teams compete in both the Challenger League and in the UYSA State Competition league.</p>
      <p><i>Additionally, both Independent teams and Club teams compete in both the Challenger League and in the UYSA State Competition League.</i></p>
      <img src="/images/player_flow.jpg" alt="">
      <p>The challenge for each family, is to identify which options work best for your family and your goals, and what do you feel is in the best interest of your child. Our best advice is to check out all of the potential options, and ask a lot of questions. Take into consideration time, travel, budget, and commitment. Ask your potential coaches about their philosophy, how they train, how they rotate players, what other soccer events - such as summer tournaments - they plan on participating in, and the associated cost. Also, take into consideration which league each team plans on competing in, the local Challenger League, or the UYSA State Competition league.</p>
      <p>Northen Utah United / Infinity SC is committed to providing a healthy positive opportunity for every player. We hope this information will help you make a decision that best suits your soccer needs. If we can answer any additional questions, feel free to call our hotline at: (435) 753-8202.</p>
      <br/>
      <div>Terri Baker</div>
      <div>Executive Director</div>
      <div>Northern Utah United/Infinity Soccer Club</div>
      <div>Office (435) 753-8202</div>
      <div><a href="mailTo:terribaker1@live.com">terribaker1@live.com</a></div>
  </div>
</div>