<div class="col-sm-12">
  <h2 class="titleMargin">Registration Info</h2>
  <br/>
  <h4>Team Registration For <strong>Fall 2016 - Spring 2017 Season</strong> is June 6 - June 24</h4>.
  <p>The player and team registration deadline for the Fall 2016/Spring 2017 seasons is quickly approaching. If you are interested
    in coaching a State Competition League Soccer team this year, please read the appropriate information below carefully
    and completely.</p>
  <br/>
  <h5>Be sure to read through the follow info carefully and completely!</h5>
  <ul>
    <li>Forms &amp; Downloads</li>
    <li>What's New This Season</li>
    <li>General Info</li>
    <li>Team Registration Instructions</li>
    <li>Field Representatives</li>
    <li>Player Pictures</li>
    <li>Frequently Asked Questions</li>
    <li>Affinity Sports (ADG) Info</li>
  </ul>
</div>