<div class="col-sm-12">
  <h2 class="titleMargin">Registration Info</h2>
  <br/>
  <h4>Team Registration For <strong>Fall 2016 - Spring 2017 Season</strong> is June 6 - June 24</h4>
  <p>The player and team registration deadline for the Fall 2016/Spring 2017 seasons is quickly approaching. If you are interested
    in coaching a State Competition Soccer team this year, please read through all of the information below. All of our player
    registration will be done online this year. </p>
  <br/>
  <h5>Be sure to read through the follow info carefully and completely!</h5>
  <br/>
  <h6>Use the "Go To" dropdown buttons to navigate to different parts of this page.</h6>
  <br/>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Forms &amp; Downloads</h3>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
        <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton">Forms &amp; Downloads</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton1">What's New This Season</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton2">General Info</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton3">U8 Division Policies</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton4">Team Registration Instructions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton5">Field Representatives</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton6">Player Pictures</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton7">Frequently Asked Questions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton8">Affinity Sports (ADG) Info</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="list-group col-lg-5">
        <a href="/documents/Registration_Instructions.pdf" class="list-group-item list-group-item-secondary">2016/17 Registration Instructions</a>
        <a href="/documents/Registration_Checklist_for_Coaches.pdf" class="list-group-item list-group-item-secondary">2016/17 Registration Checklist</a>
        <a href="/documents/Registration_Fee_Schedule.pdf" class="list-group-item list-group-item-secondary">2016/17 NUU Fee Schedule</a>
        <a href="documents/TeamManagersResourceKitFall.pdf" class="list-group-item list-group-item-secondary">Team Manager's Resource Kit</a>
        <a href="/documents/YouthSoccerConfigurationAgeGroupsfor20162017.pdf" class="list-group-item list-group-item-secondary">New Age Configuation 2016/17</a>
        <a href="/documents/ConcussionPolicy.pdf" class="list-group-item list-group-item-secondary">Concussion Policy</a>
        <a href="https://www.cdc.gov/concussion/HeadsUp/Training/index.html" class="list-group-item list-group-item-secondary">Head's Up Concussion Training</a>
      </div>
      <div class="list-group col-lg-5">
        <a href="/documents/State_Alignment_Form.pdf" class="list-group-item list-group-item-secondary">State Alignment Forms</a>
        <a href="/documents/NUUTeamFinancialDisclosurePolicyForm.pdf" class="list-group-item list-group-item-secondary">NUU Financial Disclosure</a>
        <a href="http://www.utahyouthsoccer.net/coaches/coachingeducation.aspx" class="list-group-item list-group-item-secondary">UYSA Coaching Education</a>
        <a href="/documents/UYSAlicensewaiverfillinformupdated10-2014.pdf" class="list-group-item list-group-item-secondary">UYSA Coaches License Waiver</a>
        <a href="/documents/Print_a_Game_Day_Roster.pdf" class="list-group-item list-group-item-secondary">How to Print a Game Day Roster</a>
        <a href="/documents/DEVELOPMENTAL_PASS_4_Challenger_League.pdf" class="list-group-item list-group-item-secondary">Developmental Pass Instructions</a>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">What's New This Season</h3>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
        <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton1">
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton">Forms &amp; Downloads</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton1">What's New This Season</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton2">General Info</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton3">U8 Division Policies</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton4">Team Registration Instructions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton5">Field Representatives</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton6">Player Pictures</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton7">Frequently Asked Questions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton8">Affinity Sports (ADG) Info</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <li>New age groupings by year of birth &amp; New small-sided formats. Information is available in the Age configurationsheet
          on our website www.NorthernUtahUnited.com under Resources and Downloads.
        </li>
        <li>We may begin electronic Referee pay for the Challenger league, if the option becomes available for us.
        </li>
        <li>Changes to coaching licensing requirements: Coaches only need a D license if they are coaching on more than 2 state
          competition teams, both (or more) of which are U13 or older.
        </li>
        <li>New Legacy Field fee - $40 a year which will be used by UYSA to build and maintain fields within the Region where
          the funds are collected. It is Mandatory for all State Competition players, and Optional for Challenger players.
        </li>
        <li>U15 teams will now be year-round teams instead of just Fall or Spring teams. We anticipate that Challenger will have
          U15 division.
        </li>
      </ul>
      <h5>From League Commissioner Daren Woolstenhulme regarding State U15 teams</h5>
      <p>“With thechanges in the U.S. Soccer birth year registration the U15 brackets will have nearly 50% of the kidsunable
        to try out for HS Soccer (compared to 30% currently at U15) as well with the standard percentages of those able to
        try out for HS Soccer that do not get placed on a team UYSA will see a projected 60% to 72% of the age group not
        playing HS Soccer. As such UYSA has changed play at U15 to be an extended season where both girls and boys teams
        will play fall and spring. UYSA does not have nor have we ever had a policy where a player within UYSA is restricted
        from playing both HS Soccer and Club Level soccer. Players will need to speak with their individual teams and clubs
        in regards to the direction those teams are going within the U15 brackets.”</p>
      <ul>
        <li>We are expecting to have a new “Heading” policy, which will restrict players younger than 11 years of age from heading
          the ball, and recommending limiting the training time for “heading” depending on age of the player. We’ll send
          out more information as we get it.
        </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">General Information</h3>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
        <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton2">
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton">Forms &amp; Downloads</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton1">What's New This Season</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton2">General Info</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton3">U8 Division Policies</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton4">Team Registration Instructions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton5">Field Representatives</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton6">Player Pictures</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton7">Frequently Asked Questions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton8">Affinity Sports (ADG) Info</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <h4>Coaching Requirements</h4>
      <p>All coaches and assistant coaches coaching in the Competition programs are required to have a coaching license.
      </p>
      <p>All Coaches, coaching within the Challenger League or UYSA Competition leagues are required to hold an E license, with
        the following exceptions:
      </p>
      <ul>
        <li> U8 Challenger coaches and assistants must have an “F” license.
        </li>
        <li> Any UYSA State coach that coaches 2 or more U13 or older state teams, must have a D license or waiver. (If a coach
          has 1 x-league team and 1 U13 or older team, he can have an E license)
        </li>
      </ul>
      <p><strong>In addition:</strong></p>
      <ul>
        <li> ALL coaches must complete the Concussion training and upload their completion certificate every year. To access this
          training go to: <a href="http://www.cdc.gov/concussion/HeadsUp/Training/index.html">http://www.cdc.gov/concussion/HeadsUp/Training/index.html</a>
        </li>
        <li> All State level teams must have at least 2 coaches.
        </li>
      </ul>
      <h5>Coaches must have an “F” license to apply to take the “E” license class or apply for an “E” waiver -
      </h5>
      <h5>Coaches must have an “E” license to apply to take the “D” license class or apply for a “D” waiver -
      </h5>
      <p>Coaches must do pre-course assignments before attending either the “ E” or “D” license courses.
      </p>
      <p>License waivers are available for coaches who do not currently have a coaching license (with the exception of the “
        F” license, which can be obtained online at any time). Waivers are good for one season, and may only be granted to
        an individual once in a lifetime.
      </p>
      <p>Once the waiver is expired, the coach will no longer be allowed to coach until they receive their coaching license,
        or apply for and receive a one-time extension (where applicable). D waivers may only be granted to coaches who already
        hold an E license. Waivers can be applied through the Utah Youth Soccer Association, after the coach has registered
        online. The cost of both an E and D Waiver is: $25. Waiver extensions, where applicable are $50.
      </p>
      <p>The cost of the “F” license course is $25 and may be taken at any time online.
      </p>
      <p>All Coaches Licensing is done through the Utah Youth Soccer Association.
      </p>
      <p>We have an <a href="#">E license course</a> scheduled for July 27 - 30th at Sky View HS. Please register asap! The
        cost is $125
      </p>
      <p>We also have a <a href="#">D license course</a> scheduled for June 13, 14, 16, &amp; 18 th and then part 2 scheduled
        for August 25, 26, &amp; 27th in North Logan. The cost is $225
      </p>
      <p>Both E and D license courses have pre-course assignments that must be completed prior to the clinic, so please register
        as quickly as possible and get started on the pre-course modules.
      </p>
      <p>Check out the <a routerLink="#">"Coaching"</a> page in the Events section of our website for more info on licensing
        clinics and how to register.
      </p>
      <p>NUU will reimburse coaches for ½ of the cost of their licensing class. Just email a copy of your license when you receive
        it, along with your address, and we will mail you a rebate. This offer is only good for any licensing done during
        the seasonal 2016/17 season, and not for licenses received prior to this playing season.
      </p>
      <hr>
      <h4>Minimum and Maximum Roster Size For Challenger League Teams
      </h4>
      <ul>
        <li>U9 - U10 - Min 7 players / Max 12 players
        </li>
        <li> U11 - U12 - Min 9 players / Max 15 players
        </li>
        <li> U13 - U15 - Min 11 players / Max 18 players
        </li>
        <li> U15 - U19 - Min 11 players / max 22 players
        </li>
      </ul>
      <p>*U11 teams can have no more than 6 multi-rostered players; U12 &amp; older can have no more than 8 multi-roster players).U8
        - U11 play 8v8 and must have a roster between 8 and 14 players.
      </p>
      <hr>
      <h4>Tryouts</h4>
      <p>Please post your Challenger League tryout information on our website by clicking the ‘Tryout Ad Form’ above and to
        the left. Please note that the form is for Challenger League tryouts only. If you want to post a tryout advertisment
        for the State Comp League please click the UYSA Comp League tab above.
      </p>
      <p>Teams/Organizations can begin advertising tryouts at any time, but CANNOT begin to personally contact anyone outside
        their own organization until after the 2nd weekend in May.
      </p>
      <p>Tryouts for teams U9 - U10 may begin on the Monday before Memorial Day (May 23, 2016). All other older teams may begin
        tryouts on the Tuesday following Memorial Day (May 31, 2016).
      </p>
      <p>Please post your tryout information here on our website. We will be directing all inquiries regarding tryouts to the
        appropriate pages of our website.
      </p>
      <p>Upon completion of tryouts, teams must make an offer to the parents of the player in writing (may be by text, email,
        or mail). Players/Parents must be given a minimum of 24 hours to consider the offer. The offer is considered accepted
        and official once the player has registered for your team (after June 6th).
      </p>
      <p>For complete details on the Tryout policy, visit the UYSA policy 6316 at the following link:
        <span><a href="http://www.utahyouthsoccer.net/UserFiles/file/Player%20Development%20Policies%20May%202,%202016%281%29.pdf">http://www.utahyouthsoccer.net/UserFiles/</a></span></p>
      <p class="center">- or -</p>
      <p>go to: <a href="www.UtahYouthSoccer.net">www.UtahYouthSoccer.net</a> / “About” / “Bylaws and Policies” then go to Section
        6, Policy 6316.
      </p>
      <hr>
      <h4>Age Groups</h4>
      <div>Fall 2016 / Spring 2017 Season are as Follows:</div>
      <table>
        <tr>
          <th>Division</th>
          <th>Birthdate</th>
          <th>Division</th>
          <th>Birthdate</th>
          <th>Division</th>
          <th>Birthdate</th>
        </tr>
        <tr>
          <td>U8</td>
          <td>Born in 2009</td>
          <td>U12</td>
          <td>Born in 2005</td>
          <td>U16</td>
          <td>Born in 2001</td>
        </tr>
        <tr>
          <td>U9</td>
          <td>Born in 2008</td>
          <td>U13</td>
          <td>Born in 2004</td>
          <td>U17</td>
          <td>Born in 2000</td>
        </tr>
        <tr>
          <td>U10</td>
          <td>Born in 2007</td>
          <td>U14</td>
          <td>Born in 2003</td>
          <td>U18</td>
          <td>Born in 1999</td>
        </tr>
        <tr>
          <td>U11</td>
          <td>Born in 2006</td>
          <td>U15</td>
          <td>Born in 2002</td>
          <td>U19</td>
          <td>Born in 1998</td>
        </tr>
      </table>
      <p>*U15's will now register for Fall and Spring (as the U9 - U14's do). U16 &amp; Older will play either Fall or Spring
        only, with the exception of those players that play on HS provisional teams.
      </p>
      <h5>****Absolutely No U7 Play-ups into the U8 under ANY circumstances****
      </h5>
      <hr>
      <h4>Tournaments</h4>
      <p>Any team wanting to attend summer tournaments should make every effort to have their player and team registration done
        as soon as possible to ensure that your registration is processed in time for your tournament. You will need to make
        sure you get player and coach photos uploaded as soon as possible.
      </p>
      <p>Teams going to in-state tournaments will likely only need a tournament photo roster to play, but teams attending out
        of state tournaments will likely need player cards. Contact Terri Baker at terribaker1@live.com or 753-8202 if you
        need player cards.
      </p>
      <hr>
      <h4>Challenger League Registration Fees</h4>
      <ul>
        <li><strong>U9-U19</strong>: $80.00 per player / per year</li>
        <li><strong>Spring Only:</strong> $54.00</li>
      </ul>
      <p><strong>Note:</strong> The field fee is now included in the player registration fees, and will be collected through
        online registration (does not include the 2.9% online registration fee</p>
      <hr>
      <h4>Referee Fees</h4>
      <p>Referee fees are paid on the field for the Challenger league (though this may change). Complete breakdown of referee
        fees can be found in our Fee Schedule document (see the "Forms &amp; Downloads" section above).
      </p>
      <hr>
      <h4>Field Approval</h4>
      <p>You must get field approval for use of all fields. Your team registration will not be accepted without the appropriate
        field approval signatures.
      </p>
      <p>Using our city fields is a privilege, we suggest that all coaches work with their teams to make sure that we are respectful
        regarding the use of these fields to help us ensure that we may continue to keep fees as low as possible, and to
        ensure that we may continue to use them. Please make sure that your team picks up all trash before leaving the fields,
        and be cautious not to play on overly wet fields, or encourage any activities which may result in damage to the playing
        fields.
      </p>
      <p>Many fields are in great demand, and we cannot guarantee that all teams will get the fields that they request. To have
        the best chance of getting the home field that you would like, please contact the field rep as soon as possible.
        We will be limited the number of teams on each field, to ensure that fields are not overused.
      </p>
      <p>Field Representative information is at the bottom of this page (Click Here).
      </p>
      <hr>
      <h4>Field Marking</h4>
      <p>All teams should be prepared to take a turn in marking fields, if needed. Each team should be able to find two or three
        volunteers to help mark their fields before and during the season. If every team participates, it is little work
        for everyone, rather than a huge job for someone. NUU will take care of the cost of the paint, and provide the field
        marking equipment.
      </p>
      <hr>
      <h4>Field Equipment</h4>
      <p>Every field should be equipped with goals and nets, (except fields in the Brigham City area, where nets may be required
        of every home team, for each game), however all teams should have their own set of corner flags. It is the responsibility
        of the Home team to provide the corner flags for each game. Corner flags can easily be found online for less than
        $20.00 - up to about $45.00. (Check out Sator Soccer online at: www.satorsports.com ) Coaches can also find other
        equipment at this site, like Goalkeeper equipment, training equipment, etc.) Also, you can check our website’s Resource
        page for specials from local vendors and others.
      </p>
      <hr>
      <h4>Medical Releases</h4>
      <p>As part of the player online registration process, parents will be prompted to print a copy of their registration form
        and sign it and give it to the head coach. This copy of the registration can be used as a medical release in case
        a player is injured in a game or practice and the parents are not present to give their permission for medical treatment.
      </p>
      <p>You will need to have these medical releases at every practice and at every game. They will also be required for check
        in at most tournaments. Make sure you remind all players to turn in a copy of their registration form to you.
      </p>
      <hr>
      <h4>Play Up Rule</h4>
      <ul>
        <li><strong>No player younger than U8 may play in any competition program.
        </strong></li>
        <li>Players who are U8 - U10 may not be registered to a team that competes in an age group more than one year older than
          the player’s age group.
        </li>
        <li>Players who are U11 - U14 may not be registered to a team that competes in an age group more than two years older
          than the player’s age group.
        </li>
        <li>Players U15 or older may play up without restriction.
        </li>
      </ul>
      <hr>
      <h4>Multiple Rostering</h4>
      <p>Multiple rostering allows players to play on two teams at the same time. Players must be U11 or older and both teams
        must play at the same level of play, ie: State or Challenger. Additionally, the teams must be in different age brackets
        - AND - play in different divisions. Players must pay fees for both teams. U11 teams can have no more than 6 Multi-rostered
        players and U12 and older teams may have no more than 8 Multi-rostered players.
      </p>
      <hr>
      <h4>Developmental Pass - Challenger League Only
      </h4>
      <p>The developmental pass is a tool that allows a team to ‘borrow’ a player from another team on a limited basis. Players
        may only developmental pass within the same level of play, and between teams within the same organization (NUU and
        Infinity SC are now one combined organization.) Each player may developmental pass a total of six times, and a team
        may only developmental pass 3 player in any given game. This is a coach managed program, but must be done through
        the online registration program (Affinity or ADG). The complete policy and instructions on how to use the Developmental
        pass is available on our website.
      </p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">U8 Division Policies</h3>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton3" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
        <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton3">
         <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton">Forms &amp; Downloads</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton1">What's New This Season</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton2">General Info</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton3">U8 Division Policies</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton4">Team Registration Instructions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton5">Field Representatives</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton6">Player Pictures</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton7">Frequently Asked Questions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton8">Affinity Sports (ADG) Info</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <li>7v7 – roster size 7– 12 players
        </li>
        <li>U8 teams will be playing up into a U9 Format.
        </li>
        <li>Coaches and assistant must have an “F” coaching license. No waivers will be allowed. The cost of the “F” course is
          $25.00 and can be taken online at any time.
        </li>
        <li>Teams must limit their training sessions to two per week, prior to season, and no more than one per week during the
          season. Any team found in violation of this will face coaching suspensions.
        </li>
        <li><strong>Absolutely NO U7 play ups into the U8.</strong> No exceptions.
        </li>
        <li>Seasons will ideally be 8 games.
        </li>
        <li>U8 teams will be combined with the lower U9 teams if there are not enough U8 teams to make a streamlined U8 division.
        </li>
        <li>Teams will play on a U9 field with 21’ goals (eventually a 18’ goal, when they become available) and a size 4 ball.
          Game times will be 25 minute halves.
        </li>
        <li>As a result, U8’s may play up onto U9 teams
        </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Team Registration Instructions</h3>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
        <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton4">
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton">Forms &amp; Downloads</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton1">What's New This Season</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton2">General Info</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton3">U8 Division Policies</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton4">Team Registration Instructions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton5">Field Representatives</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton6">Player Pictures</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton7">Frequently Asked Questions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton8">Affinity Sports (ADG) Info</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <h4>Team Registration Deadline for Fall 2016/Spring 2017 season is June 24th</h4>
      <p><strong>To Register a Youth Competition Soccer Team </strong>(Pre-registration Info)</p>
      <ol>
        <li><strong>Contact Us: </strong>When you have decided you would like to register a competition team, please contact
          Terri Baker at (435) 753-8202 or send an email to <a href="mailto:terribaker1@live.com">terribaker1@live.com</a>          with the following information:
          <ul>
            <li>Team Name</li>
            <li>Team Age</li>
            <li>Gender</li>
            <li>Play Level (Challenger League)</li>
            <li>Head Coach and Team Manager Information:</li>
            <ul>
              <li>Name</li>
              <li>Phone Number</li>
              <li>E-mail Address</li>
            </ul>
            <li>Your Proposed Home Field</li>
          </ul>
          <p>We will then send you Team Assignment Codes for online player and coach registration. You will not be able to register
            as a coach without this information. We will also send you a packet of information including a registration checklist
            and financial disclosure, which must be turned in by June 24th..
          </p>
        </li>
        <li><strong>Coach Registration:</strong> Coaches should go online and register for their teams on June 6th or shortly
          thereafter. (See Coaching requirements above).</li>
        <li><strong>Player Tryouts: </strong>Tryouts for teams U9 - U10 may begin on the Monday before Memorial Day (May 23,
          2016). All other older teams may begin tryouts on the Tuesday following Memorial Day (May 31, 2016). Please post
          your tryout information by going to either the Challenger league tab or the UYSA State league tab, and then click
          the tryout form button to post your information. We will be directing all inquiries regarding tryouts to the tryout
          pages of our website.</li>
        <li><strong>Player and coach registration</strong> Electronic registration will open on 6th. Any players, coaches, or
          team managers that you want to add to your roster should be given a team assignment code from you and directed
          to the corresponding registration URL (above). Teams must be completely registered, and all paperwork submitted
          by Friday, June 24th.
          <p><strong>Team registration consists of:</strong></p>
          <ul>
            <li><strong>Registration checklist</strong> with field authorization and coaches signature.</li>
            <li><strong>Any multiple Roster forms</strong>, if applicaple</li>
            <li><strong>Pictures</strong> (these may be submitted electronically by e-mail).</li>
            <li><strong>Birth Certificates</strong> for all new players</li>
          </ul>

        </li>
      </ol>
      <p>NOTE: Teams must have a minimum number of players on the roster and a Head Coach (and an assistant, for Challenger
        League teams with Head coaches that coach more than one team) to complete the team registration.</p>
      <hr>
      <h4>Norther Utah United / Infinity SC Registrars</h4>
      <p>You can choose whichever registrar is more convenient for you and submit paperwork in person or electronically to either:
      </p>
      <ul>
        <li>Katie Hollingsworth In Logan (call for physical address) 753-0513 | <a href="mailto:ckhollings7@gmail.com">ckhollings7@gmail.com</a></li>
        <li>Terri Baker In Smithfield (call for physical address) 753-8202 | <a href="mailto:terribaker1@live.com">terribaker1@live.com</a></li>
      </ul>
      <p>TIP: Use the Registration Checklist as a guide to make sure your team registration is complete before you turn it in.
      </p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Field Representative Information</h3>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton5" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
        <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton5">
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton">Forms &amp; Downloads</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton1">What's New This Season</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton2">General Info</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton3">U8 Division Policies</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton4">Team Registration Instructions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton5">Field Representatives</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton6">Player Pictures</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton7">Frequently Asked Questions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton8">Affinity Sports (ADG) Info</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <ul>
        <li><strong>Logan City Fields</strong> Contact Katie Hollingsworth for field approval at 753-0513 or <a href="mailTo:ckhollings@comcast.net">ckhollings@comcast.net</a></li>
        <li><strong>North Logan Fields</strong> Contact Sharon Cox 770-1478 or <a href="mailTo:sharoncox@live.com">sharoncox@live.com</a>          for <strong>Elk Ridge</strong> approval - contact Travis Clements for <strong>Meadow View</strong> approval at
          753-2410 or <a href="mailTo:travis.clements@imail.org">travis.clements@imail.org</a></li>
        <li><strong>Cedar Ridge</strong> Contact Morey Maughan for field approval at 563-8260 or at: <a href="mailTo:maughan_03@yahoo.com">maughan_03@yahoo.com</a></li>
        <li><strong>Cub River Sports Complex</strong> Contact Terri Baker at 753-8202 for field approval</li>
        <li><strong>Nibley Fields</strong> Contact Allan Haycock at 787-8541 or at <a href="mailTo:allanh08@yahoo.com">allanh08@yahoo.com</a>          for field approval and field usage policies.</li>
        <li><strong>Brigham City and Perry Fields</strong> Contact Sheri Ricks at 435 237-9076 or <a href="mailTo:sricks04@yahoo.com">sricks04@yahoo.com</a></li>
        <li><strong>Bear River Area School Fields</strong> Contact Lori Stokes @ 435 279-4245 or at: <a href="mailTo:lori@vulcraft-ut.com">lori@vulcraft-ut.com</a></li>
        <li><strong>Hyrum Fields</strong> Brian Tippets for field authorization at: <a href="mailTo:tksoccerdad@gmail.com">tksoccerdad@gmail.com</a></li>
        <li><strong>River Heights Fields</strong> Mike Nelson for field authorization at: <a href="mailTo:mikenelson3@yahoo.com">mikenelson3@yahoo.com</a></li>
      </ul>
      <p>Providence fields, Mendon Fields, Wellsville Fields, and College/Young Ward fields - Please contact Janet Blad at:
        <a href="mailTo:registrar@southcachesoccer">registrar@southcachesoccer</a> to find out who the current field rep
        is, for authorization.</p>
      <h5>**If you are asked to pay a usage fee, please contact Terri Baker and she will arrange to have them paid for you**</h5>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Player Pictures</h3>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton6" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
        <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton6">
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton">Forms &amp; Downloads</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton1">What's New This Season</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton2">General Info</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton3">U8 Division Policies</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton4">Team Registration Instructions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton5">Field Representatives</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton6">Player Pictures</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton7">Frequently Asked Questions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton8">Affinity Sports (ADG) Info</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <p>Player photos must be uploaded to the <a href="http://affinity-sports.com/">Affinity Sports</a> (ADG) system for each
        of your players. This can only be done by team administrators (coaches, assistant coaches, and team managers) or
        by registrars. Just click on any of the links for <a href="http://affinity-sports.com/">Affinity Sports</a> on this
        website to log into your account.
      </p>
      <p>Please remember that player photos should be head or head and shoulder shots only, with no hats or funny faces. They
        should be like passport photos.
      </p>
      <p>Helpful Hint: as you are cropping photos, if you will set your crop parameters to 100 pixels wide and 120 height, your
        photos will not be distorted when you print your game day rosters. <a href="documents/ADG_Player_Photo_Instructions.pdf">Click Here</a>        to download instructions.
      </p>
      <p>Note: If you need help uploading your photos, feel free to contact Terri Baker or send them to her by email and she
        will be happy to crop and upload them for you.
      </p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Frequently Asked Questions</h3>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton7" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
        <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton7">
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton">Forms &amp; Downloads</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton1">What's New This Season</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton2">General Info</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton3">U8 Division Policies</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton4">Team Registration Instructions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton5">Field Representatives</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton6">Player Pictures</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton7">Frequently Asked Questions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton8">Affinity Sports (ADG) Info</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What forms of payment can we use to pay our online fees? </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            We accept Mastercard, Visa, Discover cards, and echecks, which allow you to take funds directly from your bank account.
          </div>
        </div>
      </div>
      <!-- /.panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What is the soccer season?</a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            There is no traditional season in youth soccer. At the competition level we play a fall season (August through October) and
            a spring season (April through May) with only a short break in the winter and a short break in the summer.
          </div>
        </div>
      </div>
      <!-- /.panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What does the U in U-6 mean?</a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse">
          <div class="panel-body">
            The player's age as of August 1st (the official start of the season) is Under-6.
          </div>
        </div>
      </div>
      <!-- /.panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How many practices are there per week?</a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse">
          <div class="panel-body">
            Usually teams practice two times per week.
          </div>
        </div>
      </div>
      <!-- /.panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What equipment do I need?</a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse">
          <div class="panel-body">
            Shinguards are required for all practices and games. Cleated shoes are needed if play will be on wet, muddy or soft surfaces.
            For very young players, sneakers will do fine.
          </div>
        </div>
      </div>
      <!-- /.panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How long does practice last?</a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse">
          <div class="panel-body">
            Practices for players six and younger should be no more than an 45 - 60 minutes. Under-8 players practice 60 - 75 minutes.
            Under-10 players are about 75 - 90 minutes. Older players practice for about 1 1/2 - 2 hours.
          </div>
        </div>
      </div>
      <!-- /.panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What does my child need to bring to practice?</a>
          </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse">
          <div class="panel-body">
            A ball, soccer shoes, shinguards and plenty of water.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Affinity Sports (ADG)</h3>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton8" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
        <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton8">
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton">Forms &amp; Downloads</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton1">What's New This Season</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton2">General Info</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton3">U8 Division Policies</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton4">Team Registration Instructions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton5">Field Representatives</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton6">Player Pictures</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton7">Frequently Asked Questions</a>
          <a class="dropdown-item" href="/uysaStateCompetition/uysaRegistrationInfo#dropdownMenuButton8">Affinity Sports (ADG) Info</a>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <p>NUU utilizes Affinity Sports to register and manage our Schedules and Player database. To access your team's information
        or to register your team or players for Challenger League play you will use this provider. To log into the website
        you will need a Sports Affinity username and password.</p>
      <p><a href="http://affinity-sports.com/">Click Here</a> to access this system.
      </p>
    </div>
  </div>
