<div class="row">
  <div class="col-md-12">
    <h2>2021 Cache Valley Cup Schedules</h2>
    <br/>
    <div class="col-sm-12">
      <div class="col-sm-6 pad-top-lg">
        <h3 class="schedule-title">Boys Schedules</h3>
        <div *ngFor="let boysSchedule of boysSchedules;">
          <a href={{boysSchedule.url}} class="list-group-item list-group-item-secondary" target="_blank"><h5>{{boysSchedule.division}}</h5></a>
          <br/>
          <!-- <a href={{boysSchedule.downloadLink}} target="_blank">PDF Download</a> -->
        </div>
      </div>
      <div class="col-sm-6 pad-top-lg">
        <h3 class="schedule-title">Girls Schedules</h3>
        <div *ngFor="let girlsSchedule of girlsSchedules;">
          <a href={{girlsSchedule.url}} class="list-group-item list-group-item-secondary" target="_blank"><h5>{{girlsSchedule.division}}</h5></a>
          <br/>
          <!-- <a href={{boysSchedule.downloadLink}} target="_blank">PDF Download</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
<hr>