<div class="row">
  <div class="col-md-12">
    <h2>Cache Valley Cup Carnival</h2>
    <p>Friday night's team dinner will begin at 5:00pm at Green Canyon HS – 2960 North Wolfpack Way, In North Logan for our annual Cache Valley Cup tournament carnival, team dinner and Coach vs Referee matches. </p>
    <p>The dinner is free for all players and coaches. There will also be a skills competition, music, raffles, inflatables,
      bubble soccer and more for your entertainment!
    </p>
    <p>Also, we will have our Tournament store open, with tournament shirts, sweatshirts, sunglasses, key chains, compression
      shorts, sports umbrellas, and more for sale!
    </p>
    <a href="/documents/GoalGiveaway.pdf" class="list-group-item list-group-item-secondary">Cache Valley Cup Goal Giveaway Information</a>
    <br/>
    <h4>Come Back here for a schedule of events when we get closer to the Tournament!</h4>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Dinner</h3>
      </div>
      <div class="panel-body">
        <p>Pizza Hut pizza, Casper’s Ice Cream, and drinks – FREE for players and coaches. Parents and Siblings can
          purchase additional meal tickets for only $3.00 each
        </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Soccer Skills Competition</h3>
      </div>
      <div class="panel-body">
        <p>There will be Skills Competitions during the Carnival so encourage your players to come and compete! Top players will received customized Cache Valley Cup medals.</p>
        <!-- <p>Starting at 5:00 p.m. at Sky View High School, on the turf field we will be holding our skills competition.</p>
        <p>There will be speed shot, shooting accuracy, goalie, juggling and obstacle course.  Any tournament registered player can compete.  Prizes will be awarded for each age group... girls and boys, and the best part is that it is FREE to enter!</p>
        <p>Finals will start when the JV coaches vs referees game starts.  Winners will be revealed and awarded in between the JV and Varsity games.</p> -->
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Coaches vs Referees Games</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li>The Coach Vs. Referee games will be after the Carnival on Friday, July 12th at Green Canyon High School (2960 N. Wolfpack Way, in North Logan).</li>
          <li>The JV game will start at 7:30 p.m. and will begin with a flag ceremony and the national anthem. The J.V. Teams consist of referees and coaches that want to play, but may not be up for the competitive nature of the Varsity match. </li>
          <li>Varsity will start at about 8:30 p.m. The Varsity team will consist of referees and coaches that want to compete at a higher level.  Please use your best judgement on which team you are best suited for while remembering that we want to provide an entertaining set of matches for the crowd to watch, and more importantly we want everyone to have fun and be safe!</li>
          <h5>Game Rules:</h5>
          <ul>
            <li>Each team will have a roster limit of 25 players. To be placed on a roster you will need to fill out the form below. Once the rosters are full there will be no additional registration, so please register right away if you want to play.</li>
            <li>Every coach must be listed on a roster of a team that is attending the Cache Valley Cup and every referee submitted will be verified by the referee coordinator prior to finalizing rosters.</li>
            <li>Participating Referees must be assigned to ref in the Cache Valley Cup.</li>
            <li>Each player will need to wear soccer cleats and shinguards covered by soccer socks. </li>
            <li>The coaches and referees will be given t-shirts to play in.</li>
            <p>Remember - this is for the kids, it is exhibition, not world cup.  Keep it fun, but show the kids what you can do!</p>
            <h5>Rosters are Limited, so Register Now Below!</h5>
          </ul>
        </ul>
      </div>
    </div>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSctHTL6QzFCSBgKyc_ZeHtaXZW0ZmkHpOPLc2vADqoOGAq1yg/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
</div>
<hr>