<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Northern Utah United Soccer</h1>
    <p class="lead">Youth Soccer at it's finest</p>
  </div>
</div>

<!-- Page Content -->
<div class="container">
  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-9">
        <h1 class="page-header">
          Welcome to Northern Utah United
        </h1>
      </div>
      <div class="col-lg-3">
        <img src="/images/NUUInfinity.jpg" class="make-me-look-better" alt="">
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="text-white"><i class="fa fa-fw fa-check"></i> About Us</h4>
        </div>
        <div class="panel-body">
          <p>Tucked away in beautiful Cache Valley, Northern Utah United is Cache Valley&#39;s competitive soccer club. We welcome
            all ages to come play, and learn the best sport in the world!</p>
          <a routerLink="../about" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="text-white"><i class="fa fa-fw fa-gift"></i> Upcoming</h4>
        </div>
        <div class="panel-body">
          <h5>{{eventTitle}}</h5>
          <p>The event will take place June 26-29.</p>
          <div>Use the <strong>{{eventButton}}</strong> button below to see more info.</div>
          <br/>
          <!--<p>Watch here for all upcoming tournaments, leagues, and activities! We are constantly improving our program and finding
            ways to improve the soccer community in Cache Valley.</p>-->
          <a routerLink="../events/upcomingEvents" class="btn btn-primary">{{eventButton}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="text-white"><i class="fa fa-fw fa-compass"></i> NUU Events</h4>
        </div>
        <div class="panel-body events-panel">
          <p>NUU celebrations are always the best part of any tournament! we provide family friendly events for all ages to
            come enjoy.</p>
          <a routerLink="../events/cacheValleyCup" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Navigate Northern Utah United</h2>
    </div>
    <div class="col-md-4 col-sm-6 padding-bottom">
      <a routerLink="../resources/downloads" class="link">
        <img class="img-responsive img-portfolio img-hover" src="/images/ref-600.jpg" alt="">
        <div>
          <h3 class="post-content">Resources</h3>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 padding-bottom">
      <a routerLink="../events/upcomingEvents" class="link">
        <img class="img-responsive img-portfolio img-hover" src="/images/shutterstock_237343282.jpg" alt="">
        <div>
          <h3 class="post-content">Events</h3>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 padding-bottom">
      <a routerLink="../leagues" class="link">
        <img class="img-responsive img-portfolio img-hover" src="/images/shutterstock_396303802.jpg" alt="">
        <div>
          <h3 class="post-content">Leagues</h3>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 padding-bottom">
      <a routerLink="../recreation" class="link">
        <img class="img-responsive img-portfolio img-hover" src="/images/shutterstock_260402759.jpg" alt="">
        <div>
          <h3 class="post-content">Recreation</h3>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 padding-bottom">
      <a routerLink="../events/cacheValleyCup" class="link">
        <img class="img-responsive img-portfolio img-hover" src="/images/shutterstock_105224906.jpg" alt="">
        <div>
          <h3 class="post-content">Tournaments</h3>
        </div>
      </a>
    </div>
    <div class="col-md-4 col-sm-6 padding-bottom">
      <a routerLink="../about" class="link">
        <img class="img-responsive img-portfolio img-hover" src="/images/shutterstock_304629680.jpg" alt="">
        <div>
          <h3 class="post-content">About Us and Affiliated Teams</h3>
        </div>
      </a>
    </div>
  </div>
  <!-- /.row -->

  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Our Purpose</h2>
    </div>
    <div class="col-md-6">
      <p>Here at Northern Utah United our purpose is to:</p>
      <ul>
        <li><strong>Provide youth of all ages a way to continue to grow their love for soccer.</strong>
        </li>
        <li>Have the greatest competitive leagues and tournaments in northern Utah.</li>
        <li>Keep everyone entertained with events for everyone in the family!</li>
        <li>Ensure all youth have a fun time in our recreation leagues.</li>
        <li>Help our youth learn to work as a team and gain leadership skills while they are young.</li>
      </ul>
      <p>The most important part of Northern Utah United is to provide a wholesome experience for everyone, and ensure that
        everyone can gain experience.</p>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="/images/20150220_164813_resized.jpg" alt="">
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Call to Action Section -->
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <p>We are always looking for volunteers here at Northern Utah United. If you, or anyone you know, wishes to volunteer
          with us, please contact us.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-primary btn-block" routerLink="../contact">Contact Us</a>
      </div>
    </div>
  </div>
</div>