<h2 class="titleMargin">Downloads</h2>
<div class="col-sm-12">
  <h4>Forms</h4>
</div>
<div class="list-group col-lg-5">
  <a href="/documents/PlayerRegistrationForm.pdf" class="list-group-item list-group-item-secondary">Registration Form</a>
  <a href="/documents/Player_Drop_Form.pdf" class="list-group-item list-group-item-secondary">Drop Form</a>
  <a href="/documents/PlayerTranserForm.pdf" class="list-group-item list-group-item-secondary">Transfer Form</a>
  <a href="/documents/MultipleRosterForm(1).pdf" class="list-group-item list-group-item-secondary">Multiple Roster Form</a>
  <a href="/documents/specialty_player_action_2011.pdf" class="list-group-item list-group-item-secondary">Specialty Player Action Form</a>
  <a href="/documents/HeadCoachChange.pdf" class="list-group-item list-group-item-secondary">NUU Head Coach Change Form</a>
  <a href="/documents/ParentCode.pdf" class="list-group-item list-group-item-secondary">Parent Code of Conduct</a>
</div>
<div class="list-group col-lg-5">
  <a href="/documents/PhotoReleaseWaiver.pdf" class="list-group-item list-group-item-secondary">Photo Release Form</a>
  <a href="/documents/ConcussionPolicy.pdf" class="list-group-item list-group-item-secondary">Concussion Policy</a>
  <a href="/documents/VolDisc.pdf" class="list-group-item list-group-item-secondary">Volunteer Disclosure</a>
  <a href="/documents/CodeofCoachingEthics.pdf" class="list-group-item list-group-item-secondary">Coaches Code of Conduct</a>
  <a href="/documents/form_foreign_translation.pdf" class="list-group-item list-group-item-secondary">Foreign Translation Form (for Birth Certificates)</a>
  <a href="/documents/UYSAlicensewaiverfillinformupdated10-2014.pdf" class="list-group-item list-group-item-secondary">UYSA Coaches License Waiver</a>
</div>
<div class="col-sm-12">
  <h4>Educational Links</h4>
</div>
<div class="list-group col-lg-5">
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSfCnnaLvsVI9HJcZv4bQcwGd2xzXY8uWE5dXsdFXZelFGk-AQ/viewform" class="list-group-item list-group-item-secondary">Parent - Sideline Tutorial</a>
  <a href="https://docs.google.com/forms/d/1VLrqJigzpZOj5VUfAZeR27KQUZcwFdfsFzlgeNWfkjA/viewform" class="list-group-item list-group-item-secondary">Coach - Sideline Tutorial</a>
  <a href="#" class="list-group-item list-group-item-secondary">Choosing the Right Soccer Program for Your Player</a>
</div>
<div class="list-group col-lg-5">
  <a href="https://www.cdc.gov/concussion/HeadsUp/Training/index.html" class="list-group-item list-group-item-secondary">Head's Up Concussion Training</a>
  <a href="http://www.utahyouthsoccer.net/coaches/coachingeducation.aspx" class="list-group-item list-group-item-secondary">UYSA Coaching Education</a>
</div>
<div class="col-sm-12">
  <h4>Recreation League</h4>
</div>
<div class="list-group col-lg-5">
  <a href="/documents/NEW_Curriculum.pdf" class="list-group-item list-group-item-secondary">Spring 2015 Coaching Curriculum</a>
  <a href="/documents/2013-U14-Short-sided-rules-4v4.pdf" class="list-group-item list-group-item-secondary">Spring 2013 U14/15 4v4 Rules</a>
  <a href="/documents/2013-u6-special-rules.pdf" class="list-group-item list-group-item-secondary">Spring 2013 U6 Special Rules</a>
  <a href="/documents/YouthSoccerConfigurationAgeGroupsfor20162017.pdf" class="list-group-item list-group-item-secondary">New Age Configuration 2016/17</a>
</div>
<div class="list-group col-lg-5">
  <a href="/documents/ConcussionPolicy.pdf" class="list-group-item list-group-item-secondary">NUU Concussion Policy</a>
  <a href="/documents/Infinity_Training_Sessions.pdf" class="list-group-item list-group-item-secondary">Infinity Soccer Club - Academy Training Flyer</a>
  <a href="/documents/Infinity_Training_Sessions.pdf" class="list-group-item list-group-item-secondary">Laws of the Game</a>
  <a href="/documents/PlayerRegistrationform.pdf" class="list-group-item list-group-item-secondary">Player Registration Form</a>
</div>
<div class="col-sm-12">
  <h4>Challenger League</h4>
</div>
<div class="list-group col-lg-5">
  <a href="/documents/Registration_Instructions.pdf" class="list-group-item list-group-item-secondary">2016/17 Registration Instructions</a>
  <a href="/documents/Registration_Checklist_for_Coaches.pdf" class="list-group-item list-group-item-secondary">2016/17 Registration Checklist</a>
  <a href="/documents/Registration_Fee_Schedule.pdf" class="list-group-item list-group-item-secondary">2016/17 NUU Fee Schedule</a>
  <a href="documents/TeamManagersResourceKitFall.pdf" class="list-group-item list-group-item-secondary">Team Manager's Resource Kit</a>
  <a href="/documents/YouthSoccerConfigurationAgeGroupsfor20162017.pdf" class="list-group-item list-group-item-secondary">New Age Configuation 2016/17</a>
  <a href="/documents/ConcussionPolicy.pdf" class="list-group-item list-group-item-secondary">Concussion Policy</a>
  <a href="https://www.cdc.gov/concussion/HeadsUp/Training/index.html" class="list-group-item list-group-item-secondary">Head's Up Concussion Training</a>
</div>
<div class="list-group col-lg-5">
  <a href="/documents/State_Alignment_Form.pdf" class="list-group-item list-group-item-secondary">State Alignment Forms</a>
  <a href="/documents/NUUTeamFinancialDisclosurePolicyForm.pdf" class="list-group-item list-group-item-secondary">NUU Financial Disclosure</a>
  <a href="http://www.utahyouthsoccer.net/coaches/coachingeducation.aspx" class="list-group-item list-group-item-secondary">UYSA Coaching Education</a>
  <a href="/documents/UYSAlicensewaiverfillinformupdated10-2014.pdf" class="list-group-item list-group-item-secondary">UYSA Coaches License Waiver</a>
  <a href="/documents/Print_a_Game_Day_Roster.pdf" class="list-group-item list-group-item-secondary">How to Print a Game Day Roster</a>
  <a href="/documents/DEVELOPMENTAL_PASS_4_Challenger_League.pdf" class="list-group-item list-group-item-secondary">Developmental Pass Instructions</a>
</div>
<div class="col-sm-12">
  <h4>UYSA State Comp League</h4>
</div>
<div class="list-group col-lg-5">
  <a href="/documents/Registration_Instructions.pdf" class="list-group-item list-group-item-secondary">2016/17 Registration Instructions</a>
  <a href="/documents/Registration_Checklist_for_Coaches.pdf" class="list-group-item list-group-item-secondary">2016/17 Registration Checklist</a>
  <a href="/documents/Registration_Fee_Schedule.pdf" class="list-group-item list-group-item-secondary">2016/17 NUU Fee Schedule</a>
  <a href="/documents/TeamManagersResourceKitFall.pdf" class="list-group-item list-group-item-secondary">Team Manager's Resource Kit</a>
  <a href="/documents/YouthSoccerConfigurationAgeGroupsfor20162017.pdf" class="list-group-item list-group-item-secondary">New Age Configuation 2016/17</a>
  <a href="/documents/ConcussionPolicy.pdf" class="list-group-item list-group-item-secondary">Concussion Policy</a>
  <a href="https://www.cdc.gov/concussion/HeadsUp/Training/index.html" class="list-group-item list-group-item-secondary">Head's Up Concussion Training</a>
</div>
<div class="list-group col-lg-5">
  <a href="/documents/State_Alignment_Form.pdf" class="list-group-item list-group-item-secondary">State Alignment Forms</a>
  <a href="/documents/NUUTeamFinancialDisclosurePolicyForm.pdf" class="list-group-item list-group-item-secondary">NUU Financial Disclosure</a>
  <a href="http://www.utahyouthsoccer.net/coaches/coachingeducation.aspx" class="list-group-item list-group-item-secondary">UYSA Coaching Education</a>
  <a href="/documents/UYSAlicensewaiverfillinformupdated10-2014.pdf" class="list-group-item list-group-item-secondary">UYSA Coaches License Waiver</a>
  <a href="http://www.utahyouthsoccer.net/programs/competitionschedule.aspx" class="list-group-item list-group-item-secondary">State Comp Program FAQs</a>
  <a href="/documents/Print_a_Game_Day_Roster.pdf" class="list-group-item list-group-item-secondary">How to Print a Game Day Roster</a>
  <a href="/documents/Club-Pass-Policy-&-Instructions.pdf" class="list-group-item list-group-item-secondary">Club Pass Instructions</a>
</div>
