<div class="container">
  <div class="page-head">
    <div class="col-lg-12">
      <h1 class="page-header">Recreation
      </h1>
      <ol class="breadcrumb">
        <li>
          <a routerLink="../home">Home</a>
        </li>
        <li class="active">Recreation</li>
      </ol>
    </div>
  </div>
  <div class="container">
    <!--put these buttons on the bottom-->
    <div class="col-sm-12">
      <img class="center" src="/images/Soccertech.png" alt="">
      <div class="center-div">Recreational Coaching Powered through Soccertech</div>
    </div>
    <div class="pad-bottom">
      <div class="col-sm-12" style="padding-bottom: 20px">
        <div class="pad-top-sm">Northern Utah United Youth Soccer offers an established successful recreation program, currently operating within
          Cache Valley from Logan north to the Idaho border.</div>
        <div>This program promotes small-sided soccer for younger age groups, allowing for more active play. This program is designed
          with an emphasis on participation based on the philosophy of equal play-time at all positions, for all players,
          regardless of skill or experience, in accordance with US Youth Soccer's recreational philosophy.
        </div>
      </div>
      <div class="col-sm-12">
        <h3 class="">Fall/Spring 2019-2020 Recreation Soccer Registration now open until August 4th!</h3>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <i class="fa fa-fw fa-check"></i> Register Online</h4>
          </div>
          <div class="panel-body">
            <div class="online">To Register Online</div>
            <div>
              <ul>
                <li>Click the "Online Registration" button below and follow the instructions.</li>
                <li>We accept Visa, Mastercard, American Express, Discover, and e-check.</li>
                <li>Please Note: A service charge of 2.9% will be added to all credit card transactions or $2.00 for all E-check
                  transactions. A $5.00 Late fee will be charged after the registration deadline, and online registration
                  will only remain open on a space available basis.</li>
              </ul>
            </div>
            <a routerLink="/registration" class="btn btn-primary register-online">Register Online</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <i class="fa fa-fw fa-gift"></i> Register By Mail</h4>
          </div>
          <div class="panel-body">
            <p>Click the "Register By Mail" button below, fill out the form, and send it to: </p>
            <div>472 E. Center</div>
            <div>Smithfield, UT 84335</div>
            <p style="margin-bottom: 134px">Payable to Northern Utah United</p>
            <a href="/documents/player-registration-form.pdf" class="btn btn-primary">Register By Mail</a>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-12">
        <h2>In-Person Registration</h2>
        <p>Saturday, February 23 10:00-2:00 Old Richmond City Offices 6 West Main</p>
      </div> -->
      <div class="col-lg-12">
        <h2>Recreation Schedules</h2>
        <!-- <div class="col-md-4 img-portfolio">
          <a href="https://uysa-spgnuurec18.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=2254D274-EFB1-4AC2-8A60-736E3D030EF3&show=boys">
            <img class="img-responsive img-hover" src="/images/shutterstock_1728558.jpg" alt="">
          </a>
          <h3>
            <a href="https://uysa-spgnuurec18.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=2254D274-EFB1-4AC2-8A60-736E3D030EF3&show=boys">{{currentYear}} Boys League</a>
          </h3>
        </div>
        <div class="col-md-4 img-portfolio">
          <a href="https://uysa-spgnuurec18.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=2254D274-EFB1-4AC2-8A60-736E3D030EF3&show=girls">
            <img class="img-responsive img-hover" src="/images/shutterstock_80550457.jpg" alt="">
          </a>
          <h3>
            <a href="https://uysa-spgnuurec18.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=2254D274-EFB1-4AC2-8A60-736E3D030EF3&show=girls">{{currentYear}} Girls League</a>
          </h3>
        </div> -->
        
        
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=4E5F5058-A65D-4E96-9A58-7497D18371E9&show=boys"
              class="no-link" target="_blank">Spring 219 Boys League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=4E5F5058-A65D-4E96-9A58-7497D18371E9&show=girls"
              class="no-link" target="_blank">Spring 2019 Girls League</a>
          </h4>
        </div>
      </div>
    </div>
    <div class="pad-top-lg">
      <div class="col-lg-12">
        <h3>Previous Recreation Schedules</h3>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa-2018fallscsl.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=D3EE8151-5799-432F-9C95-DF82428E9882&show=boys"
              class="no-link" target="_blank">Fall 2018 U10 Boys League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa-2018fallscsl.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=D3EE8151-5799-432F-9C95-DF82428E9882&show=girls"
              class="no-link" target="_blank">Fall 2018 U10 Girls League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=763D675F-E1F7-4843-8022-8B20E70B55A5&show=boys"
              class="no-link" target="_blank">Fall 2018 U6 and U8 Boys League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=763D675F-E1F7-4843-8022-8B20E70B55A5&show=girls"
              class="no-link" target="_blank">Fall 2018 U6 and U8 Girls League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa-spgnuurec18.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=2254D274-EFB1-4AC2-8A60-736E3D030EF3&show=boys"
              class="no-link" target="_blank">Spring 2018 Boys League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa-spgnuurec18.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=2254D274-EFB1-4AC2-8A60-736E3D030EF3&show=girls"
              class="no-link" target="_blank">Spring 2018 Girls League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=F8201C18-112F-4BA8-A6F3-A480394F890F&show=boys"
              class="no-link" target="_blank">Spring 2017 Boys League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=F8201C18-112F-4BA8-A6F3-A480394F890F&show=girls"
              class="no-link" target="_blank">Spring 2017 Girls League</a>
          </h4>
        </div>
      </div>
      <div class="pad-top-lg">
        <div class="col-lg-12">
          <h3>Camps</h3>
          <p>No info at this time.</p>
          <!-- <div class="col-lg-6">
        <img src="/images/rslCamp.png" alt="RSL Camp" style="height: 50%; width: 50%">
      </div>
      <div class="col-lg-6">
        <h5><a class="no-link" href="http://www.aggiessoccercamps.com/summer-academy.cfm">2017 Summer Skills/GK Academy</a></h5>
        <br/>
        <h5><a class="no-link" href="http://www.aggiessoccercamps.com/colege-id-camps.cfm">2017 Summer College ID Camps</a></h5>
      </div> -->
        </div>
      </div>
    </div>
  </div>
</div>