<div class="container">
  <div class="page-head mat-typography">
    <div class="col-lg-12">
      <h1 class="page-header">Recreation
      </h1>
      <ol class="breadcrumb">
        <li>
          <a routerLink="../home">Home</a>
        </li>
        <li class="active">Recreation</li>
      </ol>
    </div>
  </div>
  <div class="container">
    <div class="col-sm-12 button-group pad-top-lg">
      <div class="destination">
        <a target="_blank" mat-raised-button class="default-button" href="https://cvtryouts.com/destination">Destination Soccer</a>
      </div>
      <div class="royalty">
        <a target="_blank" mat-raised-button class="default-button" href="https://www.cvtryouts.com/rise">Royalty Prep</a>
      </div>
    </div>
    <div class="pad-bottom">
      <div class="col-sm-12" style="padding-bottom: 20px">
        <div class="pad-top-sm">
          Thank You NUU Families for your support of the NUU Recreation Soccer Program for the past 30+ years. It has
          been our passion and our privilege to be a part of the lives of your youth players.
        </div>
        <div class="pad-top-sm">
          Our goal has always been to do what's best for kids in regards to soccer programming here in Cache Valley. In
          the last year, Northern Utah United has evolved the mission of our organization to try to meet the growing
          demands for more technical development of our players. With this end goal in mind, we currently run several
          programs for non-competitive players such as Destination Soccer & Royalty Prep, that are designed help players
          develop skills to build confidence and success at a young age before moving onto more competitive soccer
          programs.
        </div>
        <div class="pad-top-sm">
          Destination Soccer has served over 1,200 kids since its inception in late 2018. The enrollment for Destination
          soccer is year round, in four week sessions, allowing parents greater flexibility to choose the season that
          works best for their families.
        </div>
        <div class="pad-top-sm">
          For those that continue to want a 'traditional recreational soccer' experience, we encourage you to reach out
          to the various city recreational programs around the valley.
        </div>
        <div>
          Northern Utah United
        </div>
        <!-- <div class="pad-top-sm">Northern Utah United Youth Soccer offers an established successful recreation program, currently operating within
          Cache Valley from Logan north to the Idaho border.</div>
        <div>This program promotes small-sided soccer for younger age groups, allowing for more active play. This program is designed
          with an emphasis on participation based on the philosophy of equal play-time at all positions, for all players,
          regardless of skill or experience, in accordance with US Youth Soccer's recreational philosophy.
        </div> -->
      </div>
      <!-- <div class="col-sm-12">
        <h3 class="">Spring 2021 Recreation Soccer Registration now open until March 8th!</h3>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <i class="fa fa-fw fa-check"></i> Register Online
            </h4>
          </div>
          <div class="panel-body">
            <div class="online">To Register Online</div>
            <div>
              <ul>
                <li>Click the "Online Registration" button below and follow the instructions.</li>
                <li>We accept Visa, Mastercard, American Express, Discover, and e-check.</li>
                <li>Please Note: A service charge of 2.9% will be added to all credit card transactions or $2.00 for all
                  E-check
                  transactions. A $5.00 Late fee will be charged after the registration deadline, and online
                  registration
                  will only remain open on a space available basis.</li>
              </ul>
            </div>
            <a routerLink="/registration" class="btn btn-primary register-online">Register Online</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <i class="fa fa-fw fa-gift"></i> Register By Mail
            </h4>
          </div>
          <div class="panel-body">
            <p>Click the "Register By Mail" button below, fill out the form, and send it to: </p>
            <div>472 E. Center</div>
            <div>Smithfield, UT 84335</div>
            <p style="margin-bottom: 134px">Payable to Northern Utah United</p>
            <a href="/documents/player-registration-form.pdf" class="btn btn-primary">Register By Mail</a>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <h2>In-Person Registration</h2>
        <p>Saturday, February 23 10:00-2:00 Old Richmond City Offices 6 West Main</p>
      </div>
      <div class="col-lg-12">
        <h2>Recreation Schedules</h2>
        <div class="col-md-4 img-portfolio">
          <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=33CA7B12-BF07-47BA-9F8F-1F78AC8D1AA4&show=boys"
            target="_blank">
            <img class="img-responsive img-hover" src="/images/shutterstock_1728558.jpg" alt="">
          </a>
          <h3>
            <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=33CA7B12-BF07-47BA-9F8F-1F78AC8D1AA4&show=boys"
              target="_blank">{{currentYear}} Boys League</a>
          </h3>
        </div>
        <div class="col-md-4 img-portfolio">
          <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=33CA7B12-BF07-47BA-9F8F-1F78AC8D1AA4&show=girls"
            target="_blank">
            <img class="img-responsive img-hover" src="/images/shutterstock_80550457.jpg" alt="">
          </a>
          <h3>
            <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=33CA7B12-BF07-47BA-9F8F-1F78AC8D1AA4&show=girls"
              target="_blank">{{currentYear}} Girls League</a>
          </h3>
        </div>

        <div class="col-lg-6">
          <h3>
            <a href="https://uysa-2021springscslrec.sportsaffinity.com/Tour/public/info/schedule_results2.asp?sessionguid=&flightguid=F2AAC4A1-3D29-41A1-8D28-3A63EB263E5A&tournamentguid=197EFB42-948F-4D8F-AF69-A70440152A25"
              class="no-link" target="_blank">Spring 2021 U15 Schedule</a>
          </h3>
        </div>

      </div> -->
    </div>
    <!-- <div class="pad-top-lg">
      <div class="col-lg-12">
        <h3>Previous Recreation Schedules</h3>
        <div class="col-lg-12">
          <h4>
            <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&Tournamentguid=%7bD96824B2-5AF1-4840-BECD-69683F380E07%7d"
              class="no-link" target="_blank">2020 Fall Schedule</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=A0F7A59E-8774-4A54-A8C1-D5F1642DC274&show=boys"
              class="no-link" target="_blank">U6 / U8 Fall 2019 Boys League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=A0F7A59E-8774-4A54-A8C1-D5F1642DC274&show=girls"
              class="no-link" target="_blank">U6 / U8 Fall 2019 Girls League</a>
          </h4>
        </div>

        <div class="col-lg-6">
          <h4>
            <a href="https://uysa-2019fallscsl.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=3BFA7DA9-DFBE-4B9C-B46B-B90808253EAE&show=boys"
              class="no-link" target="_blank">U10 Fall 2019 Boys League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa-2019fallscsl.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=3BFA7DA9-DFBE-4B9C-B46B-B90808253EAE&show=girls"
              class="no-link" target="_blank">U10 Fall 2019 Girls League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=4E5F5058-A65D-4E96-9A58-7497D18371E9&show=boys"
              class="no-link" target="_blank">Spring 2019 Boys League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=4E5F5058-A65D-4E96-9A58-7497D18371E9&show=girls"
              class="no-link" target="_blank">Spring 2019 Girls League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa-2018fallscsl.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=D3EE8151-5799-432F-9C95-DF82428E9882&show=boys"
              class="no-link" target="_blank">Fall 2018 U10 Boys League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa-2018fallscsl.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=D3EE8151-5799-432F-9C95-DF82428E9882&show=girls"
              class="no-link" target="_blank">Fall 2018 U10 Girls League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=763D675F-E1F7-4843-8022-8B20E70B55A5&show=boys"
              class="no-link" target="_blank">Fall 2018 U6 and U8 Boys League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=763D675F-E1F7-4843-8022-8B20E70B55A5&show=girls"
              class="no-link" target="_blank">Fall 2018 U6 and U8 Girls League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa-spgnuurec18.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=2254D274-EFB1-4AC2-8A60-736E3D030EF3&show=boys"
              class="no-link" target="_blank">Spring 2018 Boys League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="https://uysa-spgnuurec18.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=2254D274-EFB1-4AC2-8A60-736E3D030EF3&show=girls"
              class="no-link" target="_blank">Spring 2018 Girls League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=F8201C18-112F-4BA8-A6F3-A480394F890F&show=boys"
              class="no-link" target="_blank">Spring 2017 Boys League</a>
          </h4>
        </div>
        <div class="col-lg-6">
          <h4>
            <a href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=F8201C18-112F-4BA8-A6F3-A480394F890F&show=girls"
              class="no-link" target="_blank">Spring 2017 Girls League</a>
          </h4>
        </div>
      </div>
      <div class="pad-top-lg">
        <div class="col-lg-12">
          <h3>Camps</h3>
          <p>No info at this time.</p> -->
    <!-- <div class="col-lg-6">
        <img src="/images/rslCamp.png" alt="RSL Camp" style="height: 50%; width: 50%">
      </div>
      <div class="col-lg-6">
        <h5><a class="no-link" href="http://www.aggiessoccercamps.com/summer-academy.cfm">2017 Summer Skills/GK Academy</a></h5>
        <br/>
        <h5><a class="no-link" href="http://www.aggiessoccercamps.com/colege-id-camps.cfm">2017 Summer College ID Camps</a></h5>
      </div> -->
    <!-- </div>
      </div>
    </div> -->
  </div>
</div>