<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Recreation
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="home">Home</a>
        </li>
        <li class="active">Recreation</li>
      </ol>
    </div>
  </div>
  <div class="container">
    <!--put these buttons on the bottom-->
    <div class="row pad-bottom">
      <div class="col-sm-12" style="padding-bottom: 100px">
<div class="">Northern Utah United Youth Soccer offers an established successful recreation program, currently operating within Cache Valley
  from Logan north to the Idaho border.</div>
<div>This program promotes small-sided soccer for younger age groups, allowing for more active play. This program is designed
  with an emphasis on participation based on the philosophy of equal play-time at all positions, for all players, regardless
  of skill or experience, in accordance with US Youth Soccer's recreational philosophy.
</div>
</div>
<!-- Marketing Icons Section -->
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-check"></i> Register Online</h4>
      </div>
      <div class="panel-body">
        <h3>To Register Online</h3>
        <div>
          <ul>
            <li>Click the "Online Registration" button below and follow the instructions.</li>
            <li>We accept Visa, Mastercard, American Express, Discover, and e-check.</li>
            <li>Please Note: A service charge of 2.9% will be added to all credit card transactions or $2.00 for all E-check
              transactions. A $5.00 Late fee will be charged after the registration deadline, and online registration will
              only remain open on a space available basis.</li>
          </ul>
        </div>
        <a routerLink="/registration" class="btn btn-primary">Register Online</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-fw fa-gift"></i> Register By Mail</h4>
      </div>
      <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at
          numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
        <a href="#" class="btn btn-primary">Register By Mail</a>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
</div>
</div>
</div>