<div class="row">
  <div class="col-md-6">
    <h2>Registration Info</h2>
    <a href="http://uysa-cvc2017.sportsaffinity.com" class="btn btn-primary btn-lg">Click Here To Register</a>
    <p>All games will be played under FIFA Rules modified by USYSA/UYSA for youth competition. Each team will play a minimum
      of three games.</p>
    <p>All games will be played under FIFA Rules, modified by USYS / UYSA for youth competition</p>
    <p>Eligible Players are those players whose names appear on the team's roster, not to exceed 18 players, (14 for U9 - U11)
      as signed by the club orr association registrar and presented at check-in. </p>
  </div>
  <div class="col-md-6">
    <img class="img-responsive" src="/images/shutterstock_540784912.jpg" alt="">
  </div>
  <div class="col-md-12">
     <p>Guest players - U9-U11 may have three (3) guest players. U12 - U19 may have up to five (5) guest players. </p>
    <p>No amendments to the team roster will be allowed after check-in. </p>
    <h3>There will be no Dual Rostering during the tournament!</h3>
    <h3>No team travel roster, no play! NO EXCEPTIONS!</h3>
    <p>Withdrawn Teams – No team will be scheduling until payment is received. If a team withdras after the schedule is published, no money will be refunded. Word will be sent to all other Tournament Directors in the team's state of origin regarding any team who drops out at the last minute.</p>
    <p>If you have any additional questions, please feel free to contact Terri Baker at: <a href="mailto:terribaker1@live.com">terribaker1@live.com</a> or contact Northern Utah United Soccer at: (435) 753-8202.</p>
  </div>
</div>
<hr>