.navbar {
    padding: 0rem 1rem;
    border-radius: 0px;
}

footer {
    padding-top: 75px;
}

.white-background {
    background: white !important;
}

.nav-link:hover {
    color: lightgray !important;
}

.navbar-brand:hover {
    color: lightgray !important;
}

.no-link {
    text-decoration: none;
    float: right; 
}

.pad-top {
    padding-top: 80px;
}