<div class="col-lg-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Upcoming Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cache Valley Cup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Cache Valley Mini Cup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">CVC Soccer EXPO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">NUU Annual General Meeting</a>
    </li>
  </ul>
</div>