<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">FAQ
                <small>Subheading</small>
            </h1>
            <ol class="breadcrumb">
                <li><a routerLink="../home">Home</a>
                </li>
                <li class="active">FAQ</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How do I register my child for soccer?</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            The answer depends upon the level your player will participate in. Recereation and competitive have two different processes.
                            They are as follows:
                            <ul>
                                <li>Recreation Soccer: For the details go to <a href="/recreation">Recreation League</a> and
                                    look fo the area you are living in or want to play in.</li>
                                <li>Competition Soccer: You will need to participate in the team tryouts and/or contact the coach
                                    of the team you would like to play for. He/she will guide you through the process. Team
                                    tryouts are posted on this site.
                                    <ol>
                                        <li><a href="/challengerCompetition/tryoutInfo">Challenger League Tryouts</a></li>
                                        <li><a href="/stateCompetitions/uysaTryoutInfo">UYSA State Comp Tryouts</a></li>
                                    </ol>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">What is the Cost?</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            Fees vary according to what is provided by the local soccer association or club. Some clubs provide a t-shirt for the Under-6
                            age group and a complete uniform for older players. Since many factors affect the fee structure,
                            as you local club or association.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What is the soccer season?</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            There is no traditional season in youth soccer. At the competition level we play a fall season (August through October) and
                            a spring season (April through May) with only a short break in the winter and a short break in
                            the summer.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">What does the U in U-6 mean?</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            The player's age as of August 1st (the official start of the season) is Under-6.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How many practices are there per week?</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            Usually teams practice two times per week.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">What equipment do I need?</a>
                        </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse">
                        <div class="panel-body">
                            Shinguards are required for all practices and games. Cleated shoes are needed if play will be on wet, muddy or soft surfaces.
                            For very young players, sneakers will do fine.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">How long does practice last?</a>
                        </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse">
                        <div class="panel-body">
                            Practices for players six and younger should be no more than an 45 - 60 minutes. Under-8 players practice 60 - 75 minutes.
                            Under-10 players are about 75 - 90 minutes. Older players practice for about 1 1/2 - 2 hours.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">What does my child need to bring to practice?</a>
                        </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            A ball, soccer shoes, shinguards and plenty of water.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Do I need soccer shoes or will tennis shoes be okay?</a>
                        </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse">
                        <div class="panel-body">
                            For younger players, sneakers work fine on a dry field. Older players or wet and muddy conditions may require cleats.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What size ball do you use?</a>
                        </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse">
                        <div class="panel-body">
                            Under-8s and younger play with a No. 3. Under-10 through Under-12 play with a No. 4. Players Under-14 though adult use a
                            No. 5.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">My child has a disability. Is there a place for her?</a>
                        </h4>
                    </div>
                    <div id="collapseEleven" class="panel-collapse collapse">
                        <div class="panel-body">
                            TOPSoccer is the program offered by NUU for players with mental or physical challenges. Click Here for more information.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">Can I wear a cast (or earings, religious medals, eyeglasses)?</a>
                        </h4>
                    </div>
                    <div id="collapseTwelve" class="panel-collapse collapse">
                        <div class="panel-body">
                            The FIFA Laws of the Game prohibit anything which is dangerous to a player or other players. Referees at the game will determine
                            if an item can be worn without being dangerous.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">Why can't players wear helmets?</a>
                        </h4>
                    </div>
                    <div id="collapseThirteen" class="panel-collapse collapse">
                        <div class="panel-body">
                            Helmets are not included in the Laws of the Game under Players Equipment. Although the player wearing the headgear is protected,
                            he may play in a physically more aggressive manner than others not protected, thereby becoming
                            a danger to others.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFourteen">Are mouth guards needed?</a>
                        </h4>
                    </div>
                    <div id="collapseFourteen" class="panel-collapse collapse">
                        <div class="panel-body">
                            Injuries to the teeth are so few that insurers do not require them. Many dentists however recommend them.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFifteen">How many players are on a team?</a>
                        </h4>
                    </div>
                    <div id="collapseFifteen" class="panel-collapse collapse">
                        <div class="panel-body">
                            U-6 play 3v3, U-8 play 4v4, U-10 play 6v6, Under-12 play 8v8 and older teams play 11v11. See more recommendations for Small-Sided
                            Games.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSixteen">How big is the field?</a>
                        </h4>
                    </div>
                    <div id="collapseSixteen" class="panel-collapse collapse">
                        <div class="panel-body">
                            Field sizes vary by age group. For U-6 we recommend 25-30 x 40-50 yards, U-8 35-40 x 45-55 yards, U-10 40-50 x 60-70 yards,
                            U-12 50-60 x 100-110 and U14-19 play 70 x 110 yards. For more information see the
                            <a
                                href="documents/NUULawsofthegameforWebsiteaug2016.pdf">"Laws of the Game."</a>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeventeen">Why does our league not post standings?</a>
                        </h4>
                    </div>
                    <div id="collapseSeventeen" class="panel-collapse collapse">
                        <div class="panel-body">
                            For the recreation soccer program we place a priority on participation and deemphasize results.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen">How do I get information about coaching license courses?</a>
                        </h4>
                    </div>
                    <div id="collapseEighteen" class="panel-collapse collapse">
                        <div class="panel-body">
                            Click Here for information on the the D and E licenses. For the A, B and C licenses, please contact U.S. Soccer. For the
                            National Youth License, you can register through US Youth Soccer.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseNineteen">What is the US Youth Soccer Olympic Development Program (US Youth Soccer ODP)?</a>
                        </h4>
                    </div>
                    <div id="collapseNineteen" class="panel-collapse collapse">
                        <div class="panel-body">
                            US Youth Soccer ODP, established in 1977, is the original Olympic development program in the United States. Formed to identify
                            a pool of players in each age group from which a National Team could be selected for international
                            competition, selected players are exposed to the nation's top coaches from collegiate institutions,
                            U.S. Soccer and the professional leagues. Programs exist in each state and with competitions
                            such as the US Youth Soccer ODP Championships, Interregional Training/Competition, Regional Camps
                            and International play. US Youth Soccer ODP continues to lead the way in elite player identification
                            and development. US Youth Soccer ODP is an approved program of the U.S. Soccer Federation.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty">Do you know of any summer camps to which I can send my son/daughter?</a>
                        </h4>
                    </div>
                    <div id="collapseTwenty" class="panel-collapse collapse">
                        <div class="panel-body">
                            Click here for a list of summer Youth Soccer Camps being offered in the region.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
                <!-- /.panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwentyOne">Can you recommend a tournament or tour operator?</a>
                        </h4>
                    </div>
                    <div id="collapseTwentyOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            Northern Utah United sponsors two great tournaments.
                            The <a routerLink="events/cacheValleyCup">Cache Valley Cup</a> and the <a routerLink="events/cacheValleyMiniCup">Cache Valley Mini Cup</a>.
                            Click the <a routerLink="events/cacheValleyCup">"Events"</a> tab above for more info. UYSA also
                            maintains a sanctioned tournament directory. We refrain from recommending any tournaments or
                            tour operators.
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.panel-group -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>