<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Choose Your League</h1>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="text-white"><i class="fa fa-fw fa-gift"></i> <a routerLink="../competitionLeague/challengerSchedule" class="link">Challenger League</a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="text-white"><a routerLink="../uysaStateCompetition/uysaSchedule" class="link">UYSA State Competition</a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-white"><a href="https://cvtryouts.com/destination" target="_blank" class="link">Destination Soccer</a></h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-white"><a href="https://forms.gle/spNDKutezs8W1YLY7" target="_blank" class="link">Pickup Soccer</a></h4>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-white"><a routerLink="../boysHighSchool" class="link">Boys High School Challenger League</a></h4>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="text-white"><a href="https://cvtryouts.com/rise" target="_blank" class="link">All Programs</a></h4>
          </div>
        </div>
      </div>
  </div>
</div>
