<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Choose Your League</h1>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="text-white"><i class="fa fa-fw fa-gift"></i> <a routerLink="../competitionLeague/challengerSchedule" class="link">Challenger League</a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="text-white"><i class="fa fa-fw fa-compass"></i> <a routerLink="../uysaStateCompetition/uysaSchedule" class="link">UYSA State Competition</a></h4>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="text-white"><i class="fa fa-fw fa-compass"></i> <a routerLink="../academySoccer" class="link">Academy Soccer</a></h4>
        </div>
      </div>
    </div>
  </div>
</div>
