<h2 class="titleMargin">NUU Parent Resources</h2>
<div class="col-lg-9">
  <div class="list-group">
    <a href="https://docs.google.com/forms/d/1xzD8Rmb4kcYc5tq9vLjllxfiGbc9cQ_p8xQDcc3gY8Y/viewform" class="list-group-item">
      <h4 class="list-group-item-heading">Parent Sideline Education Tutorial</h4>
    </a>
    <a href="http://www.usufamiliesinsportlab.com/uploads/2/3/5/3/23535918/parent_guide_fall_2014.pdf" class="list-group-item">
      <h4 class="list-group-item-heading">Parent Guide | Evidence-based strategies for parenting in organized youth sport</h4>
      <p class="list-group-item-text">Parents and guardians play a fundamental role in organized youth sport. With the support and encouragement of parents,
        children have an opportunity to enjoy...</p>
    </a>
    <a href="http://lowerislandsoccer.com/Video/OffsideInteractive.swf" class="list-group-item">
      <h4 class="list-group-item-heading">Offside Rule Video</h4>
      <p class="list-group-item-text">This video explains the offside rule that everyone will understand!</p>
    </a>
    <a href="http://bit.ly/12gJpuF" class="list-group-item">
      <h4 class="list-group-item-heading">Tryouts: Coping with Cuts</h4>
      <p class="list-group-item-text">By Tony DiCicco | The most difficult part of coaching isn't dealing with losses, it's cutting or rejecting people from
        the team. It's not just a simple matter of reducing numbers, it's a matter of making decisions that in essence short-circuit
        the dreams of players. I don't think there's any coach, either at the professional level or the youth recreational
        league in a small town, who doesn't feel the pain of not choosing someone or cutting someone from the team.</p>
    </a>
    <a href="http://bit.ly/12gHxlK" class="list-group-item">
      <h4 class="list-group-item-heading">The Importance of Adversity in Growth and Development</h4>
      <p class="list-group-item-text">The development path to excellence in anything is filled with moments of great reward; but challenge, disappointment,
        and frustration are also frequent companions on the road. While that sounds demotivating, and perhaps an article
        about growth and development shouldn’t be so blunt, this truth cannot be hidden or ignored. Ignoring reality doesn’t
        make it different, and naivety almost always impairs anyone’s ability to navigate complex situations.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Preparing Your Players For Tryouts</h4>
      <p class="list-group-item-text"> As a parent have you ever wondered what a coach is looking for in a player at the club/team tryouts? If so or if you're
        just looking for some good advice on how to prepare for and approach the coming tryout season you may want to consider
        the advice from the following coaches.</p>
    </a>
    <a href="http://bit.ly/zJ9Oxi" class="list-group-item">
      <h4 class="list-group-item-heading">Soccer Parents... What is Best for your Kids?</h4>
    </a>
    <a href="http://www.soccernation.com/parents-role-on-the-soccer-sideline-remember-to-value-your-volunteer-youth-coach-cms-2804"
      class="list-group-item">
      <h4 class="list-group-item-heading">Parents Role on the Soccer Sideline</h4>
      <p class="list-group-item-text">Remember to Value your Volunteer Youth Coach - By Dr. Dina Gentile</p>
    </a>
  </div>
</div>
