<div class="col-lg-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" routerLink="uysaSchedule">Schedules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="uysaRegistrationInfo">Registration Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="uysaLeagueResults">League Results</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="uysaTryoutInfo">Tryout Info</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="uysaTryoutAdForm">Tryout Ad Form</a>
    </li> -->
  </ul>
</div>
<div class="col-lg-9">
  <router-outlet></router-outlet>
</div>