<div class="row">
  <h2 class="calendar-h2">Upcoming Events</h2>
  <p>Watch here for all upcoming events at NUU.</p>
  <div class="col-sm-12">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h3 class=" title">Cache Valley Soccer Expo</h3>
        <h5 class="">Join us on Saturday March 4th, 2017 for this years Cache Soccer Expo!</h5>
        <div class="">This event will be located at Utah State University from 10am - 5:30pm.</div>
        <div class="">This Event is free to the public!</div>
        <div class="">A schedule will be posted soon.</div>
      </div>
    </div>
  </div>
</div>