<ng-container>
  <div class="row">
    <h2 class="calendar-h2">Upcoming Events</h2>
  </div>
  <div>
    <!-- <h3>Logan City Parks and Recreation International Camp</h3>
    <p>For complete camp details and registration <a href="https://www.challengersports.com" target="_blank">Click Here</a>
    <img class="camp-image" src="/images/internationalCamp.PNG" alt="international camp info">
    </p>
    <hr> -->
    <p>Watch here for all upcoming tournaments, leagues, and activities! We are constantly improving our program and finding
        ways to improve the soccer community in Cache Valley.</p>
  </div>
  <!-- <div class="row">
    <h3>i2i Premier Soccer Camp</h3>
    <p>We are excited to announce a special two day summer camp for boys and girls U10-19 at Elk Ridge Park. The British group,
      i2i Sports, are running a two day camp featuring former English Premier League stars Jono Greening, Bryan Hughes and
      Pro Goal Keeper Michael Ingham. U10-14 9:30am-12:00pm and U15-18 6:30pm-9:00pm. This is a special and rare opportunity
      to train and learn from some of the worlds finest players. Additionally, Pro football agents Kent Mayall &amp; James
      Gore will be on hand both days to help train and answer questions. </p>
    <p>These camps are usually only offered in the major cities in America but will be here in Cache Valley on June 27th &amp;
      28th. We have made special pricing arrangements to offer it to Cache Valley for only $60, which includes a T-shirt
      with early registration. Come have some fun, get an autograph and learn from the best.</p>
    <a href="http://thinkpride.com/i2iBritishSoccerCamp/shop/home">Click here to register and see attached flyer</a>

    <hr>
  </div> -->
  <!-- <div class="row">
    <h3>ISU Soccer Camps
      <span>- for Players born in 2005 or older</span>
    </h3>

    <p>The morning sessions will be at Mountain Crest High School.</p>
    <p>Cost will be $200.00 it includes a t-shirt and a personalized evaluation from coach Gibson.</p>
    <div class="row">
      <h4>Monday June 18</h4>
      <table class="col-lg-12 padding-bottom-large">
        <tr>
          <th class="col-lg-3">Session</th>
          <th class="col-lg-3">Time</th>
          <th class="col-lg-6">Session Info</th>
        </tr>
        <tr>
          <td>Session 1</td>
          <td>9:00 - 12:00</td>
          <td>High pressure training sessions</td>
        </tr>
        <tr>
          <td>Session 2</td>
          <td>6:00 - 9:30</td>
          <td>Full field or half field games coached by Coach Gibson and her staff(depending on numbers)</td>
        </tr>
      </table>
    </div>
    <div class="row">
      <h4>Tuesday June 19</h4>
    </div>
    <div class="row">
      <div>**Possible coaches clinic between sessions.</div>
      <table class="col-lg-12 padding-bottom-large">
        <tr>
          <th class="col-lg-3">Session</th>
          <th class="col-lg-3">Time</th>
          <th class="col-lg-6">Session Info</th>
        </tr>
        <tr>
          <td>Session 3</td>
          <td>8:00 - 11:00</td>
          <td>Second and third man runs (Offensive training sessions)</td>
        </tr>
        <tr>
          <td>Session 4</td>
          <td>6:00 - 9:30</td>
          <td>Full field games under the lights at a local high school</td>
        </tr>
      </table>
    </div>
    <div class="row">
      <h4>Wednesday June 20</h4>
      <table class="col-lg-12 padding-bottom-large">
        <tr>
          <th class="col-lg-3">Session</th>
          <th class="col-lg-3">Time</th>
          <th class="col-lg-6">Session Info</th>
        </tr>
        <tr>
          <td>Session 5</td>
          <td>8:00 - 11:00</td>
          <td>Building possession from the back through the midfield with emphasis on midfield movement and spacing</td>
        </tr>
        <tr>
          <td>Session 6</td>
          <td>2:00 - 5:00</td>
          <td>Full field games and parent discussion</td>
        </tr>
      </table>
    </div>
    <br/>
    <div class="col-sm-12">
      <a href="https://www.eventbrite.com/e/idaho-state-university-womens-soccer-id-camp-2005-girls-and-older-tickets-46950644642">Click here to register</a>
    </div>
    <br/>
    <div class="col-sm-12">
      <p>For more information, please contact Ray Larsen at
        <a href="mailTo:minray8@digis.net"></a> minray8@digis.net</p>
    </div>

    <hr>

    <h3>Flores Brothers Soccer Camp</h3>
    <p>Summer Soccer Camp from 2 former Professional players that are coming home to Cache Valley this summer. Zachary and Sergio
      Flores, have both played professionally in Argentina, Bolivia and the USA. They both now live in Baltimore doing what
      they like best, coaching and sharing their knowledge and love for the game of soccer. The camp is July 30-Aug 3rd 9:00-12:00
      for Boys and Girls 5-14 years old at Cedar Ridge Elem. If you have any question please reach out. Follow the link below
      to sign up! Get your friends and sign up together for a group discount. This is an AMAZING opportunity for our Cache
      Valley Players to learn from the Professionals. </p>
    <a href="http://trainsst-utah.com/">Click here to register</a>
    <br/>
    <br/>
    <hr>
    <div class="col-sm-12">
      <div class="col-sm-3">
        <a href="/documents/NUU_Bylaws_2018_1.pdf" class="list-group-item list-group-item-secondary center">2018 Bylaws</a>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="white">
        <a href="/documents/GoalAuction.pdf" class="list-group-item list-group-item-secondary">
          <h5>Goal Auction Information</h5>
        </a>
        <br/>-->
  <!--<div>Use the <strong>{{buttonText}}</strong> button below to see that info.</div>
          <br/>-->

  <!--<a routerLink="../../resources/referees" class="btn btn-primary">{{buttonText}}</a>-->
  <!-- </div>
    </div>
  </div> -->
</ng-container>