<div class="row">
  <h2 class="calendar-h2">Upcoming Events</h2>
  <p>Watch here for all upcoming events at NUU.</p>
  <div class="col-sm-12">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h2 class="display-3">Cache Valley Soccer Expo</h2>
        <h5>Join us on Saturday March 4th, 2017 for this years Cache Soccer Expo!</h5>
        <div>This event will be located at Utah State University from 10am - 5:30pm.</div>
        <div>This Event is fee to the public!</div>
        <div>A schedule will be posted soon.</div>
      </div>
    </div>
  </div>
</div>