<h2 class="titleMargin">NUU Player Resources</h2>
<div class="col-sm-9">
  <h4>Private Goalkeeper Training</h4>
  <p>Learn correct techniques for catching, diving, jumping as well how to handle crosses, breakaways, and various forms of
    distribution that will bring your game to the next level and help you make that game changing save!!!</p>
  <p>Coach Will Camerlingo is a graduate student at USU majoring in physical education and holds an elementary school teaching
    license. Along his career he has had the awesome opportunity to work with and learn from the most qualified and professional
    athletes and coaches to bring the best goalkeeping training to this area. Will hopes to share what he has learned to
    bring your game to the next highest level!</p>
  <p>* 2002, 2003 NJ Group 1 State Champion * 2004 NJ Group1 State Runner up *2002, 2003, 2004 NJ Group 1 Sectional Champion
    * Multiple MVP and All-State Awards *4 year NCAA team captain *Playing experience in Germany, Austria, Belgium, and Holland
    * 2010 ranked 1st in CACC conference *2010 ranked 5th on NCAA division 2 national leaderboards *2010 All-American nominated
    * Led youth teams to finish first in season and a community college to reach their regional tournament final.</p>
  <p>Contact Will to set up training dates and times. Training will take place outdoors once the weather breaks and snow is
    off the ground.</p>
  <p><strong>Phone: </strong>908-763-8581</p>
  <p><strong>Email: </strong><a href="mailto:camerlingo.will@gmail.com">camerlingo.will@gmail.com</a></p>
  <p><strong>Private:</strong> (1 or 2 goalkeepers) $35/player/hour. Group (3-6 goalkeepers) $20/player/hour.</p>
</div>
<div class="col-sm-12">
  <h3>Articles</h3>
  <!--same as downloads, use jquery to make these look fancy and nice-->
</div>
<div class="col-lg-9">
  <div class="list-group">
    <a href="http://lowerislandsoccer.com/Video/OffsideInteractive.swf" class="list-group-item">
      <h4 class="list-group-item-heading">Offside Rule Video</h4>
      <p class="list-group-item-text">This video explains the offside rule that everyone will understand!</p>
    </a>
    <a href="http://northernutahunited.com/articles/nuu-articles/preparing_for_tryouts.html" class="list-group-item">
      <h4 class="list-group-item-heading">Players Preparing For Tryouts</h4>
      <p class="list-group-item-text">As a player have you ever wondered what a coach is looking for in a player at the club/team tryouts? If so or if you're
        just looking for some good advice on how to prepare for and approach the coming tryout season you may want to consider
        the advice from the following coaches.</p>
    </a>
    <a href="http://bit.ly/12gJpuF" class="list-group-item">
      <h4 class="list-group-item-heading">Tryouts: Coping with Cuts</h4>
      <p class="list-group-item-text">By Tony DiCicco | The most difficult part of coaching isn't dealing with losses, it's cutting or rejecting people from
        the team. It's not just a simple matter of reducing numbers, it's a matter of making decisions that in essence short-circuit
        the dreams of players. I don't think there's any coach, either at the professional level or the youth recreational
        league in a small town, who doesn't feel the pain of not choosing someone or cutting someone from the team.</p>
    </a>
  </div>
</div>
