<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row page-head mat-typography">
        <div class="col-lg-12">
            <h1 class="page-header">Online Registration
                <small>Find the city you wish to register for.</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">Home</a>
                </li>
                <li class="active">Online Registration</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-sm-12">
            <h3>Select the city you want to register in to be taken to the registration information page</h3>
        </div>
    </div>
    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 img-portfolio padding-bottom">
            <a href="http://uysa-richmond.sportsaffinity.com/" class="link-no-style">
                <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                <h3>
                    <a href="http://uysa-richmond.sportsaffinity.com/" class="link">Richmond</a>
                </h3>
                <h4>Contact</h4>
                <div>Katie Griffiths</div>
                <div>(435)932-0257</div>
                <div><a href="mailto:richmondutsports@gmail.com">richmondutsports@gmail.com</a></div>
            </a>
        </div>
        <div class="col-md-4 img-portfolio padding-bottom">
            <a href="http://uysa-clarkston.sportsaffinity.com/" class="link-no-style">
                <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                <h3>
                    <a href="http://uysa-clarkston.sportsaffinity.com/" class="link">Clarkston</a>
                </h3>
                <h4>Contact</h4>
                <div>Stephanie Balls</div>
                <div>No Number at this time</div>
                <div><a href="mailto:stephballsm@yahoo.com">stephballsm@yahoo.com</a></div>
            </a>
        </div>
        <div class="col-md-4 img-portfolio padding-bottom">
            <a href="http://uysa-hydepark.sportsaffinity.com/" class="link-no-style">
                <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                <h3>
                    <a href="http://uysa-hydepark.sportsaffinity.com/" class="link">Hyde Park/Smithfield</a>
                </h3>
                <h4>Contact</h4>
                <div>Jana Carling</div>
                <div>(435)753-8202</div>
                <div><a href="mailto:JanaLGC@gmail.com">JanaLGC@gmail.com</a></div>
            </a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 img-portfolio padding-bottom">
            <a href="http://uysa-lewiston.sportsaffinity.com/" class="link-no-style">
                <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                <h3>
                    <a href="http://uysa-lewiston.sportsaffinity.com/" class="link">Lewiston &amp; Preston Areas</a>
                </h3>
                <h4>Contact</h4>
                <div>Jenny Bair</div>
                <div>(435)258-0090</div>
                <div><a href="mailto:garfieldbair@gmail.com">garfieldbair@gmail.com</a></div>
            </a>
        </div>
        <div class="col-md-4 img-portfolio padding-bottom">
            <a href="http://uysa-adams.sportsaffinity.com/" class="link-no-style">
                <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                <h3>
                    <a href="http://uysa-adams.sportsaffinity.com/" class="link">Logan - Adams</a>
                </h3>
                <h4>Contact</h4>
                <div>Jana Carling</div>
                <div>(435)753-8202</div>
                <div><a href="mailto:JanaLgc@gmail.com">JanaLgc@gmail.com</a></div>
            </a>
        </div>
        <div class="col-md-4 img-portfolio padding-bottom">
            <a href="http://uysa-bridger.sportsaffinity.com/" class="link-no-style">
                <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                <h3>
                    <a href="http://uysa-bridger.sportsaffinity.com/" class="link">Logan - Bridger</a>
                </h3>
                <h4>Contact</h4>
                <div>Melinda Garren</div>
                <div>(435)213-6874</div>
                <div><a href="mailto:MelindaJGarren@hotmail.com">MelindaJGarren@hotmail.com</a></div>
            </a>
        </div>
    </div>

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 img-portfolio padding-bottom">
            <a href="http://uysa-ellis.sportsaffinity.com/" class="link-no-style">
                <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                <h3>
                    <a href="http://uysa-ellis.sportsaffinity.com/" class="link">Logan - Ellis</a>
                </h3>
                <h4>Contact</h4>
                <div>Melinda Garren</div>
                <div>(435)213-6874</div>
                <div><a href="mailto:MelindaJGarren@hotmail.com">MelindaJGarren@hotmail.com</a></div>
            </a>
        </div>
        <div class="col-md-4 img-portfolio padding-bottom">
            <a href="http://uysa-hillcrest.sportsaffinity.com/" class="link-no-style">
                <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                <h3>
                    <a href="http://uysa-hillcrest.sportsaffinity.com/" class="link">Logan - Hillcrest</a>
                </h3>
                <h4>Contact</h4>
                <div>Jana Carling</div>
                <div>(435)753-8202</div>
                <div><a href="mailto:JanaLgc@gmail.com">JanaLgc@gmail.com</a></div>
            </a>
        </div>
        <div class="col-md-4 img-portfolio padding-bottom">
            <a href="http://uysa-wilson.sportsaffinity.com/" class="link-no-style">
                <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                <h3>
                    <a href="http://uysa-wilson.sportsaffinity.com/" class="link">Logan - Wilson</a>
                </h3>
                <h4>Contact</h4>
                <div>Jana Carling</div>
                <div>(435)753-8202</div>
                <div><a href="mailto:JanaLgc@gmail.com">JanaLgc@gmail.com</a></div>
            </a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 img-portfolio padding-bottom">
            <a href="http://uysa-woodruff.sportsaffinity.com/" class="link-no-style">
                <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                <h3>
                    <a href="http://uysa-woodruff.sportsaffinity.com/" class="link">Logan - Woodruff</a>
                </h3>
                <h4>Contact</h4>
                <div>Melinda Garren</div>
                <div>(435)213-6874</div>
                <div><a href="mailto:MelindaJGarren@hotmail.com">MelindaJGarren@hotmail.com</a></div>
            </a>
        </div>
        <div class="col-md-4 img-portfolio padding-bottom">
            <a href="http://uysa-newton.sportsaffinity.com/" class="link-no-style">
                <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                <h3>
                    <a href="http://uysa-newton.sportsaffinity.com/" class="link">Newton</a>
                </h3>
                <h4>Contact</h4>
                <div>Natalie Phillips</div>
                <div>(435)760-9886</div>
                <div><a href="mailto:MrsNPhillips@gmail.com">MrsNPhillips@gmail.com</a></div>
            </a>
        </div>
        <div class="col-md-4 img-portfolio padding-bottom">
            <a href="http://uysa-northlogan.sportsaffinity.com/" class="link-no-style">
                <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                <h3>
                    <a href="http://uysa-northlogan.sportsaffinity.com/" class="link">North Logan</a>
                </h3>
                <h4>Contact</h4>
                <div>Jana Carling</div>
                <div>(435)753-8202</div>
                <div><a href="mailto:JanaLGC@gmail.com">JanaLGC@gmail.com</a></div>
            </a>
        </div>
    </div>
    <!-- /.row -->
</div>