<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row page-head">
            <div class="col-lg-12">
                <h1 class="page-header">Online Registration
                    <small>Find the city you wish to register for.</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active">Online Registration</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="http://uysa-hydepark.sportsaffinity.com/reg/index.asp?sessionguid=">
                    <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                </a>
                <h3>
                    <a href="http://uysa-hydepark.sportsaffinity.com/reg/index.asp?sessionguid=" class="link">Benson and Amalga</a>
                </h3>
                <h4>Contact</h4>
                <div>No Area Leader</div>
                <div>We Need a Volunteer!</div>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="http://uysa-richmond.sportsaffinity.com/reg/index.asp?sessionguid=">
                    <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                </a>
                <h3>
                    <a href="http://uysa-richmond.sportsaffinity.com/reg/index.asp?sessionguid=" class="link">Richmond</a>
                </h3>
                <h4>Contact</h4>
                <div>Jenny Bair</div>
                <div>(435)932-0257</div>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="http://uysa-clarkston.sportsaffinity.com/reg/index.asp?sessionguid=">
                    <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                </a>
                <h3>
                    <a href="http://uysa-clarkston.sportsaffinity.com/reg/index.asp?sessionguid=" class="link">Clarkston</a>
                </h3>
                <h4>Contact</h4>
                <div>Katie Godfrey</div>
                <div>(435)563-3706</div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="http://uysa-hydepark.sportsaffinity.com">
                    <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                </a>
                <h3>
                    <a href="http://uysa-hydepark.sportsaffinity.com" class="link">Hyde Park/Smithfield</a>
                </h3>
                <h4>Contact</h4>
                <div>Jana Carling</div>
                <div>(435)755-8737</div>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="http://uysa-lewiston.sportsaffinity.com/reg/index.asp?sessionguid=">
                    <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                </a>
                <h3>
                    <a href="http://uysa-lewiston.sportsaffinity.com/reg/index.asp?sessionguid=" class="link">Lewiston &amp; Preston Areas</a>
                </h3>
                <h4>Contact</h4>
                <div>Maria Pitcher</div>
                <div>(435)512-3666</div>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="http://uysa-adams.sportsaffinity.com/reg/index.asp?sessionguid=">
                    <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                </a>
                <h3>
                    <a href="http://uysa-adams.sportsaffinity.com/reg/index.asp?sessionguid=" class="link">Logan - Adams</a>
                </h3>
                <h4>Contact</h4>
                <div>Katie Hollingsworth</div>
                <div>(435)753-0513</div>
            </div>
        </div>

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="http://uysa-bridger.sportsaffinity.com/reg/index.asp?sessionguid=">
                    <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                </a>
                <h3>
                    <a href="http://uysa-bridger.sportsaffinity.com/reg/index.asp?sessionguid=" class="link">Logan - Bridger</a>
                </h3>
                <h4>Contact</h4>
                <div>Katie Hollingsworth</div>
                <div>(435)753-0513</div>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="http://uysa-ellis.sportsaffinity.com/reg/index.asp?sessionguid=">
                    <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                </a>
                <h3>
                    <a href="http://uysa-ellis.sportsaffinity.com/reg/index.asp?sessionguid=" class="link">Logan - Ellis</a>
                </h3>
                <h4>Contact</h4>
                <div>Katie Hollingsworth</div>
                <div>(435)753-0513</div>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="http://uysa-hillcrest.sportsaffinity.com/reg/index.asp?sessionguid=">
                    <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                </a>
                <h3>
                    <a href="http://uysa-hillcrest.sportsaffinity.com/reg/index.asp?sessionguid=" class="link">Logan - Hillcrest</a>
                </h3>
                <h4>Contact</h4>
                <div>Katie Hollingsworth</div>
                <div>(435)753-0513</div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="http://uysa-wilson.sportsaffinity.com/reg/index.asp?sessionguid=">
                    <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                </a>
                <h3>
                    <a href="http://uysa-wilson.sportsaffinity.com/reg/index.asp?sessionguid=" class="link">Logan - Wilson</a>
                </h3>
                <h4>Contact</h4>
                <div>Katie Hollingsworth</div>
                <div>(435)753-0513</div>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="http://uysa-woodruff.sportsaffinity.com/reg/index.asp?sessionguid=">
                    <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                </a>
                <h3>
                    <a href="http://uysa-woodruff.sportsaffinity.com/reg/index.asp?sessionguid=" class="link">Logan - Woodruff</a>
                </h3>
                <h4>Contact</h4>
                <div>Katie Hollingsworth</div>
                <div>(435)753-0513</div>
            </div>
            <div class="col-md-4 img-portfolio">
                <a href="http://uysa-newton.sportsaffinity.com/reg/index.asp?sessionguid=">
                    <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                </a>
                <h3>
                    <a href="http://uysa-newton.sportsaffinity.com/reg/index.asp?sessionguid=" class="link">Newton</a>
                </h3>
                <h4>Contact</h4>
                <div>Amy Phillips</div>
                <div>(435)760-3682</div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio">
                <a href="http://uysa-northlogan.sportsaffinity.com/reg/index.asp?sessionguid=">
                    <!--<img class="img-responsive img-hover" src="http://placehold.it/700x400" alt="">-->
                </a>
                <h3>
                    <a href="http://uysa-northlogan.sportsaffinity.com/reg/index.asp?sessionguid=" class="link">North Logan</a>
                </h3>
                <h4>Contact</h4>
                <div>Jana Carling</div>
                <div>(435)755-8737</div>
            </div>
        </div>
        <!-- /.row -->
    </div>
