<div class="col-lg-12">
  <h2 class="titleMargin">Challenger League Schedules</h2>
</div>
<!-- Projects Row -->
<div class="col-lg-10">
  <div class="col-md-6 img-portfolio">
    <a class="no-link"
      href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=D5B68E39-5B40-4DBD-B552-BFC89CD79C91&show=boys">
      <img class="img-responsive img-hover image-shadow" src="/images/shutterstock_1728558.jpg" alt="">
    </a>
    <h3>
      <a class="no-link"
        href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=D5B68E39-5B40-4DBD-B552-BFC89CD79C91&show=boys">{{currentYear}}
        Challenger League Boys Schedule</a>
    </h3>
  </div>
  <div class="col-md-6 img-portfolio">
    <a class="no-link"
      href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=D5B68E39-5B40-4DBD-B552-BFC89CD79C91&show=girls">
      <img class="img-responsive img-hover image-shadow" src="/images/shutterstock_80550457.jpg" alt="">
    </a>
    <h3>
      <a class="no-link"
        href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=D5B68E39-5B40-4DBD-B552-BFC89CD79C91&show=girls">{{currentYear}}
        Challenger League Girls Schedule</a>
    </h3>
  </div>
</div>
<div class="col-lg-10">
  <br />
  <h3>Important Info</h3>
  <a href="../documents/Sterling_Program_Details_and_registration_form.pdf" class="no-link">Sterling Program</a>
</div>
<div class="col-lg-10">
  <br />
  <h3>End of Season Tournament</h3>
  <div>No Info At This Time</div>
</div>
<div class="col-lg-10">
  <br />
  <h4>Previous Years Schedules</h4>
  <div class="col-lg-5">
    <p>
      <a class="no-link"
        href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=5D17F369-867B-4B61-8CC6-9BED532FDFD5&show=boys">{{fallTwenty}}
        Challenger League Boys</a>
    </p>
    <p>
      <a class="no-link"
        href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=5D17F369-867B-4B61-8CC6-9BED532FDFD5&show=boys">{{springTwenty}}
        Challenger League Boys</a>
    </p>
    <p>
      <a class="no-link"
        href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=CA1E0420-E723-4636-AFD3-6563072CC390&show=boys">{{fallNineteen}}
        Challenger League Boys</a>
    </p>
    <p>
      <a class="no-link"
        href="https://uysa-challengersp2019.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=1AB6A1A9-5D14-4FEC-9CB6-5A100383EE92&show=boys">{{springNineteen}}
        Challenger League Boys</a>
    </p>
    <p>
      <a class="no-link"
        href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=82A32973-8340-4D63-8B7C-3EE4945822AE&show=boys">{{fallEighteen}}
        Challenger League Boys</a>
    </p>
    <p>
      <a class="no-link"
        href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=578C8A29-3B28-4A28-B6C5-33A7480FA692&show=boys">{{springEighteen}}
        Challenger Boys</a>
    </p>
    <p>
      <a class="no-link"
        href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=BBE1A6BA-AA20-44B1-863F-09C6C84F6F64&show=boys">{{springSeventeen}}
        Challenger Boys</a>
    </p>
    <p>
      <a class="no-link"
        href="http://uysa-nuuchallenger.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=1465E444-27C2-4E4A-B498-D93755236226&show=boys">{{twentySixteen}}
        Challenger Boys</a>
    </p>
  </div>
  <div class="col-lg-5">
    <p>
      <a class="no-link"
        href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=5D17F369-867B-4B61-8CC6-9BED532FDFD5&show=girls">{{fallTwenty}}
        Challenger League Girls</a>
    </p>
    <p>
      <a class="no-link"
        href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=5D17F369-867B-4B61-8CC6-9BED532FDFD5&show=girls">{{springTwenty}}
        Challenger League Girls</a>
    </p>
    <p>
      <a class="no-link"
        href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=CA1E0420-E723-4636-AFD3-6563072CC390&show=girls">{{fallNineteen}}
        Challenger League Girls</a>
    </p>
    <p>
      <a class="no-link"
        href="https://uysa-challengersp2019.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=1AB6A1A9-5D14-4FEC-9CB6-5A100383EE92&show=girls">{{springNineteen}}
        Challenger League Girls</a>
    </p>
    <p>
      <a class="no-link"
        href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=82A32973-8340-4D63-8B7C-3EE4945822AE&show=girls">{{fallEighteen}}
        Challenger League Girls</a>
    </p>
    <p>
      <a class="no-link"
        href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=578C8A29-3B28-4A28-B6C5-33A7480FA692&show=girls">{{springEighteen}}
        Challenger Girls</a>
    </p>
    <p>
      <a class="no-link"
        href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=BBE1A6BA-AA20-44B1-863F-09C6C84F6F64&show=girls">{{springSeventeen}}
        Challenger Girls</a>
    </p>
    <p>
      <a class="no-link"
        href="http://uysa-nuuchallenger.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=1465E444-27C2-4E4A-B498-D93755236226&show=girls">{{twentySixteen}}
        Challenger Girls</a>
    </p>
  </div>
</div>