<div class="col-lg-12">
  <h2 class="titleMargin">Challenger League Schedules</h2>
</div>
<!-- Projects Row -->
<div class="row">
  <div class="col-lg-10">
    <div class="col-md-6 img-portfolio">
      <a class="no-link" href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=BBE1A6BA-AA20-44B1-863F-09C6C84F6F64&show=boys">
        <img class="img-responsive img-hover" src="/images/shutterstock_1728558.jpg" alt="">
      </a>
      <h3>
        <a class="no-link" href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=BBE1A6BA-AA20-44B1-863F-09C6C84F6F64&show=boys">{{currentYear}} Challenger League Boys Schedule</a>
      </h3>
    </div>
    <div class="col-md-6 img-portfolio">
      <a class="no-link" href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=BBE1A6BA-AA20-44B1-863F-09C6C84F6F64&show=girls">
        <img class="img-responsive img-hover" src="/images/shutterstock_80550457.jpg" alt="">
      </a>
      <h3>
        <a class="no-link" href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=BBE1A6BA-AA20-44B1-863F-09C6C84F6F64&show=girls">{{currentYear}} Challenger League Girls Schedule</a>
      </h3>
    </div>
  </div>
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-10">
    <br/>
    <h3>Important Info</h3>
    <a class="no-link" href="../documents/WhyRaiseFees.pdf">Why raise fees this year?</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-10">
    <br/>
    <h3>End of Season Tournament</h3>
    <div>No Info At This Time</div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10">
    <br/>
    <h4>Previous Years Schedules</h4>
    <div class="col-lg-5">
      <p><a class="no-link" href="http://uysa-nuuchallenger.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=1465E444-27C2-4E4A-B498-D93755236226&show=boys">{{twentySixteen}} Challenger Boys</a></p>
    </div>
    <div class="col-lg-5">
      <p><a class="no-link" href="http://uysa-nuuchallenger.sportsaffinity.com/Tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=1465E444-27C2-4E4A-B498-D93755236226&show=girls">{{twentySixteen}} Challenger Girls</a></p>
    </div>
  </div>
</div>