<div class="col-sm-12">
  <h2>Referees</h2>
  <!-- Page Content -->

  <!-- Image Header -->
  <div class="row">
    <div class="col-lg-12">
      <img class="img-responsive" src="/images/fcs2.jpg" alt="">
    </div>
  </div>
  <!-- /.row -->

  <!-- Service Tabs -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Referee Information</h2>
    </div>
    <div class="col-lg-12">

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#recreation">Recreational Referees</a></li>
        <li><a data-toggle="tab" href="#competition">Competition Referees</a></li>
      </ul>

      <div class="tab-content">
        <div id="recreation" class="tab-pane fade in active">
          <h4>Recreational Referees</h4>
          <div class="col-lg-10">
            <h4>Spring 2021 Rec Referee Certification</h4>
            <p>We need Adult and Youth referees age 14 and over. Becoming a recreation referee is a great way to learn
              how
              to be a referee, get some experience, help support our youth players and put a little extra cash in your
              pockets while your are at it.</p>
            <p><strong>Please Note:</strong> you only have to attend one class to become certified.</p>
            <p>Registration is Required. Due to COVID-19 restrictions, the number of participants in referee training
              classes will be limited. If more people want to participate in a specific training than space allows,
              classes will be broadcast via zoom. Please select the date you plan to attend by clicking on that date
              below and fill out the form that opens to reserve your spot in class or to get invited to the zoom
              meeting. All attendees via zoom musts have video and audio capability with video enabled for the entire
              class. E-mails will be sent the day before class with instructions for in-person attendance or the zoom
              link. Click on the date below that you wish to attend to fill out the registration form.</p>
            <h4>Our referee certification clinics will be held at the following times and locations:</h4>
            <ul>
              <ol><strong><a
                    href="https://docs.google.com/forms/d/e/1FAIpQLScS6TKvn_W0vdSs-6_wzzfMvnRujgS6wGiGMR5p8lQ4xwxIrQ/viewform?usp=sf_link"
                    target="_blank" class="no-link">Saturday March 27th</a></strong> from 9:00 am - 1:00 pm at the
                Logan Recreation Center, 195
                South 100
                West, Logan UT 84321</ol>
              <ol><strong><a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSdN3eJfh2AFdcNE3OCXye7ONj-Qr6ovg5mnfcl1RY4vjqKknQ/viewform?usp=sf_link"
                    target="_blank" class="no-link">Tuesday March 9th</a></strong> from 6:00 p.m. to 9:00 p.m. at
                the Richmond City Offices, 90 South 100 West, Richmond, Utah</ol>
              <ol><strong><a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSe8QPpELHH37GLWwA4ALH7_c_ii7tfpGHPoBpsn-Qlaqnsu3Q/viewform?usp=sf_link"
                    target="_blank" class="no-link">Saturday March 13th</a></strong> from 9:00 a.m. to 1:00 p.m. at
                the Smithfield Recreation Center, Team Room, 315 East 600 South, Smithfield, Utah</ol>

            </ul>
            <!--<h5>North Logan</h5>
                    <ul>
                      <ol><strong>Saturday, March 24th </strong>from 9:00 am - 12:00 pm at the North Logan Library</ol>
                    </ul>
                    <h5>Richmond</h5>
                    <ul>
                      <ol><strong>Thursday, March 22nd </strong>from 6:00 pm - 9:00 pm at the Richmond City Offices</ol>
                    </ul> -->
            <p>For more information call the NUU office at 753-8202</p>
            <br />
            <p>For questions about reffing in the <strong>Logan</strong> area, contact Cody or Lisa Hansen at:
              (435) 770-5805 or email at: <a href="mailto:lisakayhan@hotmail.com">lisakayhan@hotmail.com</a></p>
            <p>For questions about reffing in the <strong>North Logan</strong>, <strong>Hyde Park</strong> or
              <strong>Smithfield</strong> Areas, contact Jana Carling at (435) 753-8202 or email at: <a
                href="janaLgc@gmail.com">janaLgc@gmail.com</a>
            </p>
            <p>For questions about reffing in the <strong>Richmond/Lewiston</strong> area, contact Jana
              Carling at (435) 753-8202 or email at: <a href="janaLgc@gmail.com">janaLgc@gmail.com</a></p>
            <p>For questions about reffing in the <strong>Newton</strong> area, contact Natalie
              Phillips at (435) 760-9886 or email at: <a href="mailto:mrsnphillips@gmail.com">mrsnphillips@gmail.com</a>
            </p>
            <p>For questions about reffing in the <strong>Clarkston</strong> area, contact Stephanie
              Balls at (435) 374-8083 or email at: <a href="mailto:stephballsm@yahoo.com">stephballsm@yahoo.com</a>
            </p>
          </div>
        </div>
        <div id="competition" class="tab-pane fade">
          <h4>Competition Referees</h4>
          <div class="col-lg-10">
            <!-- <h4>Logan Entry Level Clinic</h4>
                <h5>March 24th &amp; 25th</h5>
  
                <p><strong>1st Day: </strong>Friday March 24th, 2017 at 6:00 - 9:30 pm</p>
                <p><strong>2nd Day: </strong>Saturday Marth 25th, 2017 at 9:00 am - 4:00 pm</p>
  
                <br/>
  
                <h5>Utah State University</h5>
                <div>5100 Old Main Hill</div>
                <div>Old Main Building Room #201</div>
                <div>Logan, UT 84322</div>
  
                <br/> -->

            <p>This clinic is an Entry Level Clinic for both Grade 8 &amp; Grade 9 referees for 2021. Participants
              must attend
              both sessions (Fri &amp; Sat ) to certify. The clinic runs Friday 6:00 - 9:00pm and on Saturday 9:00 am
              -
              4:00 pm.
            </p>
            <p>This clinic is an Entry Level Clinic for both Grade 8 &amp; Grade 9 referees for 2020. Participants
              must attend
              both sessions (Fri &amp; Sat ) to certify. The clinic runs Friday 6:00 - 9:00 pm and on Saturday 9:00 am
              - 4:00 pm. Please read the detailed description including the mandatory pre-requisites that must be
              completed
              PRIOR to attend the clinic as you sign up for this clinic at <a
                href="http://events.r20.constantcontact.com/register/event?oeidk=a07edvmsb0n67f1b459&llr=asxrzagab&showPage=true">this
                link</a>.</p>
            <p>Registration as a referee and payment of fees is also required prior to attending the clinic. If you
              have not
              prepaid your registration fees, you will not be admitted to the clinic. Register with US Soccer and pay
              your
              registration and clinic fees at the following link: <a
                href="http://ussf-utah.arbitersports.com/front/108707/registration">USSF-Utah registration</a></p>
            <p>Grade 8 registration fees include $82 for 2020 and an extra $20 for the remainder of 2019 for a total
              of $102.</p>
            <div>Grade 9 registration fees include $62 for 2020 and an extra $20 for the remainder of 2019 for a total
              of $82.</div>
            <p>Those age 14 or older, and those who will turn 14 by September 1, 2020, must register as a Grade 8
              referee.
              Children between the ages of 12 and 14 must register as Grade 9 referees. </p>
            <p>Please present a copy of your receipt at the clinic</p>
            <p>If you have questions or need assistance with registration, please contact SRA, Scott Harward at <a
                href="mailTo:scottieref@yahoo.com">scottieref@yahoo.com</a></p>

            <br />
            <hr>
            <br />

            <!-- <h4>Logan Recertification Clinic</h4>
                <h5>February 8th &amp; 9th</h5>
  
                <p><strong>1st Day: </strong>Wednesday February 8th, 2017 at 6:00 - 10:00 pm</p>
                <p><strong>2nd Day: </strong>Thursday February 9th, 2017 at 6:00 - 10:00 pm</p>
  
                <br/>
  
                <h5>Utah State University</h5>
                <div>5100 Old Main Hill</div>
                <div>Old Main Building Room #201</div>
                <div>Logan, UT 84322</div>
  
                <br/> -->

            <p>This clinic is an Recertification Clinic for previously certified Grade 8 &amp; Grade 9 referees for
              2017.
              The clinic runs Wed &amp; Thurs 6:00 - 10:00 pm, both nights. Participants must attend both nights to
              certify.(
              If you have never certified before, you must register for an Entry Level Clinic).
            </p>
            <h5>PLEASE READ THE FOLLOWING INSTRUCTIONS CAREFULLY</h5>
            <p>Participants must complete the US Soccer Grade 7 Online modules at:
              <a
                href="http://www.ussoccer.com/Referees/Resource-Center/Online-Training/Grade-7-Referee-Course.aspx"></a>
              ussoccer.com <strong>PRIOR</strong> to attending the clinic.
            </p>
            <p>Also read at least pages 1-5 of the new IFAB Law changes on the following link and be prepared to
              discuss these
              changes in the clinic <a
                href="http://static-3eb8.kxcdn.com/assets/documents/IFAB_laws_of_the_game_changes.pdf">here</a></p>
            <p>(Questions from the test are taken directly from those modules.) There is no need to print
              certificates. For
              "Clinic Number", enter "2017".</p>
            <p>Registration as a referee and payment of fees is also required prior to attending the clinic. If you
              have not
              prepaid your registration fees, you will not be admitted to the clinic. Register as a referee and pay
              your
              registration and clinic fees at: <a href="https://www1.arbitersports.com">
                https://www1.arbitersports.com</a></p>
            <p>Those age 14 or older must register as a Grade 8 referee. Children between the ages of 12 and 14 must
              register
              as Grade 9 referees. Those current Grade 9 referees who have or will have reached the age of 14 by May
              1,
              2017 should register as Grade 8 referees.</p>
            <p>You should received an email receipt from Propay after you pay your registration fees. Please present a
              copy
              of your receipt at the clinic. Please contact SRA, Scott Harward, at <a
                href="mailTo:scottieref@yahoo.com">scottieref@yahoo.com</a>.
              with any questions or assistance with registration.</p>
            <p><a
                href="http://events.r20.constantcontact.com/register/eventReg?llr=asxrzagab&oeidk=a07edqf5pb63170710d">Register
                Now!</a></p>
            <br />
            <hr>
            <br />

            <h4>How to Become a Competition Soccer Referee in Utah</h4>
            <p>All USSF affiliates, including the Utah Youth Soccer Association and the Utah Soccer Association,
              require that
              all participating referees be certified by the United States Soccer Federation (USSF). The Utah State
              Soccer
              Referee Committee (USSRC) is the governing body for Utah's USSF referees. It is the goal of this
              committee
              to actively recruit, develop, certify and advance referees for all levels of play.</p>
            <p>The Utah Soccer Referee program offers two Entry Level clinics, the USSF Grade 8 Referee and Grade 9
              Recreational
              Referee clinics, which are sponsored by affiliate organizations in various locations throughout the
              state.
              In order to become certified participants must attend one of the two courses. The courses differ in
              content
              and length. It is necessary to determine which clinic is more appropriate for age of the participant
              and/or
              the desired level of participation.</p>
            <p>The <a
                href="http://www.utahsoccerrefs.com/documents/2010_Information_for_New_Referees_English.pdf">Information
                for New Referees</a> document provides more insight into what is expected and required once you become
              a certified referee.</p>

            <br />
            <hr>
            <br />

            <h4>For New Competition Referees</h4>
            <p>Once you successfully complete a referee course (see the course information below) and register with
              the USSF,
              you will receive your badge and will need to get appropriate referee gear, including a soccer referee
              uniform,
              soccer referee flags, soccer referee cards, whistles, watches and shoes.</p>
            <p>Cost of the soccer referee uniforms vary but you can purchase good quality soccer referee uniforms for
              as little
              as $19.00 per referee jersey and $12 per referee shorts. You should also know that USSF approved five
              different
              colors of jerseys for its referees, including gold, black, blue, green and red. You should eventually
              purchase
              all five colors (you want to be able to change your jersey in the event one of the teams wears similar
              colors)
              but the gold referee jersey is considered standard and this is the one you should buy first.</p>
            <p>You can also choose from three different soccer assistant referee flags, including checkered soccer
              referee
              flags, diamond pattern soccer referee flags and solid soccer referee flags. They all are acceptable and
              which
              ones you use are a matter of your personal taste and preference. Good quality soccer assistant referee
              flags
              will cost you between $8.00 to $15.00 for a pair.</p>
            <p>With respect to soccer referee whistles, FOX 40 whistles are probably the best known and widely used
              referee
              whistles in the U.S but Acme whistles are a good choice as well. You can choose from multiple different
              designs
              such as classic or finger grip, with cushion mouth grip (CMG) or without. The cushion mouth grip
              whistles
              are ideal for those who hold their whistles in their mouths for extended periods of time. The most
              popular
              referee whistles on the market today are also pealess because they are the most reliable. Since there is
              no moving parts, these whistle will not freeze or jam and produce consistent, clear sound. At the very
              minimum,
              you should have two whistles with you at all time during your games. Depending on its design and its
              features,
              you should be prepared to spend between $3.00 and up to $10.00 on a good whistle.</p>
            <p>There are also many different types of soccer referee cards to choose from. There are, for example,
              write-on
              referee cards and single replacement referee cards. These cards are economically priced and you should
              be
              able to purchase them for as little as $2.00 to $4.00 per set. Somewhat more expensive but very popular
              are
              soccer referee wallets. The wallets come with one set of referee cards and may also include a coin
              holder
              pocket or Report Form with Score Pads. There are also fully equipped Soccer Referee Kits and organizers
              that
              include cards, score pads, notebooks, and room for your whistles and pen. These organizers will help you
              keep all of your small referee equipment items in one easy-to-find place. The wallets are priced
              somewhere
              between $4.00 and $8.00 and organizers up to $20.00.</p>
            <p>You will also have to get a soccer referee watch, preferably with a timer that has a stop/start
              function, to
              keep time of the game as well as wasted and added time. Some of the most popular referee watches are
              Champion
              Referee Watch and Robic Referee Watch. However, there are other sports watches such as those
              manufactured
              by Ohsen or O.T.S. that do the job as well. Their prices range from $15.00 to $33.00. You should always
              wear
              and keep the time of the game on two referee watches so that in case when one of them malfunctions the
              other
              shows the correct time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>