<div class="container">
  <div class="row page-head mat-typography">
    <div class="col-lg-12">
      <h1 class="page-header">High School Preparation
      </h1>
      <ol class="breadcrumb">
        <li><a routerLink="../home">Home</a>
        </li>
        <li class="active">High School Preparation</li>
      </ol>
    </div>
  </div>
  <div class="container pad-top-md">
    <h2>High School Preparation at Real Salt Lake Indoor Facility</h2>
    <div class="col-lg-12 pad-top-md">
      <div class="row">
        <div class="col-lg-5">
            <h4>Select the month to register for</h4>
          <a target="_blank" href="https://uysa.affinitysoccer.com/eventmanager/public/event.asp?calid=10315433" class="btn btn-primary shadow"><h4>Register
              Here
            </h4></a>
        </div>
      </div>
      <table class="col-lg-12 padding-bottom-large margin-top shadow">
        <tr>
          <th class="col-lg-1">Cost</th>
          <th class="col-lg-2">Player Capacity</th>
          <th class="col-lg-3">weekly sessions</th>
          <th class="col-lg-3">Dates</th>
          <th class="col-lg-3">Instructor</th>
        </tr>
        <tr>
          <td>$70</td>
          <td>20 per group (4 groups)</td>
          <td>3 sessions a week 6:15 AM - 7:15 AM</td>
          <td>November 26 - December 21</td>
          <td>NUU Director of Coaching Jeff Ginn</td>
        </tr>
      </table>
    </div>
    <div class="col-lg-12">
      <div class="card-deck margin-top">
        <div class="card card-outline-warning shadow">
          <div class="card-block">
            <h4 class="card-title text-center">Group 1</h4>
            <div class="card-text">
              <ul>
                <li>Mondays: Training</li>
                <li>Tuesdays: 10 vs 10</li>
                <li>Wednesdays: 5 vs 5</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card card-outline-warning shadow">
          <div class="card-block">
            <h4 class="card-title text-center">Group 2</h4>
            <div class="card-text">
              <ul>
                <li>Tuesdays: Training</li>
                <li>Wednesdays: 10 vs 10</li>
                <li>Thursdays: 5 vs 5</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card card-outline-warning shadow">
          <div class="card-block">
            <h4 class="card-title text-center">Group 3</h4>
            <div class="card-text">
              <ul>
                <li>Mondays: 5 vs 5</li>
                <li>Tuesdays: Training</li>
                <li>Thursdays: 10 vs 10</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card card-outline-warning shadow">
          <div class="card-block">
            <h4 class="card-title text-center">Group 4</h4>
            <div class="card-text">
              <ul>
                <li>Mondays: 10 vs 10</li>
                <li>Tuesdays: 5 vs 5</li>
                <li>Wednesdays: Training</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <h4 class="pad-top-md">Description</h4>
      <p>3 sessions a week: 1 training and 2 playing with the purpose of preparing players for High School soccer. Each player
        needs to bring their own size 5 soccer ball and water. </p>
      <p>For any questions please email <a href="mailto:NUUginn@gmail.com">NUUginn@gmail.com</a></p>
    </div>
    <div class="col-lg-12">
      <h2>1 Day - High School Tournament 5 vs 5 (Including GK’s)</h2>
      <div class="row">
          <div class="col-lg-5">
            <a target="_blank" href="https://uysa.affinitysoccer.com/eventmanager/public/event.asp?calid=10315433" class="btn btn-primary shadow"><h4>Register
                Here
              </h4></a>
          </div>
        </div>
      <table class="col-lg-12 padding-bottom-large margin-top shadow">
          <tr>
            <th class="col-lg-1">Cost</th>
            <th class="col-lg-2">Player Capacity</th>
            <th class="col-lg-3">Games</th>
            <th class="col-lg-3">December 27</th>
            <th class="col-lg-3">December 28</th>
          </tr>
          <tr>
            <td>$100 per team</td>
            <td>7 players per team</td>
            <td>12 minute long halfs with 1 minute half time, games are overseen, but not officiated
              <br/>
              4 game guarentee
            </td>
            <td>
              Freshmen League: 6 teams
              <br/>
              Juniors Leauge: 6 teams
            </td>
            <td>
                Sophomores League: 6 teams
                <br/>
                Seniors Leauge: 6 teams
            </td>
          </tr>
        </table>
        <h4>Schedules</h4>
        <table class="col-lg-12 padding-bottom-large margin-top shadow">
            <tr>
              <th class="col-lg-6">Freshmen &amp; Sophomores</th>
              <th class="col-lg-6">Juniors &amp; Seniors</th>
            </tr>
            <tr>
              <td>Kick off 7:30 am, 8:30 am, 9:30 am, &amp; 10:30 am (Championship &amp; Consolation matches)</td>
              <td>Kick off 8:00 am, 9:00 am, 10:00 am, &amp; 11:00 am (Championship &amp; Comsolation matches)</td>
            </tr>
          </table>
    </div>
    <hr>
  </div>