<div class="col-lg-12">
  <h2 class="titleMargin">UYSA Schedules</h2>
</div>
<div class="row">
  <div class="col-lg-10">
    <div class="col-md-6 img-portfolio">
      <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=1DE0B73B-6576-4C54-9156-A132656B0984">
        <img class="img-responsive img-hover" src="/images/shutterstock_1728558.jpg" alt="">
      </a>
      <h3>
        <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=1DE0B73B-6576-4C54-9156-A132656B0984">{{currentYear}} Boys SCL, IRL, X-League Schedules</a>
      </h3>
    </div>
    <div class="col-md-6 img-portfolio">
      <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=1DE0B73B-6576-4C54-9156-A132656B0984&show=girls">
        <img class="img-responsive img-hover" src="/images/shutterstock_80550457.jpg" alt="">
      </a>
      <h3>
        <a href="https://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=1DE0B73B-6576-4C54-9156-A132656B0984&show=girls">{{currentYear}} Girls SCL, IRL, X-League Schedules</a>
      </h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10">
    <br/>
    <h3>Important Info</h3>
    <a href="../documents/ProgramsSterling.pdf" class="no-link">Sterling Program</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-10">
    <br/>
    <h4>Previous Years Schedules</h4>
    <div class="col-lg-5">
      <p><a href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=91C70238-454B-4885-AABB-12B8B1CAEABB&show=boys">{{springSeventeen}} UYSA Boys</a></p>
      <p><a href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=714A94A4-B78D-421F-9EC7-0FCF25060908&show=boys">{{twentySixteen}} UYSA Boys</a></p>
    </div>
    <div class="col-lg-5">
      <p><a href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=91C70238-454B-4885-AABB-12B8B1CAEABB&show=girls">{{springSeventeen}} UYSA Girls</a></p>
      <p><a href="http://uysa.affinitysoccer.com/tour/public/info/accepted_list.asp?sessionguid=&tournamentguid=714A94A4-B78D-421F-9EC7-0FCF25060908&show=girls">{{twentySixteen}} UYSA Girls</a></p>
    </div>
  </div>
</div>
