<div class="col-lg-12 pad-bottom-lg">
  <h2 class="titleMargin">Challenger League Tryout Info</h2>
  <p>Challenger League tryouts for all U9 &amp; U10 teams only, may begin the week before Memorial day – beginning on May 22nd, 2017.</p>
  <p><strong>All other Age groups may not begin until the Tuesday, following Memorial day – May 30th, 2017.</strong></p>
  <p>Registration will open on Monday, June 5th and the NUU Registration deadline will be on Friday, June 23rd, 2017.</p>
  <p>If you are wanting to start a team, please go to the <a routerLink="resources">resources</a> page under downloads and look for registration instructions.  Then please fill out an ad regarding your tryout dates and times, on the tryout page.</p>
  <p>Make sure to review the <a routerLink="competitionLeague/RegistrationInfo">"Registration Info"</a> page thouroughly.</p>
  <p>The Challenger League will follow the same Tryout guidelines as the state competition program.  For more information go to section 6316 of the UYSA state bylaws and policies, <a href="https://usys-assets.ae-admin.com/assets/985/15/PlayerDevelopmentPoliciesMarch2017.pdf">here</a></p>
  <p><a href="../documents/NuuU7U8AcademyProgram.pdf">NUU U7 and U8 Academy Program</a></p>
  <p>If you have any additional questions, please feel free to email Terri Baker at <a href="mailTo:terribaker1@live.com">terribaker1@live.com</a></p>
</div>
<div class="col-lg-12">
    <iframe src="https://docs.google.com/spreadsheets/d/1hKu5ZZRTPHiDh7-zkm6nVyXXVKYZX86gwpPRpO84BV8/pubhtml?widget=true&amp;headers=false" width="760" height="500" marginheight="0" marginwidth="0">Loading...</iframe>
  </div>
