<h2>HANDBALL OR DELIBERATE HANDLING?</h2>
<div>May 17, 2012</div>
<div>Author Unknown</div>
<p>Handball, defined by many as, "contact between the hand and the ball" is not a foul, never has been, and referees are instructed
  not to call it a foul. Deliberate handling of the ball is a foul and referees are instructed to call it as such. So what
  is the difference you might ask? Let me give some examples of "handballs" that are not fouls:</p>
<ol>
  <li>Players are standing in a wall with their hands placed across their chest or in front of the groin area to protect themselves.
    The ball is kicked into their arms or hands. While the ball has made contact with the hands or arms, this is not deliberate
    handling of the ball and is not a foul.</li>
  <li>A hard shot, taken 3-5 yards away from a player , streaks toward the player’s head. In a flinch reaction, the player throws
    his hands up to protect his face and, in the process, strikes the ball. This is not deliberate handling of the ball.
    It is an involuntary reaction that is guaranteed to happen no matter how good the player is. This is not a foul.</li>
  <li>A player dribbles the ball on one of our "smooth as satin" fields when the ball hits a rock or clump of grass and bounces
    up. The ball strikes the player in the hand. This is not deliberate handling of the ball. And it doesn’t even matter
    if an advantage is gained. Consider the following:</li>
  <li>A striker shoots on goal. The keeper catches it. The striker turns and begins running up field vigorously pumping her arms.
    The keeper gets off a low line drive punt that arrives at the striker just as she swings her arm backwards. Her elbow
    strikes the ball driving it backwards into the goal. Did the player gain an advantage? Certainly, she scored a goal.
    Did she deliberately handle the ball? Not hardly. She was running with her back to the ball and didn’t even see it. Unless
    the referee sees the team practicing this play before the game, it is not a foul!!! Proper restart is a kick-off after
    the goal.</li>
</ol>
<p>All of these are examples of what may be called "handball" by some but clearly they are not deliberate and must not be called
  fouls. Well, you might ask, if these are not fouls, what are?</p>
<p>The following are examples of deliberate handling of the ball that must be penalized:</p>
<ol>
  <li>A shot is about to go into the goal and a fullback deliberately puts out her hand to stop the ball from going in the goal.
    This is a deliberate handling of the ball and is a foul.</li>
  <li>A long pass is about to go over the head of a defender who leaps in the air and bats the ball down. This is a deliberate
    handling of the ball and is a foul.</li>
  <li>A player fighting for a ball falls down. To prevent the other player from breaking free with the ball, the player reaches
    out and grabs the ball(this is not the same as making accidental contact after falling down)Clearly a deliberate act.
    Clearly a foul.</li>
  <li>A player goes to trap the ball on her chest but traps it with her arms instead. This is deliberate handling of the ball.
    She may not have meant to do it, but she deliberately placed her arms where they contacted the ball. Foul.</li>
  <li>In contrast to the second example above of a non-foul, a player puts up his hands to prevent being hit with a long through
    pass that travels 20 –30 yards in the air. This is a foul because the player has lots of time and lots of choices. He
    could head the ball, chest trap the ball, or even get out of the way. Putting the hands up is deliberately choosing to
    handle the ball. This is a foul.</li>
  <li>Finally, there are the deliberate handling of the ball by the better players who miraculously deflect the ball down to
    their feet when the referee is shielded. Since referees almost never see these anyway, it is probably not a good example.
    Should, however, any of us see a player deliberately deflecting the ball with his/her hands or arms, this is a foul.</li>
  <p>It seems that the first "rule" anyone learns about soccer is that you can’t use your hands and that if you strike the ball
    with your hands it is a foul! Unfortunately, while this is partially true, it is not correct. It is a foul only if, in
    the opinion of the referee, the player deliberately handled the ball. Too many "handball" fouls are being called when
    no foul occurred. The game, which is meant to flow, is needlessly being stopped and free kicks are being awarded when
    they shouldn’t be.</p>
  <h5>To all referees:</h5>
  <p>Do not call "handball" and award a free kick or penalty kick to the other team. "Handball" it is not a foul. The correct
    foul is "deliberate handling of the ball." More importantly, call the foul only if you are convinced that it was a deliberate
    handling of the ball. All the accidental strikings of the hand or arm by the ball are not deliberate and are not to be
    called unless the player then takes advantage of the contact to deliberately direct the ball to a desirable location.</p>
  <p>Ignore all help from others who call out "Handball ref"! A suggestion: When you see an alleged "handball," call out loudly
    to let everyone know you saw it but are not fooled and will not be goaded into calling a foul. "No foul!" or "Not deliberate!"
    or the aforementioned "Give me a break, willya!" work great.</p>
  <h5>To all the parents, coaches, and players who want to help the referees:</h5>
  <p>Please don’t yell "handball" at the referee. He/she is being told not to call handball fouls and to ignore your help. If
    you feel you must help the referee, then please yell "deliberate handling of the ball, ref!" if you are convinced this
    is what happened. </p>
</ol>