<div class="col-lg-12">
  <h2 class="titleMargin">UYSA League Tryout Info</h2>
  <p>State Comp League tryouts for all U9 &amp; U10 teams only, may begin the week before Memorial day – beginning on May 23rd, 2016.</p>
  <p><strong>All other Age groups may not begin until the Tuesday, following Memorial day – May 31st, 2016.</strong></p>
  <p>Registration will open on Monday, June 6th and the NUU Registration deadline will be on Friday, June 24th, 2016.</p>
  <p>If you are wanting to start a team, please go to the <a routerLink="resources">resources</a> page under downloads and look for registration instructions.  Then please fill out an ad regarding your tryout dates and times, on the tryout page.</p>
  <p>Make sure to review the <a routerLink="uysaStateCompetition/uysaRegistrationInfo">"Registration Info"</a> page thouroughly including the new age configurations for this 2016/17 season.</p>
  <p>If you have any additional questions, please feel free to email Terri Baker at <a href="mailTo:terribaker1@live.com">terribaker1@live.com</a></p>
</div>
