<div class="col-lg-12">
  <h2 class="titleMargin">UYSA League Tryout Info</h2>
  <p>State Comp League tryouts for all U9 &amp; U10 teams only, may begin the week before Memorial day – beginning on May 20th, 2019.</p>
  <p><strong>All other Age groups may not begin until the Tuesday, following Memorial day – May 28th, 2019.</strong></p>
  <p>Registration will open on Monday, June 5th and the NUU Registration deadline will be on Thursday, June 20th, 2019.</p>
  <p>If you are wanting to start a team, please go to the <a routerLink="resources">resources</a> page under downloads and look for registration instructions.  Then please fill out an ad regarding your tryout dates and times, on the tryout page.</p>
  <p>Make sure to review the <a routerLink="uysaStateCompetition/uysaRegistrationInfo">"Registration Info"</a> page thoroughly.</p>
  <p>The Challenger League will follow the same Tryout guidelines as the state competition program.  For more information go to section 6316 of the UYSA state bylaws and policies, <a href="https://usys-assets.ae-admin.com/assets/985/15/PlayerDevelopmentPoliciesMarch2017.pdf">here</a></p>
  <p>If you have any additional questions, please feel free to email Terri Baker at <a href="mailTo:terribaker1@live.com">terribaker1@live.com</a></p>
</div>
<!-- <div class="col-lg-12">
    <iframe src="https://docs.google.com/spreadsheets/d/1IaTswzqKPU2e0qb3dkwYFtlklNdmOqJ169Lu5--SWwA/pubhtml?gid=763189148&single=true&chrome=false" width="760" height="500" marginheight="0" marginwidth="0">Loading...</iframe>
  </div> -->