<h2 class="titleMargin">News and Articles</h2>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Featured Articles</h3>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
      <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton">Featured Articles</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton1">NUU News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton2">Region 1 News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton3">UYSA News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton4">US Youth Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton5">US Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton6">General News</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <a href="http://bit.ly/12gKqmE" class="list-group-item">
        <h4 class="list-group-item-heading">Choosing the Right Soccer Program for your Player</h4>
        <p class="list-group-item-text">Recreation vs. Competition <i>AND</i> Independent Program vs. Club Program</p>
        <br/>
        <p class="list-group-item-text">Youth Soccer is growing in the US exponentially! We, Northern Utah United / Infinity SC, are proud to be a part of
          that enthusiastic growth. The sport of soccer has become so popular because of the many aspects of...</p>
      </a>
      <a href="http://www.telegraph.co.uk/sport/football/10693435/Sound-of-silence-speaks-volumes-about-bawling-parents.html" class="list-group-item">
        <h4 class="list-group-item-heading">Sound of Silence Speaks Volumes About Bawling Parents</h4>
        <p class="list-group-item-text">Lancashire FA’s Silent Weekend, where parents can watch but not shout, proves to be a big success.</p>
        <br/>
        <p class="list-group-item-text">There was an unusual noise emanating from the parks and public spaces of Lancashire last weekend. In recreation grounds
          and council playing fields across the county it was a clatter quite unlike....</p>
      </a>
      <a href="http://www.soccerclassroom.com/coaching-blog/keeping-your-cool-as-a-youth-soccer-coach/" class="list-group-item">
        <h4 class="list-group-item-heading">Keeping your Cool as a Youth Soccer Coach</h4>
        <p class="list-group-item-text">Have you ever noticed how the best coaches are usually the most calm? Perhaps this is simply a reflection of their
          happiness with the victory occurring on the pitch, but you’ll often notice that these coaches have a similar demeanor
          during losses and matches where things aren’t going their team’s way. Likewise, the coaches who...</p>
      </a>
      <a href="http://bit.ly/12gHxlK" class="list-group-item">
        <h4 class="list-group-item-heading">The Importance of Adversity in Growth and Development</h4>
        <p class="list-group-item-text">The development path to excellence in anything is filled with moments of great reward; but challenge, disappointment,
          and frustration are also frequent companions on the road. While that sounds demotivating, and perhaps an article
          about growth and development shouldn’t be so blunt, this truth cannot be hidden or ignored. Ignoring reality doesn’t
          make it different, and naivety almost always impairs anyone’s ability to navigate complex situations.</p>
      </a>
      <a href="http://bit.ly/12gKqmE" class="list-group-item">
        <h4 class="list-group-item-heading">Legendary Coaching Mentor Horst Wein on Improving Youth Soccer Development in America</h4>
        <p class="list-group-item-text">As an outspoken advocate of a more child-centered approach to soccer, Wein has spoken widely of “game intelligence”
          and the need for major changes in youth soccer. “It is not sufficient to teach your players well,” he has said,
          “it’s essential for future successes to prepare them better than others.”</p>
      </a>
      <a href="http://www.soccernation.com/j-rgen-klinsmann-on-youth-soccer-cms-1894" class="list-group-item">
        <h4 class="list-group-item-heading">Jürgen Klinsmann on Youth Soccer in the US</h4>
        <p class="list-group-item-text">January 29, 2013 | Today, the U.S. Men’s National Team held a heavy possession advantage against Canada and played
          its rival to the north to a scoreless draw at BBVA Compass Stadium. The U.S., which is celebrating its 100-year
          anniversary, kicked off the Centennial campaign by extending its unbeaten streak against Canada to 16 games (8-0-8).
          U.S.
        </p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">He put up a good fight!</h4>
        <p class="list-group-item-text">Kenton Reynolds came home from the hospital on Sunday, January 20th after his bone marrow transplant. Unfortunately
          his cancer came back stronger than ever and he passed away on Tuesday January 22nd, a bit..</p>
      </a>
      <a href="http://bit.ly/WAKw27" class="list-group-item">
        <h4 class="list-group-item-heading">Barcelona Fever and U.S. Soccer</h4>
        <p class="list-group-item-text">In the past few years we have been experiencing a “Barcelona Fever” around the world, which is understandable due
          to the high level of soccer they have been playing, something one might call pure art. To all soccer fans throughout
          the world this is fantastic; however, this “Barcelona Fever” is somehow confusing some soccer professionals and
          causing negative achievements in terms of youth development. First we need to understand how...</p>
      </a>
      <a href="http://bit.ly/WAKJ5r" class="list-group-item">
        <h4 class="list-group-item-heading">Development in Youth Soccer – What Does It Mean?</h4>
        <p class="list-group-item-text">Much has been said lately about Development in Youth Sports. The expression “It’s about development” is constantly
          being used to define and explain many situations presently occurring in the SoCal soccer scene. As it happens,
          the meaning of Development gets even more important when...</p>
      </a>
      <a href="http://bit.ly/WlrgYs" class="list-group-item">
        <h4 class="list-group-item-heading">The Evolution of the Outside Back</h4>
        <p class="list-group-item-text">Like many things in this world, soccer is constantly evolving. Technology with equipment is becoming more advanced
          every day, we are able to track players distances traveled with computer chips, and the strategies have been evolving.
          One of the most significant in my opinion is the importance of having an...</p>
      </a>
      <a href="http://www.soccernation.com/soccer-coach-john-napier-on-things-my-mother-never-told-me-cms-3751" class="list-group-item">
        <h4 class="list-group-item-heading">Things My Mother Never Said to Me as a Soccer Player</h4>
        <p class="list-group-item-text">Things My Mother Never Said to Me as a Soccer Player ~ By: John Napier ~ Do We as Parents Really Know What Is Best
          for Our Children? In today’s modern sports world, where the parents of young athletes determine what is “best”
          for their children (even though it is not always the best choice for them), it is refreshing to come across articles
          like the one below. Too many times – in all sports – the team coach or club has been in situations where they are
          not able to function without parent interference and a lot of...</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Personal Foul: Parents - Part 1</h4>
        <p class="list-group-item-text">Several violent moments erupted during Utah youth sporting events over the past few months. The first, happened in
          Monroe. Referees there called an eighth-grade football game after halftime because of unruly parents and players.
          Then, a Payson coach was charged with...</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Personal Foul: Parents - Part 2</h4>
        <p class="list-group-item-text">Every year, roughly 40 million kids sign up for youth sports across the country. While that may seem like a lot,
          several studies show most of those kids want to quit sports altogether by the age of 13. The reason?</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">USU Soccer Team Headed to NCAA Tourney</h4>
        <p class="list-group-item-text">USU beats No. 19 Denver in WAC tournament final. By Jason Turner | Herald Journal. It was a fairy tale ending for
          the Aggies in their final season in the Western Athletic Conference. Utah State went ahead on an own goal in the
          fourth minute and was able to...</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Bair lead La Rocca to New Heights</h4>
        <p class="list-group-item-text">Former Sky View great Stacy Bair has always endeavored to play against the best soccer players in the country and,
          at the same time, prove athletes from Utah can compete against the elite of the elite. Bair and her teammates at
          the Ogden based La Roca Futbol Club certainly...</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Cache Valley Cup Continues to Grow </h4>
        <p class="list-group-item-text">More than 3,100 kids between the ages of 9 and 18 will be competing in the valley’s largest annual soccer tournament.
          The eighth installment of the Cache Valley Cup kicked off...</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Local Teams Compete in National Tourament</h4>
        <p class="list-group-item-text">After winning their age group championship in the Utah State President’s Cup earlier this year, the Infinity SC '97
          (U15 girls) and Internationals '98 (U14 boys) teams are on their way to</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">HANDBALL OR DELIBERATE HANDLING?</h4>
        <p class="list-group-item-text">Handball, defined by many as, "contact between the hand and the ball" is not a foul, never has been, and referees
          are instructed not to call it a foul. Deliberate handling...</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Total Football</h4>
        <p class="list-group-item-text">'Total Football' and its attacking pressure are very spectacular. It places great demands on individual and team
          tactical excellence... An absolute prerequisite, to master such a team tactical aspect, is that all the players
          possess a...</p>
      </a>
      <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Teach Principles, Not Aspects</h4>
        <p class="list-group-item-text">As a coach and trainer, there are only so many hours in a day, and only so many hours we have with our kids to teach
          them how to play soccer. If we want to maximize our...</p>
      </a>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">NUU News</h3>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
      <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton1">
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton">Featured Articles</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton1">NUU News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton2">Region 1 News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton3">UYSA News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton4">US Youth Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton5">US Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton6">General News</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">What's up with the new logo?</h4>
      <p class="list-group-item-text">The Boards of Directors for both Northern Utah United Youth Soccer and Infinity Soccer Club are proud to announce that
        we are merging, effective November 14, 2014.</p>
      <p>Northern Utah United and Infinity SC together have had a productive and positive working relationship for years, based
        on similar philosophies and the resolution to provide this community with...</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Sad News</h4>
      <p class="list-group-item-text">Dr. Manuel Carias, former District 7 Vice Chairman, passed away in his home in Guatemala on March 5th at age 55. Manuel
        served on the District 7 board from 2007 - 2008, coached several competition teams in the valley, and ...</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Northern Utah United's Monthly Newsletters</h4>
      <p class="list-group-item-text">A monthly newsletter devoted to the Youth Soccer news in the region.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Region 1 2013 President’s Cup Results</h4>
      <p class="list-group-item-text">We had several teams from Region #1 travel to Mesquite, NV to participate in the first half (U14-U17) of UYSA's 2013
        Presidents Cup Tournament over the past weekend where they acheived some great results...</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Cache Valley Cup Continues to Grow</h4>
      <p class="list-group-item-text">More than 3,100 kids between the ages of 9 and 18 will be competing in the valley’s largest annual soccer tournament.
        The eighth installment of the Cache Valley Cup kicked off...</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Local Teams Compete in National Tournament</h4>
      <p class="list-group-item-text">After winning their age group championship in the Utah State President’s Cup earlier this year, the Infinity SC '97
        (U15 girls) and Internationals '98 (U14 boys) teams are on their way to...</p>
    </a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Region 1 News</h3>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton2" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
      <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton2">
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton">Featured Articles</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton1">NUU News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton2">Region 1 News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton3">UYSA News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton4">US Youth Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton5">US Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton6">General News</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">04/09/2016 Real Salt Lake unveils plans for North Logan training complex!</h4>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">09/11/2014 UYSA Region 1 Referees Making it Big Time</h4>
      <p class="list-group-item-text">We thought we would provide a little update on what is happening in the local soccer referee community.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">02/04/2013 SV Sophmore Helps Lead Club to Big Title</h4>
      <p class="list-group-item-text">Not only did Madie Siddoway get to escape the bitter cold of Cache Valley for a week, she also helped lead her soccer
        team to a prestigious championship. The Sky View sophomore is a starting midfielder for the La Roca Futbol Club 97
        Premier team, which recently won its bracket at the nationally renowned Disney College Showcase. The tournament was
        held from Dec. 31-Jan. 3 at the ESPN Wide World of Sports Complex in Kissimmee, Fla.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">01/23/2013 He put up a good fight!</h4>
      <p class="list-group-item-text">Kenton Reynolds came home from the hospital on Sunday, January 20th after his bone marrow transplant. Unfortunately
        his cancer came back stronger than ever and he passed away on Tuesday January 22nd, a bit...</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">01/22/2013 Region 1 President's Cup Results</h4>
      <p class="list-group-item-text">We had several teams from Region #1 travel to Mesquite, NV to participate in the first half (U14-U17) of UYSA's 2013
        Presidents Cup Tournament over the past weekend where they achieved some great results...</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">12/04/2012 Banner season for several local college soccer players</h4>
      <p class="list-group-item-text">By Jason Turner | The Herald Journal ~ It was a banner year for several Cache Valley women’s soccer players competing
        at the collegiate level.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">2012 Herald Journal All-Valley Girls Soccer Team</h4>
      <p class="list-group-item-text">By Jason Turner | Herald Journal</p>
      <ul>
        <li>Player of the Year — Katie Call, Sr., D, Preston</li>
        <li>Newcomer of the Year — Kanyan Ward, Fr., F, Logan</li>
        <li>Top Utility Player — Karlee Campbell, Sr., D/F, Mtn. Crest</li>
      </ul>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">USU Soccer Team Headed to NCAA Tourney</h4>
      <p class="list-group-item-text">USU beats No. 19 Denver in WAC tournament final. By Jason Turner | Herald Journal. It was a fairy tale ending for the
        Aggies in their final season in the Western Athletic Conference. Utah State went ahead on an own goal in the fourth
        minute and was able to...</p>
    </a>
    <a href="http://bit.ly/KnEsSj" class="list-group-item">
      <h4 class="list-group-item-heading">05/18/2012 Mountain View star forward Reyes too much for Logan</h4>
    </a>
    <a href="http://news.hjnews.com/sports/article_1820f43c-9fe1-11e1-a989-001a4bcf887a.html" class="list-group-item">
      <h4 class="list-group-item-heading">05/17/2012 Marquez's golden goal lifts Logan - Grizzlies to play defending 4A runner-ups in quarterfinals</h4>
    </a>
    <a href="http://bit.ly/KNx0Vc" class="list-group-item">
      <h4 class="list-group-item-heading">05/16/2012 Murray Ends Mountain Crest’s Season With 4-0 First-Round Win</h4>
    </a>
    <a href="http://news.hjnews.com/sports/article_8d0295fe-9e4b-11e1-a682-001a4bcf887a.html" class="list-group-item">
      <h4 class="list-group-item-heading">05/15/2012 Mt. Crest beats Timpview in state soccer play-in game</h4>
    </a>
    <a href="http://news.hjnews.com/sports/article_89f0fc26-9bf7-11e1-a40b-0019bb2963f4.html" class="list-group-item">
      <h4 class="list-group-item-heading">05/12/2012 Grizzlies capture share of region boys soccer title</h4>
    </a>
    <a href="http://www.utahyouthsoccer.net/story/2012/01/20/utah-youth-soccer-launches-online-coaching-education-platform/#en"
      class="list-group-item">
      <h4 class="list-group-item-heading">UYSA announces new online coaching education</h4>
    </a>
    <a href="http://www.cachesportsmedia.com/2012/02/06/valley-soccer-team-is-making-some-regional-noise/" class="list-group-item">
      <h4 class="list-group-item-heading">Valley Team Making Some Western Regional Noise</h4>
    </a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">UYSA News</h3>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton3" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
      <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton3">
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton">Featured Articles</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton1">NUU News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton2">Region 1 News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton3">UYSA News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton4">US Youth Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton5">US Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton6">General News</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">08/10/2015 UYSA Announces Major Changes to Youth Soccer Format</h4>
      <p class="list-group-item-text">US Youth Soccer has implemented changes to the size of youth teams and the way they will be organized.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">02/01/2015 UYSA ODP Wins First National Championship</h4>
      <p class="list-group-item-text">Utah Youth Soccer's 99 Boys team from the Olympic Developmental Program just won the National Title for the US Youth
        Soccer Association. They had to play other powerhouse states such as...</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">01/30/2013 Important coaching license changes</h4>
      <p class="list-group-item-text">UYSA announced important changes regarding their coaching license requirements and coaching education. These changes
        are in response the license curriculum changes that were addopted by US Soccer this month.</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">UYSA announces their new "State Comp" tryout policy</h4>
      <p class="list-group-item-text">This was passed at last Thursday’s Board Meeting (12/13/12). The new policy can be found below and under Section 6315
        of UYSA's Bylaws &amp; Policies. For any questions, please contact the UYSA State Office at 801-268-3365.</p>
    </a>
    <a href="http://bit.ly/KnEsSj" class="list-group-item">
      <h4 class="list-group-item-heading">Youth Soccer Rising in Popularity</h4>
    </a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">US Youth Soccer News</h3>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton4" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
      <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton4">
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton">Featured Articles</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton1">NUU News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton2">Region 1 News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton3">UYSA News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton4">US Youth Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton5">US Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton6">General News</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p>FRISCO, Texas (January 16, 2015) — US Youth Soccer, the largest youth sports organization in the country, has reported
      a 9 percent increase in its membership over the past year — a figure the association believes is indicative of the
      growing interest in soccer across the United States and the excitement generated by the 2014 FIFA World Cup in addition
      to improved programs for associations.</p>
    <p>In 2014, US Youth Soccer saw its annual registration grow to 3,055,148, meaning that more than 4 percent of the U.S.
      population 18 years old and younger played US Youth Soccer. The growth included new players and players returning to
      the association. The year featured added awareness of the game through a highly talked about FIFA World Cup, the continued
      expansion of MLS and 82 live broadcasts from the US Youth Soccer National Championships.</p>
    <p>“More parents are seeing the game of soccer, along with the teamwork and fitness involved, and kids see the fun, which
      translates into more active youth,” said US Youth Soccer Director of Marketing and Communications Todd Roby. “Last
      year marked our 40th Anniversary, and we are obviously delighted with the growth seen by our strong national association,
      which continues to feature best-in-class events, programs and educational opportunities for our membership. As we begin
      2015, we expect it will be another exciting year for our game.”</p>
    <p>US Youth Soccer is proud to be the “Game for ALL Kids,” and it offers several programs to meet the needs of any youth
      player — from beginners to recreational players to competitive players looking to continue their careers at the college,
      professional and National Team levels.</p>
    <p>Sixteen US Youth Soccer alumni were on the U.S. Men’s National Team that helped bring soccer to the forefront of the
      nation’s attention while playing in the 2014 FIFA World Cup. Their play and the attention it drew helped inspire a
      new generation of players to start their careers where much of the Men’s National Team did — with US Youth Soccer.</p>
    <p>US Youth Soccer consists of 55 member State Associations and more than 3 million players, 900,000 volunteers and 5,000
      youth soccer clubs in the United States. Through various programs at all levels of the game, US Youth Soccer impacts
      the American soccer landscape from earliest days of play through the collegiate, professional ant National Team ranks.
      As U.S. Soccer prepares for the 2015 FIFA Women’s World Cup this summer in Canada, US Youth Soccer is sure to be well
      represented on the field with alumni.</p>
    <p>Learn more about US Youth Soccer at <a href="http://www.usyouthsoccer.org/">USYouthSoccer.org</a>.</p>
    <p>About the United States Youth Soccer Association (US Youth Soccer) – US Youth Soccer - "The Game for ALL Kids!" is the
      largest youth sports organization in the country and largest member of the United States Soccer Federation, the governing
      body of soccer in the United States. US Youth Soccer registers more than 3 million players annually, ages 5 to 19,
      and over 900,000 administrators, coaches and volunteers in 55 member State Associations. US Youth Soccer programs provide
      a fun, safe and healthy environment for players at every level of the game. For more information, visit www.USYouthSoccer.org.</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">US Soccer News</h3>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton5" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
      <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton5">
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton">Featured Articles</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton1">NUU News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton2">Region 1 News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton3">UYSA News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton4">US Youth Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton5">US Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton6">General News</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">US Soccer Announces Sweeping Changes to Player Development Structures, Youth National Team System</h4>
      <p class="list-group-item-text">U.S. Soccer announced a sweeping series of initiatives and programming changes on Monday, a push intended to help “develop
        world-class players and coaches” by innovating new approaches to “three core areas” of player...</p>
    </a>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">U.S. Soccer Interview with Jurgen Klinsmann</h4>
      <p class="list-group-item-text">U.S. Men's National Team head coach Jurgen Klinsmann covers a variety of topics related to player development and shares
        his vision for the National Team program.</p>
    </a>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">General News</h3>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle pull-right" type="button" id="dropdownMenuButton6" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
          Go To
        </button>
      <div class="dropdown-menu pull-right" aria-labelledby="dropdownMenuButton6">
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton">Featured Articles</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton1">NUU News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton2">Region 1 News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton3">UYSA News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton4">US Youth Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton5">US Soccer News</a>
        <a class="dropdown-item" href="/resources/articles#dropdownMenuButton6">General News</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">RSL &amp; Sounders to Renew Their Heated Battle</h4>
      <p class="list-group-item-text">Tucson, AZ | Thursday, February 21, 2013 | After a fun and snowy evening on the third night of the Desert Diamond Cup,
        the end of the 2013 FC Tucson SoccerFest is just around the corner and Tucson is poised to send the month-long soccer
        extravaganza off in style. And who doesn't love watching their team lift a trophy following the game? Last season
        the LA Galaxy won the 2012 FC Tucson Desert Diamond Cup after an exciting series of penalty kicks and then went on
        to win MLS Cup 2012. Will Real Salt Lake continue this...</p>
    </a>
  </div>
</div>