<h2 class="titleMargin">Soccer Gear and Apparel</h2>
<h4>Al's Sporting Goods</h4>
<p>Al's Sporting Goods is the official uniform provider for Northern Utah United’s Recreation program and has a great selection
  of Soccer Stuff from the Recreational to the Serious Soccer player.</p>
<p><strong>Address: </strong><a href="https://www.google.com/maps/place/Al's+Sporting+Goods/@41.7514691,-111.8362997,15z/data=!4m2!3m1!1s0x0:0x867f0f0ee0e5c545?sa=X&sqi=2&ved=0ahUKEwi4vq_cxbXQAhUH4GMKHdDkDygQ_BIIdTAL">1075 N Main St, Logan, UT 84341</a></p>
<p><strong>Phone: </strong>(435) 752-5151</p>
<p>Visit their website at: <a href="http://www.alssports.com/">http://www.alssports.com/</a></p>
<hr>
<h4 class="padding-top">Scoreboard Sports</h4>
<div class="col-sm-6">
  <br/>
  <a href="/documents/ScoreboardSportsFlyer.pdf" class="list-group-item list-group-item-secondary"><p>Scoreboard Sports Flyer</p></a>
  <br/>
</div>
<div class="col-sm-6">
  <br/>
  <a href="/documents/ScoreboardSportsOrderForm.xlsx" class="list-group-item list-group-item-secondary"><p>Scoreboard Sports Order Form</p></a>
  <br/>
</div>
