<h2 class="titleMargin">Team and Individual Fundraising</h2>
<h4>The Winning Formula in Fundraising</h4>
<p>TriQuest has combined the world's largest, private, discount, network and the country's largest, mobile phone flash, discount,
  app into the best soccer fundraising card ever! This means you can simply flash the discount on the face of your smart
  phone and get the discount. This also means that you can use the discounts all across the country and can sell to friends
  and family outside your area and they can use as easily as you. You will find local, regional and national brand discounts.</p>
<p>The average user of this program saves about $1,280.00/year. Your soccer club/teams make 70% net profit and your supporters
  save hundreds of dollars throughout the year.</p>
<p>Go to: <a href="http://www.gotriquest.com/">TriQuest</a> for more information and/or to sign up, or go to <a href="http://www.triquestsavings.com">TriQuest Savings</a>  and enter the login code: <strong>1300-55</strong> to demo the program.</p>
