<div class="row">
  <div class="col-md-12">
    <h2>Directions to Fields and Venues</h2>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tournament Headquarters - Cedar Ridge</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <p>65 North 200 West Hyde Park</p>
          <ul>
            <li><strong>7007</strong> North Field</li>
            <li><strong>201</strong> North Field</li>
            <li><strong>202</strong> Center North Field</li>
            <li><strong>203</strong> Center South Field</li>
            <li><strong>204</strong> South Field</li>
            <li><strong>7120</strong> South Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/Cedar-Ridge-Fields.jpg" alt="Cedar Ridge Fields">
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Forrester Acres Fields</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <p>100 North 600 West Smithfield</p>
          <ul>
            <li><strong>7059</strong> West Field</li>
            <li><strong>55</strong> East Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/Forrester-Acres.jpg" alt="Forrester Acres Fields">
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sky View Fields</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <p>520 South 250 East Smithfield</p>
          <ul>
            <li><strong>11</strong> Northeast Field</li>
            <li><strong>7351</strong> Stadium Field</li>
            <li><strong>12</strong> Northwest Field</li>
            <li><strong>7350</strong> Southwest Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/Sky-View-Fields.jpg" alt="Sky View Fields">
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Meadowview Field</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <p>2800 North 400 East North Logan</p>
          <ul>
            <li><strong>7044</strong> East Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/Meadowview-Fields.jpg" alt="Meadowview Fields">
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Eld Ridge Fields</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <p>1060 East 2500 North North Logan</p>
          <ul>
            <li><strong>7054</strong> Center Field</li>
            <li><strong>7055</strong> East Field</li>
            <li><strong>7051</strong> South Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/Elk-Ridge-Fields.jpg" alt="Elk Ridge Fields">
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mt. Logan Fields</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <p>875 North 200 East Logan</p>
          <ul>
            <li><strong>5</strong> North East Field</li>
            <li><strong>6</strong> Center Field</li>
            <li><strong>8</strong> South Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/Mt-Logan-Fields.jpg" alt="Mt Logan Fields">
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Blackhawk Fields</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <p>250 West Legrand Street Logan</p>
          <ul>
            <li><strong>7002</strong> Northwest Field</li>
            <li><strong>7003</strong> Southwest Field</li>
            <li><strong>7022</strong> Northeast Field</li>
            <li><strong>7018</strong> Southeast Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/Blackhawk-Fields.jpg" alt="Blackhawk Fields">
        </div>
      </div>
    </div>
  </div>
</div>
<hr>