<div class="row">
  <div class="col-md-12">
    <h2>Directions to Fields and Venues</h2>
    <h4>Goal nets have accurate numbers and wording is now accurate but maps may be slightly off because of how fields got painted</h4>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Tournament Headquarters - RSL Fields</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <ul>
            <li><strong>436</strong> East Field</li>
            <li><strong>437</strong> West Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/RSL.png" alt="RSL Fields">
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cedar Ridge</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <p>65 North 200 West Hyde Park</p>
          <ul>
            <li><strong>7009</strong> North Field</li>
            <li><strong>707</strong> Center Field</li>
            <li><strong>701</strong> South Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/cedarRidge.png" alt="Cedar Ridge Fields">
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Forrester Acres Fields</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <p>100 North 600 West Smithfield</p>
          <ul>
            <li><strong>56</strong> East Field</li>
            <li><strong>55</strong> West Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/ForesterAcres.png" alt="Forrester Acres Fields">
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Sky View Fields</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <p>520 South 250 East Smithfield</p>
          <ul>
            <li><strong>11</strong> Northeast Field</li>
            <li><strong>7350</strong> Stadium Field</li>
            <li><strong>12</strong> Southwest Field</li>
            <li><strong>7351</strong> Northwest Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/SkyView.png" alt="Sky View Fields">
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Elk Ridge Fields</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <p>1100 East 2500 North North Logan</p>
          <ul>
            <li><strong>7053</strong> Northwest Field</li>
            <li><strong>7055</strong> Northeast Field</li>
            <li><strong>7051</strong> Southwest Field (grass west of turf field)</li>
            <li><strong>7050</strong> Southeast Field (Turf)</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/ElkRidge.png" alt="Elk Ridge Fields">
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mt. Logan Fields</h3>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Green Canyon Fields</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <ul>
            <li><strong>7434</strong> Southwest Field</li>
            <li><strong>7432</strong> South Field</li>
            <li><strong>7433</strong> Southeast Field</li>
            <li><strong>7431</strong> Northeast of Stadium Field</li>
            <li><strong>7430</strong> Stadium Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/GreenCanyon.png" alt="Green Canyon Fields">
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Meadow View Fields</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <ul>
            <li><strong>Field 9</strong> East Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/MeadowView.png" alt="Meadow View Fields">
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mount Logan Fields</h3>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <ul>
            <li><strong>Field 5</strong> Northeast Field</li>
            <li><strong>Field 6</strong> center Field</li>
            <li><strong>Field 8</strong> South Field</li>
          </ul>
        </div>
        <div class="col-sm-6">
          <img src="/images/MountLogan.png" alt="Mount Logan Fields">
        </div>
      </div>
    </div>
  </div>
</div>
<hr>